Repository GaloyMoney/blink, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, dashboard, consent, pay, admin-panel, map, voucher, core, api-keys, notifications

.github/labeler.yml:

ci:
  - changed-files:
      - any-glob-to-any-file:
          - ci/**/*
          - .github/**/*

dashboard:
  - changed-files:
      - any-glob-to-any-file:
          - apps/dashboard/**/*
          - flake.lock
          - pnpm-lock.yaml

consent:
  - changed-files:
      - any-glob-to-any-file:
          - apps/consent/**/*
          - flake.lock
          - pnpm-lock.yaml

pay:
  - changed-files:
      - any-glob-to-any-file:
          - apps/pay/**/*
          - flake.lock
          - pnpm-lock.yaml

admin-panel:
  - changed-files:
      - any-glob-to-any-file:
          - apps/admin-panel/**/*
          - flake.lock
          - pnpm-lock.yaml

map:
  - changed-files:
      - any-glob-to-any-file:
          - apps/map/**/*
          - flake.lock
          - pnpm-lock.yaml

voucher:
  - changed-files:
      - any-glob-to-any-file:
          - apps/voucher/**/*
          - flake.lock
          - pnpm-lock.yaml


core:
  - changed-files:
      - any-glob-to-any-file:
          - core/api/**/*
          - core/api-cron/**/*
          - core/api-exporter/**/*
          - core/api-trigger/**/*
          - core/api-ws-server/**/*
          - flake.lock
          - pnpm-lock.yaml

api-keys:
  - changed-files:
      - any-glob-to-any-file:
          - third-party/rust/**/*
          - core/api-keys/**/*
          - flake.lock
          - Cargo.lock

notifications:
  - changed-files:
      - any-glob-to-any-file:
          - third-party/rust/**/*
          - core/notifications/**/*
          - flake.lock
          - Cargo.lock

feat(notifications): in app notification entity
  core/notifications/migrations/20240406100757_create_in_app_notifications.up.sql
  core/notifications/src/app/mod.rs
  core/notifications/src/in_app_executor/mod.rs
  core/notifications/src/in_app_notification/entity.rs
  core/notifications/src/in_app_notification/error.rs
  core/notifications/src/in_app_notification/repo.rs
Labels: notifications

chore(notifications): rename notifications mutation
  bats/core/notifications/notifications.bats
  bats/gql/user-in-app-notification-mark-as-read.gql
  bats/gql/user-mark-in-app-notification-as-read.gql
  core/notifications/src/graphql/schema.rs
  core/notifications/subgraph/schema.graphql
  dev/config/apollo-federation/supergraph.graphql
Labels: notifications

feat(notifications): implement InAppNotification
  core/notifications/.sqlx/query-6d3adba585840653c0cc1cfc5eb08275e2011bbb67aeb80a5ef104dc5abe9616.json
  core/notifications/.sqlx/query-80838ccf6602a8efe13fdd66989d14b7445800f2c5c181c26d3f1d59336276d2.json
  core/notifications/.sqlx/query-bdb5013b961bedae51a67a9ff5d3dab104d2e486ae626c3f249142b99a975621.json
  core/notifications/migrations/20240406100757_create_in_app_notifications.down.sql
  core/notifications/migrations/20240406100757_create_in_app_notifications.up.sql
  core/notifications/src/app/error.rs
  core/notifications/src/app/mod.rs
  core/notifications/src/graphql/convert.rs
  core/notifications/src/graphql/schema.rs
  core/notifications/src/graphql/types.rs
  core/notifications/src/in_app_channel/error.rs
  core/notifications/src/in_app_channel/mod.rs
  core/notifications/src/in_app_executor/error.rs
  core/notifications/src/in_app_executor/mod.rs
  core/notifications/src/in_app_notification/entity.rs
  core/notifications/src/in_app_notification/error.rs
  core/notifications/src/in_app_notification/mod.rs
  core/notifications/src/in_app_notification/repo.rs
  core/notifications/src/lib.rs
  core/notifications/src/primitives.rs
Labels: notifications

chore(notifications): remove unused gql endpoints
  apps/dashboard/services/graphql/generated.ts
  bats/core/notifications/notifications.bats
  bats/gql/user-disable-notification-category.gql
  bats/gql/user-disable-notification-channel.gql
  bats/gql/user-enable-notification-category.gql
  bats/gql/user-enable-notification-channel.gql
  core/notifications/src/graphql/convert.rs
  core/notifications/src/graphql/schema.rs
  core/notifications/src/graphql/types.rs
  core/notifications/subgraph/schema.graphql
  dev/config/apollo-federation/supergraph.graphql
Labels: dashboard, notifications

feat(notifications): add mark notification read mutation
  core/notifications/src/graphql/schema.rs
  core/notifications/subgraph/schema.graphql
  dev/config/apollo-federation/supergraph.graphql
Labels: notifications

chore(notifications): remove in_app_executor
  core/notifications/.sqlx/query-0c1b2ffe0cbc99d2b28a10791589f8cdc93ecf748f8550948119d1f2da5b4b01.json
  core/notifications/.sqlx/query-6d3adba585840653c0cc1cfc5eb08275e2011bbb67aeb80a5ef104dc5abe9616.json
  core/notifications/.sqlx/query-80838ccf6602a8efe13fdd66989d14b7445800f2c5c181c26d3f1d59336276d2.json
  core/notifications/.sqlx/query-f3ee924ad05e1a99de6abd44ae5e024ec12f66377840b550e06c1a29ae6b1305.json
  core/notifications/src/app/mod.rs
  core/notifications/src/graphql/convert.rs
  core/notifications/src/graphql/types.rs
  core/notifications/src/in_app_executor/config.rs
  core/notifications/src/in_app_executor/error.rs
  core/notifications/src/in_app_executor/mod.rs
  core/notifications/src/in_app_notification/entity.rs
  core/notifications/src/in_app_notification/repo.rs
  core/notifications/src/job/error.rs
  core/notifications/src/job/mod.rs
  core/notifications/src/job/send_in_app_notification.rs
  core/notifications/src/lib.rs
Labels: notifications

chore(notifications): impl batch insert for notifications
  core/notifications/src/in_app_notification/repo.rs
Labels: notifications

chore(notifications): create index on galoy_user_id
  core/notifications/migrations/20240406100757_create_in_app_notifications.up.sql
Labels: notifications

refactor(notifications): use builder pattern for NewInAppNotification
  core/notifications/.sqlx/query-1619814c8c207ce8ec66784b129f76a8d2701e6123a8564939c524bc34a50db0.json
  core/notifications/.sqlx/query-ecab5bdaeb8ad4b1d1cdd64aa12a602e0cea8538d5f0acb5df2fd4afa7de7106.json
  core/notifications/src/in_app_notification/entity.rs
  core/notifications/src/in_app_notification/mod.rs
  core/notifications/src/in_app_notification/repo.rs
Labels: notifications

Commit state of `notifications` at `7a743f6`
  core/notifications/.sqlx/query-7f658f6746ea4f803591356c3762f9a04ac6f7200686dab96f45c6a47aecb4a3.json
  core/notifications/.sqlx/query-b7ca1af7c06bb123ceb0a808475c7a7eade1ed968fd8f9d80b5348f2fc457ade.json
  core/notifications/.sqlx/query-e6e01efa4d7970e97d96d6b331294ae9c9cb19ecdcfd36561a7834947dbe291a.json
  core/notifications/.sqlx/query-ecab5bdaeb8ad4b1d1cdd64aa12a602e0cea8538d5f0acb5df2fd4afa7de7106.json
  core/notifications/.sqlx/query-f3ee924ad05e1a99de6abd44ae5e024ec12f66377840b550e06c1a29ae6b1305.json
  core/notifications/migrations/20240406100757_create_in_app_notifications.down.sql
  core/notifications/migrations/20240406100757_create_in_app_notifications.up.sql
  core/notifications/src/app/error.rs
  core/notifications/src/app/mod.rs
  core/notifications/src/graphql/convert.rs
  core/notifications/src/graphql/schema.rs
  core/notifications/src/graphql/types.rs
  core/notifications/src/in_app_notification/entity.rs
  core/notifications/src/in_app_notification/error.rs
  core/notifications/src/in_app_notification/mod.rs
  core/notifications/src/in_app_notification/repo.rs
  core/notifications/src/job/error.rs
  core/notifications/src/job/mod.rs
  core/notifications/src/lib.rs
  core/notifications/src/messages/mod.rs
  core/notifications/src/notification_event/circle_grew.rs
  core/notifications/src/notification_event/circle_threshold_reached.rs
  core/notifications/src/notification_event/identity_verification_approved.rs
  core/notifications/src/notification_event/identity_verification_declined.rs
  core/notifications/src/notification_event/identity_verification_review_started.rs
  core/notifications/src/notification_event/link_email_reminder.rs
  core/notifications/src/notification_event/marketing_notification_triggered.rs
  core/notifications/src/notification_event/mod.rs
  core/notifications/src/notification_event/price_changed.rs
  core/notifications/src/notification_event/transaction_occurred.rs
  core/notifications/src/primitives.rs
  core/notifications/src/push_executor/fcm/mod.rs
  core/notifications/src/user_notification_settings/repo.rs
  core/notifications/subgraph/schema.graphql
Labels: notifications

Commit state of `dashboard` at `7a743f6`
  apps/dashboard/services/graphql/generated.ts
  core/notifications/.sqlx/query-7f658f6746ea4f803591356c3762f9a04ac6f7200686dab96f45c6a47aecb4a3.json
  core/notifications/.sqlx/query-b7ca1af7c06bb123ceb0a808475c7a7eade1ed968fd8f9d80b5348f2fc457ade.json
  core/notifications/.sqlx/query-e6e01efa4d7970e97d96d6b331294ae9c9cb19ecdcfd36561a7834947dbe291a.json
  core/notifications/.sqlx/query-ecab5bdaeb8ad4b1d1cdd64aa12a602e0cea8538d5f0acb5df2fd4afa7de7106.json
  core/notifications/.sqlx/query-f3ee924ad05e1a99de6abd44ae5e024ec12f66377840b550e06c1a29ae6b1305.json
  core/notifications/migrations/20240406100757_create_in_app_notifications.down.sql
  core/notifications/migrations/20240406100757_create_in_app_notifications.up.sql
  core/notifications/src/app/error.rs
  core/notifications/src/app/mod.rs
  core/notifications/src/graphql/convert.rs
  core/notifications/src/graphql/schema.rs
  core/notifications/src/graphql/types.rs
  core/notifications/src/in_app_notification/entity.rs
  core/notifications/src/in_app_notification/error.rs
  core/notifications/src/in_app_notification/mod.rs
  core/notifications/src/in_app_notification/repo.rs
  core/notifications/src/job/error.rs
  core/notifications/src/job/mod.rs
  core/notifications/src/lib.rs
  core/notifications/src/messages/mod.rs
  core/notifications/src/notification_event/circle_grew.rs
  core/notifications/src/notification_event/circle_threshold_reached.rs
  core/notifications/src/notification_event/identity_verification_approved.rs
  core/notifications/src/notification_event/identity_verification_declined.rs
  core/notifications/src/notification_event/identity_verification_review_started.rs
  core/notifications/src/notification_event/link_email_reminder.rs
  core/notifications/src/notification_event/marketing_notification_triggered.rs
  core/notifications/src/notification_event/mod.rs
  core/notifications/src/notification_event/price_changed.rs
  core/notifications/src/notification_event/transaction_occurred.rs
  core/notifications/src/primitives.rs
  core/notifications/src/push_executor/fcm/mod.rs
  core/notifications/src/user_notification_settings/repo.rs
Labels: dashboard, notifications

chore(release): [ci skip] bump quickstart image to sha256@a4e596319bf8b34fa084158f672354bc7167f992c2a6d85f2af426ef47a32bbf
  quickstart/dev/config/apollo-federation/supergraph.graphql
  quickstart/docker-compose.tmpl.yml
  quickstart/docker-compose.yml
  quickstart/graphql/gql/user-disable-notification-category.gql
  quickstart/graphql/gql/user-disable-notification-channel.gql
  quickstart/graphql/gql/user-enable-notification-category.gql
  quickstart/graphql/gql/user-enable-notification-channel.gql
  quickstart/graphql/gql/user-in-app-notification-mark-as-read.gql
  quickstart/graphql/gql/user-in-app-notifications.gql
  quickstart/vendir.lock.yml
  quickstart/vendir.yml
  quickstart/vendir/values.yml
Labels: none

chore: wip extract email trait from NotificationEvent
  core/notifications/src/notification_event/circle_grew.rs
  core/notifications/src/notification_event/circle_threshold_reached.rs
  core/notifications/src/notification_event/identity_verification_approved.rs
  core/notifications/src/notification_event/identity_verification_declined.rs
  core/notifications/src/notification_event/identity_verification_review_started.rs
  core/notifications/src/notification_event/link_email_reminder.rs
  core/notifications/src/notification_event/marketing_notification_triggered.rs
  core/notifications/src/notification_event/mod.rs
  core/notifications/src/notification_event/price_changed.rs
  core/notifications/src/notification_event/traits.rs
  core/notifications/src/notification_event/transaction_occurred.rs
Labels: notifications

Added test account credentials in README
  README.md
Labels: none

refactor(toolchain): add env file inline comment handling to parser (#4292)
  dev/Tiltfile
Labels: none

chore(release): [ci skip] bump quickstart image to sha256@203e4aa7017706ada4c5b9c9d547c9bdc7ad05c62d6232b62ea7959c6ab7b10b
  quickstart/dev/Tiltfile
  quickstart/docker-compose.tmpl.yml
  quickstart/docker-compose.yml
  quickstart/vendir.lock.yml
  quickstart/vendir.yml
  quickstart/vendir/values.yml
Labels: none

feat: auto-set display currency based on phone number prefix
  core/api/package.json
  core/api/src/app/accounts/create-account.ts
  pnpm-lock.yaml
Labels: dashboard, consent, pay, admin-panel, map, voucher, core

resolved issues
  README.md
Labels: none

chore(deps): bump price-realtime proto to 'e183084'
  core/api/src/services/price/protos/health.proto
  core/api/src/services/price/protos/price.proto
Labels: core

chore: Update README.md
  README.md
Labels: none

docs: add test account credentials to README (#4304)
  README.md
Labels: none

chore(deps): bump price-realtime proto to 'e183084' (#4306)
  core/api/src/services/price/protos/health.proto
  core/api/src/services/price/protos/price.proto
Labels: core

chore(release): [ci skip] bump quickstart image to sha256@e1510074b3bee8cbde9eb0db2ac984164c39549c105c40fd1e583e50c3c443e4
  quickstart/docker-compose.tmpl.yml
  quickstart/docker-compose.yml
  quickstart/vendir.lock.yml
  quickstart/vendir.yml
  quickstart/vendir/values.yml
Labels: none

bump to 0.20.154
  version
Labels: none
