Repository GaloyMoney/blink, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, dashboard, consent, pay, admin-panel, map, voucher, core, api-keys, notifications

.github/labeler.yml:

ci:
  - changed-files:
      - any-glob-to-any-file:
          - ci/**/*
          - .github/**/*

dashboard:
  - changed-files:
      - any-glob-to-any-file:
          - apps/dashboard/**/*
          - flake.lock
          - pnpm-lock.yaml

consent:
  - changed-files:
      - any-glob-to-any-file:
          - apps/consent/**/*
          - flake.lock
          - pnpm-lock.yaml

pay:
  - changed-files:
      - any-glob-to-any-file:
          - apps/pay/**/*
          - flake.lock
          - pnpm-lock.yaml

admin-panel:
  - changed-files:
      - any-glob-to-any-file:
          - apps/admin-panel/**/*
          - flake.lock
          - pnpm-lock.yaml

map:
  - changed-files:
      - any-glob-to-any-file:
          - apps/map/**/*
          - flake.lock
          - pnpm-lock.yaml

voucher:
  - changed-files:
      - any-glob-to-any-file:
          - apps/voucher/**/*
          - flake.lock
          - pnpm-lock.yaml


core:
  - changed-files:
      - any-glob-to-any-file:
          - core/api/**/*
          - core/api-cron/**/*
          - core/api-exporter/**/*
          - core/api-trigger/**/*
          - core/api-ws-server/**/*
          - flake.lock
          - pnpm-lock.yaml

api-keys:
  - changed-files:
      - any-glob-to-any-file:
          - third-party/rust/**/*
          - core/api-keys/**/*
          - flake.lock
          - Cargo.lock

notifications:
  - changed-files:
      - any-glob-to-any-file:
          - third-party/rust/**/*
          - core/notifications/**/*
          - flake.lock
          - Cargo.lock

chore: update genrated graphql path
  apps/voucher/app/create/page.tsx
  apps/voucher/app/fund/[paymenthash]/page.tsx
  apps/voucher/app/user/[user_id]/links/page.tsx
  apps/voucher/app/voucher/page.tsx
  apps/voucher/app/withdraw/[id]/lnurl/page.tsx
  apps/voucher/app/withdraw/[id]/onchain/page.tsx
  apps/voucher/app/withdraw/[id]/page.tsx
  apps/voucher/codegen.yml
  apps/voucher/components/Create/ConifrmModal/ConfirmModal.tsx
  apps/voucher/components/Create/CreatePageAmount/CreatePageAmount.tsx
  apps/voucher/components/LinkDetails/LinkDetails.tsx
  apps/voucher/components/UserLinks/UserLinks.tsx
  apps/voucher/config/apollo.tsx
  apps/voucher/config/appConfig.ts
  apps/voucher/graphql/schema.ts
  apps/voucher/hooks/useCreateInvoice.ts
  apps/voucher/hooks/useDisplayCurrency.ts
  apps/voucher/hooks/useRealTimePrice.ts
  apps/voucher/hooks/useSatsPrice.ts
  apps/voucher/lib/graphql/generated/index.ts
  apps/voucher/utils/generated/fragment-masking.ts
  apps/voucher/utils/generated/gql.ts
  apps/voucher/utils/generated/index.ts
Labels: voucher

chore: update codegen
  apps/voucher/codegen.yml
Labels: voucher

chore: misc changes
  apps/voucher/BUCK
  apps/voucher/Makefile
  apps/voucher/app/loading.tsx
  apps/voucher/app/page.tsx
  apps/voucher/app/withdraw/[id]/lnurl/page.tsx
  apps/voucher/app/withdraw/[id]/onchain/page.tsx
  apps/voucher/components/Create/CreatePageAmount/CreatePageAmount.tsx
  apps/voucher/components/InfoComponent/InfoComponent.module.css
  apps/voucher/components/InfoComponent/InfoComponent.tsx
  apps/voucher/components/NavBar/NavBar.tsx
  apps/voucher/components/NavBar/Navigation.tsx
  apps/voucher/components/NumPad/NumPad.tsx
  apps/voucher/graphql/resolvers.ts
  apps/voucher/graphql/schema.ts
  apps/voucher/package.json
  apps/voucher/pages/api/lnurlw/[uniqueHash]/index.ts
  apps/voucher/pages/api/lnurlw/callback/[id]/index.ts
  apps/voucher/services/db/connection.ts
  apps/voucher/services/db/index.ts
  apps/voucher/services/db/migrations/20230520080910_withdraw_links_table.ts
  apps/voucher/services/db/schema.ts
  apps/voucher/test/e2e/specs/create-voucher-flow.e2e.ts
  apps/voucher/utils/graphql/subscription.ts
  apps/voucher/yarn.lock
  dev/Tiltfile
  pnpm-lock.yaml
Labels: dashboard, consent, pay, admin-panel, map, voucher, core

chore(voucher): removed use-clinet from layout
  apps/voucher/app/layout.tsx
  apps/voucher/components/NavBar/NavBar.tsx
Labels: voucher

chore(voucher): removed unused links from navbar
  apps/voucher/components/NavBar/Navigation.tsx
Labels: voucher

chore(voucher): add sign in with blink
  apps/voucher/app/api/auth/[...nextauth]/auth.ts
  apps/voucher/app/api/auth/[...nextauth]/route.ts
  apps/voucher/app/layout.tsx
  apps/voucher/components/session-provider.tsx
  apps/voucher/env.ts
  apps/voucher/middleware.ts
  apps/voucher/next.config.js
  apps/voucher/package.json
  dev/Tiltfile
  pnpm-lock.yaml
Labels: dashboard, consent, pay, admin-panel, map, voucher, core

chore(voucher): removed unused svg files, updated icon
  apps/voucher/app/favicon.ico
  apps/voucher/public/next.svg
  apps/voucher/public/vercel.svg
Labels: voucher

chore(voucher): rename btcWalletAddress to onChainAddress
  apps/voucher/app/withdraw/[voucherSecret]/onchain/page.tsx
  apps/voucher/graphql/resolvers.ts
  apps/voucher/graphql/schema.ts
  apps/voucher/lib/graphql/generated/index.ts
Labels: voucher

chore(voucher): rename onchain withdraw mutation
  apps/voucher/app/withdraw/[voucherSecret]/onchain/page.tsx
  apps/voucher/graphql/resolvers.ts
  apps/voucher/graphql/schema.ts
  apps/voucher/lib/graphql/generated/index.ts
Labels: voucher

chore(voucher): using API token for escrow
  apps/voucher/services/galoy/client/escrow/index.ts
Labels: voucher

chore(voucher): remove wdio test
  apps/voucher/package.json
  apps/voucher/test/e2e/specs/create-voucher-flow.e2e.ts
  apps/voucher/test/unit/pages/api/graphql/index.test.ts
Labels: voucher

chore(voucher): remove empty files
  apps/voucher/components/currency-drop-down.tsx
  apps/voucher/config/default.ts
  apps/voucher/config/seeds/initial.ts
  apps/voucher/types/light-bolt11-decoder.d.ts
Labels: voucher

fi(voucher): file typo
  apps/voucher/app/create/page.tsx
  apps/voucher/components/create/confirm-modal/confirm-modal.module.css
  apps/voucher/components/create/confirm-modal/index.tsx
Labels: voucher

chore(voucher): removed pagination
  apps/voucher/app/user/links/page.tsx
  apps/voucher/graphql/resolvers.ts
  apps/voucher/graphql/schema.ts
  apps/voucher/lib/graphql/generated/index.ts
  apps/voucher/services/db/index.ts
  pnpm-lock.yaml
Labels: dashboard, consent, pay, admin-panel, map, voucher, core

chore(voucher): rename uppercase file names
  apps/voucher/app/api/lnurlw/[unique-hash]/route.ts
  apps/voucher/app/withdraw/[voucher-secret]/lnurl/lnurl-page.module.css
  apps/voucher/app/withdraw/[voucher-secret]/lnurl/page.tsx
  apps/voucher/app/withdraw/[voucher-secret]/onchain/on-chain-page.module.css
  apps/voucher/app/withdraw/[voucher-secret]/onchain/page.tsx
  apps/voucher/app/withdraw/[voucher-secret]/page.tsx
  apps/voucher/app/withdraw/[voucher-secret]/withdraw.module.css
Labels: voucher

chore(voucher): added voucher-setup script
  apps/voucher/BUCK
  apps/voucher/services/db/connection.ts
  apps/voucher/services/db/index.ts
  apps/voucher/services/db/knex.ts
  dev/BUCK
  dev/Tiltfile
  dev/bin/setup-voucher-escrow.sh
  dev/helpers/gql/api-key-create.gql
Labels: voucher

chore(voucher): adding wallet subtype
  apps/voucher/app/api/lnurlw/callback/[id]/route.ts
  apps/voucher/app/create/page.tsx
  apps/voucher/components/create/confirm-modal/index.tsx
  apps/voucher/graphql/resolvers.ts
  apps/voucher/utils/helpers.ts
Labels: voucher

chore(voucher): removed unused files
  apps/voucher/config/jest.config.js
  apps/voucher/config/wdio.conf.ts
  apps/voucher/tsconfig.json
Labels: voucher

test(voucher): adding cypress test for create withdraw link
  apps/voucher/app/page.tsx
  apps/voucher/app/user/links/page.tsx
  apps/voucher/app/withdraw/[voucher-secret]/lnurl/page.tsx
  apps/voucher/components/create/confirm-modal/index.tsx
  apps/voucher/components/create/create-page-amount/index.tsx
  apps/voucher/components/link-details/index.tsx
  apps/voucher/components/num-pad/index.tsx
  apps/voucher/cypress.config.ts
  apps/voucher/cypress/e2e/consent-integration.cy.ts
  apps/voucher/cypress/e2e/create-withdraw-link/create-withdraw-link.cy.ts
  apps/voucher/cypress/e2e/e2e.cy.ts
  apps/voucher/cypress/support/commands.ts
  apps/voucher/cypress/support/e2e.ts
  apps/voucher/cypress/support/test-data.ts
  apps/voucher/package.json
  pnpm-lock.yaml
Labels: dashboard, consent, pay, admin-panel, map, voucher, core

chore(voucher): added CurrencyConversionEstimation query
  apps/voucher/app/create/page.tsx
  apps/voucher/components/create/create-page-amount/index.tsx
  apps/voucher/hooks/useRealTimePrice.ts
  apps/voucher/lib/graphql/generated/index.ts
Labels: voucher

fix(voucher): lint
  apps/voucher/.eslintrc.js
  apps/voucher/app/api/graphql/route.ts
  apps/voucher/app/api/lnurlw/callback/[id]/route.ts
  apps/voucher/app/create/page.tsx
  apps/voucher/app/layout.tsx
  apps/voucher/app/page.tsx
  apps/voucher/app/user/links/page.tsx
  apps/voucher/app/withdraw/[voucher-secret]/lnurl/page.tsx
  apps/voucher/app/withdraw/[voucher-secret]/onchain/page.tsx
  apps/voucher/components/create/confirm-modal/index.tsx
  apps/voucher/components/create/create-page-amount/index.tsx
  apps/voucher/components/link-details/index.tsx
  apps/voucher/components/modal-component.tsx
  apps/voucher/components/nav-bar/navigation.tsx
  apps/voucher/components/num-pad/index.tsx
  apps/voucher/components/user-links/index.tsx
  apps/voucher/cypress/support/test-data.ts
  apps/voucher/graphql/resolvers.ts
  apps/voucher/hooks/useDisplayCurrency.ts
  apps/voucher/hooks/useSatsPrice.ts
  apps/voucher/package.json
  apps/voucher/services/db/connection.ts
  apps/voucher/services/db/index.ts
  apps/voucher/services/db/knex.ts
  apps/voucher/services/db/migrations/20240406102113_create_withdraw_links.ts
  apps/voucher/services/galoy/client/escrow/index.ts
  apps/voucher/services/galoy/mutation/ln-invoice-payment-send.ts
  apps/voucher/services/galoy/mutation/on-chain-payment-sned.ts
  apps/voucher/services/galoy/mutation/send-payment-intraledger/btc.ts
  apps/voucher/services/galoy/mutation/send-payment-intraledger/usd.ts
  apps/voucher/services/galoy/query/get-real-time-price.ts
  apps/voucher/services/galoy/query/me.ts
  apps/voucher/services/galoy/query/on-chain-usd-tx-fee.ts
  apps/voucher/tsconfig.json
  apps/voucher/utils/helpers.ts
  dev/Tiltfile
  pnpm-lock.yaml
Labels: dashboard, consent, pay, admin-panel, map, voucher, core

chore(map): adding ip headers (#4298)
  apps/map/app/tracing.ts
  apps/map/services/galoy/graphql/client.ts
Labels: map

ci: use kaniko builder
  ci/apps/app-template.lib.yml
  ci/core/template.lib.yml
Labels: ci

bump to 0.20.153
  version
Labels: none

Commit state of `core` at `d22642e`
  core/api/package.json
  lib/galoy-components/package.json
  pnpm-lock.yaml
Labels: dashboard, consent, pay, admin-panel, map, voucher, core

chore(pay): adding loader for nfc (#4295)
  apps/pay/components/parse-pos-payment/nfc.tsx
Labels: pay

ci: use kaniko builder (#4301)
  ci/apps/app-template.lib.yml
  ci/core/template.lib.yml
Labels: ci

Commit state of `pay` at `edb4cb7`
  apps/pay/components/parse-pos-payment/nfc.tsx
Labels: pay

chore(notifications): refactor InAppNotification creation
  core/notifications/.sqlx/query-0c1b2ffe0cbc99d2b28a10791589f8cdc93ecf748f8550948119d1f2da5b4b01.json
  core/notifications/.sqlx/query-1619814c8c207ce8ec66784b129f76a8d2701e6123a8564939c524bc34a50db0.json
  core/notifications/migrations/20240406100757_create_in_app_notifications.up.sql
  core/notifications/src/in_app_notification/entity.rs
  core/notifications/src/in_app_notification/mod.rs
  core/notifications/src/in_app_notification/repo.rs
Labels: notifications

chore(notifications): rename InAppNotificationsRepo -> InAppNotifications
  core/notifications/src/app/mod.rs
  core/notifications/src/in_app_executor/mod.rs
  core/notifications/src/in_app_notification/repo.rs
Labels: notifications

feat(notifications): add InAppMsg to NotificationEvent
  core/notifications/src/messages/mod.rs
  core/notifications/src/notification_event/circle_grew.rs
  core/notifications/src/notification_event/circle_threshold_reached.rs
  core/notifications/src/notification_event/identity_verification_approved.rs
  core/notifications/src/notification_event/identity_verification_declined.rs
  core/notifications/src/notification_event/identity_verification_review_started.rs
  core/notifications/src/notification_event/link_email_reminder.rs
  core/notifications/src/notification_event/marketing_notification_triggered.rs
  core/notifications/src/notification_event/mod.rs
  core/notifications/src/notification_event/price_changed.rs
  core/notifications/src/notification_event/transaction_occurred.rs
Labels: notifications

feat(notifications): add InAppExecutor
  core/notifications/src/app/mod.rs
  core/notifications/src/in_app_channel/mod.rs
  core/notifications/src/in_app_executor/mod.rs
  core/notifications/src/job/error.rs
  core/notifications/src/job/mod.rs
  core/notifications/src/job/send_in_app_notification.rs
Labels: notifications

chore(notifications): fix clippy warnings
  core/notifications/src/app/mod.rs
  core/notifications/src/in_app_notification/entity.rs
  core/notifications/src/in_app_notification/mod.rs
Labels: notifications

chore(notifications): rename InAppChannel
  core/notifications/src/in_app_channel/error.rs
  core/notifications/src/in_app_channel/mod.rs
  core/notifications/src/in_app_executor/error.rs
  core/notifications/src/in_app_executor/mod.rs
  core/notifications/src/lib.rs
Labels: notifications

feat(notifications): in app channel boilerplate
  core/notifications/src/in_app_channel_service/error.rs
  core/notifications/src/in_app_channel_service/mod.rs
  core/notifications/src/in_app_executor/config.rs
  core/notifications/src/in_app_executor/error.rs
  core/notifications/src/in_app_executor/mod.rs
  core/notifications/src/lib.rs
Labels: notifications

feat(notifications): batch in app notification
  core/notifications/.sqlx/query-7f658f6746ea4f803591356c3762f9a04ac6f7200686dab96f45c6a47aecb4a3.json
  core/notifications/.sqlx/query-b7ca1af7c06bb123ceb0a808475c7a7eade1ed968fd8f9d80b5348f2fc457ade.json
  core/notifications/.sqlx/query-e6e01efa4d7970e97d96d6b331294ae9c9cb19ecdcfd36561a7834947dbe291a.json
  core/notifications/src/app/mod.rs
  core/notifications/src/in_app_notification/mod.rs
  core/notifications/src/in_app_notification/repo.rs
  core/notifications/src/job/error.rs
  core/notifications/src/job/mod.rs
  core/notifications/src/user_notification_settings/repo.rs
Labels: notifications

chore(notifications): add InAppNotifications as domain service
  core/notifications/src/app/mod.rs
  core/notifications/src/in_app_notification/entity.rs
  core/notifications/src/in_app_notification/error.rs
  core/notifications/src/in_app_notification/mod.rs
  core/notifications/src/in_app_notification/repo.rs
  core/notifications/src/job/mod.rs
  core/notifications/src/primitives.rs
Labels: notifications

feat(notifications): send marketing notification in app
  core/notifications/src/notification_event/marketing_notification_triggered.rs
Labels: notifications

test(notifications): e2e test for mark notification as read
  bats/core/notifications/notifications.bats
  bats/gql/user-in-app-notifications.gql
  bats/gql/user-mark-in-app-notification-as-read.gql
  core/notifications/src/in_app_notification/entity.rs
  core/notifications/src/in_app_notification/repo.rs
  core/notifications/src/notification_event/identity_verification_review_started.rs
Labels: notifications

feat(notifications): add inAppNotifications gql
  core/notifications/src/app/error.rs
  core/notifications/src/app/mod.rs
  core/notifications/src/graphql/convert.rs
  core/notifications/src/graphql/schema.rs
  core/notifications/src/graphql/types.rs
  core/notifications/src/in_app_channel/mod.rs
  core/notifications/src/notification_event/mod.rs
  core/notifications/src/push_executor/fcm/mod.rs
  core/notifications/subgraph/schema.graphql
  dev/config/apollo-federation/supergraph.graphql
Labels: notifications
