Repository GaloyMoney/blink, changes with the labels that .github/labeler.yml gives for each.
All labels: ci, dashboard, consent, pay, admin-panel, core, api-keys, notifications

refactor(core): remove unused 'KRATOS_CALLBACK_API_KEY'
  .env
  .env.ci
  core/api/.env
  core/api/.env.ci
  core/api/src/config/env.ts
  core/api/src/config/index.ts
  core/api/src/servers/write-sdl.ts
  dev/Tiltfile
Labels: core

refactor(core): remove unused createAccountFromRegistrationPayload function
  core/api/src/app/authentication/create-account-from-registration-payload.ts
  core/api/src/app/authentication/index.ts
  core/api/src/domain/authentication/errors.ts
  core/api/src/domain/authentication/index.types.d.ts
  core/api/src/domain/authentication/registration-payload-validator.ts
  core/api/src/domain/authentication/secret-validator.ts
  core/api/src/graphql/error-map.ts
  core/api/src/services/kratos/auth-phone-no-password.ts
  core/api/test/integration/app/authentication/create-account-from-registration-payload.spec.ts
  core/api/test/unit/domain/authentication/registration-payload-validator.spec.ts
  core/api/test/unit/domain/authentication/secret-validator.spec.ts
Labels: none

chore(notifications): pass overrides when triggering a workflow
  core/notifications/src/executor/mod.rs
  core/notifications/src/executor/novu/events.rs
  core/notifications/src/notification_event.rs
Labels: none

ci: added ro concourse
  .github/workflows/bats.yml
  ci/apps/app-template.lib.yml
  ci/apps/pipeline.yml
Labels: ci

chore(notifications): pass overrides when triggering a workflow (#3928)
  core/notifications/src/executor/mod.rs
  core/notifications/src/executor/novu/events.rs
  core/notifications/src/notification_event.rs
Labels: none

Commit state of `notifications` at `feed182`
  core/notifications/src/executor/mod.rs
  core/notifications/src/executor/novu/events.rs
  core/notifications/src/notification_event.rs
Labels: none

chore(notifications): add rust-i18n
  Cargo.lock
  Cargo.toml
  core/notifications/BUCK
  core/notifications/Cargo.toml
  core/notifications/tests/novu.rs
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
  third-party/rust/fixups/rust-i18n/fixups.toml
Labels: api-keys, notifications

chore(notifications): translation boilerplate
  core/notifications/BUCK
  core/notifications/build.rs
  core/notifications/locales/en.yml
  core/notifications/src/lib.rs
  core/notifications/src/messages/mod.rs
Labels: notifications

chore(notifications): add rust-i18n (#3929)
  Cargo.lock
  Cargo.toml
  core/notifications/BUCK
  core/notifications/Cargo.toml
  core/notifications/build.rs
  core/notifications/locales/en.yml
  core/notifications/src/lib.rs
  core/notifications/src/messages/mod.rs
  core/notifications/tests/novu.rs
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
  third-party/rust/fixups/rust-i18n/fixups.toml
Labels: api-keys, notifications

Commit state of `notifications` at `2852367`
  core/notifications/build.rs
  core/notifications/locales/en.yml
  core/notifications/src/executor/mod.rs
  core/notifications/src/executor/novu/events.rs
  core/notifications/src/lib.rs
  core/notifications/src/messages/mod.rs
  core/notifications/src/notification_event.rs
Labels: notifications

test(core): move integration lnd health check to bats (#3914)
  bats/core/api/onchain-send.bats
  bats/core/api/trigger.bats
  bats/helpers/trigger.bash
  core/api/test/legacy-integration/services/lnd/health.spec.ts
Labels: none

chore(core): move hedge tests to new integration
  core/api/test/integration/scenarios/hedge-arbitrage.spec.ts
Labels: none

chore(core): remove legacy-integration folder
  core/api/test/legacy-integration/jest-test-sequencer.js
  core/api/test/legacy-integration/jest.config.js
  core/api/test/legacy-integration/jest.setup.js
Labels: none

ci(core): remove legacy-integration gh action
  .github/workflows/legacy-integration-test.yml
Labels: ci

ci(core): remove legacy-integration from concourse pipeline yml
  ci/core/pipeline.yml
Labels: ci

build(core): remove leagcy-integration runners
  core/api/Makefile
  core/api/package.json
Labels: core

chore(release): [ci skip] bump quickstart image to sha256@641501dde0bfa6d7177d532e7a16f21b222bc2469dac9ca6d086fdc75034612f
  quickstart/docker-compose.tmpl.yml
  quickstart/docker-compose.yml
  quickstart/vendir.lock.yml
  quickstart/vendir.yml
  quickstart/vendir/values.yml
Labels: none

bump to 0.20.35
  version
Labels: none

chore(core): cleanup unused Makefile deps/runner tasks
  core/api/Makefile
  docs/LEGACY_DEV.md
Labels: core

Commit state of `core` at `6ddae2b`
  core/api/.env
  core/api/docker-compose.yml
  core/api/src/config/env.ts
  core/api/src/config/index.ts
  core/api/src/services/ledger/README.md
Labels: core

refactor(core): remove kratos registration endpoint (#3925)
  .env
  .env.ci
  core/api/.env
  core/api/.env.ci
  core/api/src/app/authentication/create-account-from-registration-payload.ts
  core/api/src/app/authentication/index.ts
  core/api/src/app/authentication/login.ts
  core/api/src/config/env.ts
  core/api/src/config/index.ts
  core/api/src/domain/authentication/errors.ts
  core/api/src/domain/authentication/index.types.d.ts
  core/api/src/domain/authentication/registration-payload-validator.ts
  core/api/src/domain/authentication/secret-validator.ts
  core/api/src/graphql/error-map.ts
  core/api/src/servers/event-handlers/kratos.ts
  core/api/src/servers/graphql-server.ts
  core/api/src/servers/write-sdl.ts
  core/api/test/integration/app/authentication/create-account-from-registration-payload.spec.ts
  core/api/test/unit/domain/authentication/registration-payload-validator.spec.ts
  core/api/test/unit/domain/authentication/secret-validator.spec.ts
  dev/Tiltfile
  dev/config/ory/kratos.yml
Labels: core

chore: fixing nits
  core/api/src/app/accounts/mark-account-for-deletion.ts
  core/api/src/app/merchants/delete-business-map-info.ts
  core/api/src/graphql/admin/root/mutation/business-update-map-info.ts
  core/api/src/services/mongoose/merchants.ts
Labels: none

chore(release): [ci skip] bump quickstart image to sha256@76cf517d91e2d8ad5ca05c916acabb7557ecf7a4edc3985c943246a91821ee42
  quickstart/dev/Tiltfile
  quickstart/dev/config/ory/kratos.yml
  quickstart/docker-compose.tmpl.yml
  quickstart/docker-compose.yml
  quickstart/vendir.lock.yml
  quickstart/vendir.yml
  quickstart/vendir/values.yml
Labels: none

bump to 0.20.36
  version
Labels: none

Commit state of `core` at `6965646`
  core/api/.env
  core/api/docker-compose.yml
  core/api/src/app/authentication/index.ts
  core/api/src/app/authentication/login.ts
  core/api/src/config/env.ts
  core/api/src/config/index.ts
  core/api/src/domain/authentication/errors.ts
  core/api/src/domain/authentication/index.types.d.ts
  core/api/src/graphql/error-map.ts
  core/api/src/servers/graphql-server.ts
  core/api/src/servers/write-sdl.ts
  core/api/src/services/ledger/README.md
Labels: core

chore(core): move hedge tests to new integration (#3922)
  .github/workflows/legacy-integration-test.yml
  ci/core/pipeline.yml
  core/api/Makefile
  core/api/package.json
  core/api/test/integration/scenarios/hedge-arbitrage.spec.ts
  core/api/test/legacy-integration/jest-test-sequencer.js
  core/api/test/legacy-integration/jest.config.js
  core/api/test/legacy-integration/jest.setup.js
  docs/LEGACY_DEV.md
Labels: ci, core

chore(core): refactor merchant data structure (#3906)
  bats/admin-gql/account-update-level.gql
  bats/admin-gql/account-update-status.gql
  bats/admin-gql/business-delete-map-info.gql
  bats/admin-gql/business-update-map-info.gql
  bats/admin-gql/update-merchant-map.gql
  bats/core/api/merchant.bats
  core/api/src/app/accounts/delete-business-map-info.ts
  core/api/src/app/accounts/index.ts
  core/api/src/app/accounts/mark-account-for-deletion.ts
  core/api/src/app/accounts/update-business-map-info.ts
  core/api/src/app/index.ts
  core/api/src/app/merchants/delete-business-map-info.ts
  core/api/src/app/merchants/index.ts
  core/api/src/app/merchants/update-business-map-info.ts
  core/api/src/domain/accounts/index.types.d.ts
  core/api/src/domain/errors.ts
  core/api/src/domain/merchants/index.types.d.ts
  core/api/src/graphql/admin/root/mutation/business-update-map-info.ts
  core/api/src/graphql/admin/root/mutation/delete-business-map.ts
  core/api/src/graphql/admin/schema.graphql
  core/api/src/graphql/admin/types/object/account.ts
  core/api/src/graphql/admin/types/object/merchant.ts
  core/api/src/graphql/admin/types/payload/merchant.ts
  core/api/src/graphql/error-map.ts
  core/api/src/graphql/public/root/query/business-map-markers.ts
  core/api/src/graphql/public/types/object/map-marker.ts
  core/api/src/migrations/20240130210000-location-migration-1.ts
  core/api/src/migrations/migrate-mongo-config.js
  core/api/src/services/mongoose/accounts.ts
  core/api/src/services/mongoose/index.ts
  core/api/src/services/mongoose/merchants.ts
  core/api/src/services/mongoose/schema.ts
  core/api/src/services/mongoose/schema.types.d.ts
  core/api/src/services/mongoose/utils.ts
  core/api/test/integration/services/accounts-repository.spec.ts
  core/api/test/integration/services/merchant.spec.ts
  core/api/test/unit/domain/wallets/payment-input-validator.spec.ts
Labels: none

chore(notifications): support loading locales at runtime
  Cargo.lock
  Cargo.toml
  core/notifications/BUCK
  core/notifications/Cargo.toml
  core/notifications/src/lib.rs
  core/notifications/src/messages/mod.rs
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
Labels: api-keys, notifications

chore(core): add txLimit span attributes (#3882)
  core/api/src/domain/accounts/limits-checker.ts
Labels: none

chore(release): [ci skip] bump quickstart image to sha256@3148d6e5b11f4108c82e473652e70ee4944f5c064c212660c85295d76b100d6d
  quickstart/docker-compose.tmpl.yml
  quickstart/docker-compose.yml
  quickstart/vendir.lock.yml
  quickstart/vendir.yml
  quickstart/vendir/values.yml
Labels: none

bump to 0.20.37
  version
Labels: none

Commit state of `core` at `128addf`
  core/api/.env
  core/api/docker-compose.yml
  core/api/package.json
  core/api/src/app/authentication/index.ts
  core/api/src/app/authentication/login.ts
  core/api/src/config/env.ts
  core/api/src/config/index.ts
  core/api/src/domain/authentication/errors.ts
  core/api/src/domain/authentication/index.types.d.ts
  core/api/src/graphql/error-map.ts
  core/api/src/servers/graphql-server.ts
  core/api/src/servers/write-sdl.ts
  core/api/src/services/ledger/README.md
  core/api/test/integration/scenarios/hedge-arbitrage.spec.ts
Labels: core

bump to 0.20.38
  version
Labels: none

docs: add concourse repipe steps
  docs/CI.md
Labels: none

chore: retrigger pipeline
  core/api/src/migrations/20240130210000-location-migration-1.ts
Labels: none

chore: retrigger pipeline (#3932)
  core/api/src/migrations/20240130210000-location-migration-1.ts
Labels: none

chore(release): [ci skip] bump quickstart image to sha256@39b98d54c4aaf23eb4483c2efe959a05526e23d23018ba6e903edc284dfbc085
  quickstart/docker-compose.tmpl.yml
  quickstart/docker-compose.yml
  quickstart/graphql/schemas/admin/schema.graphql
  quickstart/vendir.lock.yml
  quickstart/vendir.yml
  quickstart/vendir/values.yml
Labels: none

chore: remove unused logo files
  apps/admin-panel/.prettierignore
  apps/admin-panel/public/favicon.ico
  apps/admin-panel/public/logo.svg
Labels: admin-panel

bump to 0.20.39
  version
Labels: none

Commit state of `core` at `b7f4557`
  core/api/src/migrations/20240130210000-location-migration-1.ts
Labels: none

.github/labeler.yml:

ci:
  - ci/**/*
  - .github/**/*

dashboard:
  - apps/dashboard/*
  - flake.lock
  - pnpm-lock.yaml

consent:
  - apps/consent/*
  - flake.lock
  - pnpm-lock.yaml

pay:
  - apps/pay/*
  - flake.lock
  - pnpm-lock.yaml

admin-panel:
  - apps/admin-panel/*
  - flake.lock
  - pnpm-lock.yaml

core:
  - core/api/*
  - core/api-cron/*
  - core/api-exporter/*
  - core/api-trigger/*
  - core/api-ws-server/*
  - flake.lock
  - pnpm-lock.yaml

api-keys:
  - third-party/rust/*
  - core/api-keys/*
  - flake.lock
  - Cargo.lock

notifications:
  - third-party/rust/*
  - core/notifications/*
  - flake.lock
  - Cargo.lock
