Repository GaloyMoney/blink, pull requests merged in 2023-11, with the labels that each got.

#3472 fix: pin deps in mongodb-migrate
  core/api/Dockerfile-migrate
  core/api/docker-compose.yml
  quickstart/docker-compose.tmpl.yml
Labels: core

#3454 ci: setup initial top level bats
  .github/workflows/legacy-bats.yml
  bats/core/api/public.bats
  bats/gql/globals.gql
  bats/helpers/_common.bash
  dev/Tiltfile
  dev/docker-compose.deps.yml
Labels: ci

#3477 fix: unit test github action
  .github/workflows/unit-test.yml
Labels: ci

#3476 feat: api-keys admin client
  Cargo.lock
  Cargo.toml
  core/api-keys/BUCK
  core/api-keys/Cargo.toml
  core/api-keys/src/admin_client/account_details.rs
  core/api-keys/src/admin_client/config.rs
  core/api-keys/src/admin_client/error.rs
  core/api-keys/src/admin_client/mod.rs
  core/api-keys/src/admin_client/oauth_grant.rs
  core/api-keys/src/cli/config.rs
  core/api-keys/src/cli/mod.rs
  core/api-keys/src/graphql/config.rs
  core/api-keys/src/graphql/mod.rs
  core/api-keys/src/graphql/server.rs
  dev/BUCK
  dev/Tiltfile
  dev/bin/setup-api-keys-client.sh
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
Labels: core

#3481 chore: changed otel version in consent and dashboard
  apps/consent/env.ts
  apps/consent/instrumentation.node.ts
  apps/consent/instrumentation.ts
  apps/consent/package.json
  apps/dashboard/env.ts
  apps/dashboard/instrumentation.node.ts
  apps/dashboard/instrumentation.ts
  apps/dashboard/package.json
  pnpm-lock.yaml
Labels: core, dashboard, consent

#3470 chore(api-keys): setup dummy api-keys schema
  Cargo.lock
  Cargo.toml
  bats/core/api-keys/api-keys.bats
  bats/gql/api-key-create.gql
  bats/gql/api-keys.gql
  bats/gql/user-login.gql
  bats/gql/wallets-for-account.gql
  bats/helpers/_common.bash
  bats/helpers/setup-and-teardown.bash
  core/api-keys/BUCK
  core/api-keys/Cargo.toml
  core/api-keys/schema/schema.gql
  core/api-keys/src/app/error.rs
  core/api-keys/src/app/mod.rs
  core/api-keys/src/bin/write_sdl.rs
  core/api-keys/src/cli/mod.rs
  core/api-keys/src/graphql/config.rs
  core/api-keys/src/graphql/schema.rs
  core/api-keys/src/graphql/server.rs
  core/api-keys/src/lib.rs
  core/api-keys/subgraph/schema.graphql
  core/api/dev/apollo-federation/supergraph.graphql
  dev/Tiltfile
  dev/config/apollo-federation/supergraph.graphql
  flake.nix
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
  third-party/rust/fixups/ahash/fixups.toml
  third-party/rust/fixups/crossbeam-queue/fixups.toml
  third-party/rust/fixups/crossbeam-utils/fixups.toml
  third-party/rust/fixups/libm/fixups.toml
  third-party/rust/fixups/libsqlite3-sys/fixups.toml
  third-party/rust/fixups/num-bigint-dig/fixups.toml
  third-party/rust/fixups/num-integer/fixups.toml
  third-party/rust/fixups/num-iter/fixups.toml
  third-party/rust/fixups/paste/fixups.toml
  third-party/rust/fixups/zerocopy/fixups.toml
Labels: core

#3480 fix(core): add watcher for pending held invoices
  core/api/src/config/index.ts
  core/api/src/servers/trigger.ts
Labels: core

#3489 chore(api-keys): auth endpoint boilerplate
  Cargo.lock
  Cargo.toml
  bats/core/api-keys/api-keys.bats
  bats/gql/api-key-create.gql
  bats/gql/api-keys.gql
  core/api-keys/BUCK
  core/api-keys/Cargo.toml
  core/api-keys/src/admin_client/account_details.rs
  core/api-keys/src/admin_client/config.rs
  core/api-keys/src/admin_client/error.rs
  core/api-keys/src/admin_client/mod.rs
  core/api-keys/src/admin_client/oauth_grant.rs
  core/api-keys/src/app/mod.rs
  core/api-keys/src/bin/write_sdl.rs
  core/api-keys/src/cli/config.rs
  core/api-keys/src/cli/mod.rs
  core/api-keys/src/graphql/mod.rs
  core/api-keys/src/graphql/schema.rs
  core/api-keys/src/graphql/server.rs
  core/api-keys/src/lib.rs
  core/api-keys/src/server/config.rs
  core/api-keys/src/server/jwks/error.rs
  core/api-keys/src/server/jwks/mod.rs
  core/api-keys/src/server/mod.rs
  core/api-keys/subgraph/schema.graphql
  core/api/dev/apollo-federation/supergraph.graphql
  dev/Tiltfile
  dev/config/apollo-federation/supergraph.graphql
  dev/config/ory/oathkeeper.yml
  dev/config/ory/oathkeeper_rules.yaml
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
  third-party/rust/fixups/num-bigint/fixups.toml
Labels: core

#3492 build: add api-keys dockerfile
  core/api-keys/Dockerfile
  flake.nix
Labels: core

#3495 ci: add api keys ci
  ci/pipeline.yml
  ci/tasks/bump-image-digest.sh
  ci/tasks/open-charts-pr.sh
Labels: ci

#3494 chore(api-keys): persist api keys
  Cargo.lock
  Cargo.toml
  bats/core/api-keys/api-keys.bats
  bats/gql/api-key-create.gql
  bats/gql/api-keys.gql
  bats/helpers/_common.bash
  core/api-keys/.env
  core/api-keys/.sqlx/query-6ed03c625536a19f2fa96fe5652c56140df4fd4370319c229ed52e8f07868f7e.json
  core/api-keys/.sqlx/query-799aef2d29106de6822e1f66ee9f7a71d3c844edd6aef491af4621cf73e11234.json
  core/api-keys/.sqlx/query-d680edf107c2bffe220f880b915bacf55a9418a2ca8bb58d08a4d60062651e38.json
  core/api-keys/BUCK
  core/api-keys/Cargo.toml
  core/api-keys/api-keys.yml
  core/api-keys/migrations/20231103084227_api_keys_setup.sql
  core/api-keys/src/app/config.rs
  core/api-keys/src/app/error.rs
  core/api-keys/src/app/mod.rs
  core/api-keys/src/cli/config.rs
  core/api-keys/src/cli/db.rs
  core/api-keys/src/cli/mod.rs
  core/api-keys/src/entity.rs
  core/api-keys/src/graphql/convert.rs
  core/api-keys/src/graphql/mod.rs
  core/api-keys/src/graphql/schema.rs
  core/api-keys/src/identity/error.rs
  core/api-keys/src/identity/mod.rs
  core/api-keys/src/lib.rs
  core/api-keys/src/server/config.rs
  core/api-keys/src/server/mod.rs
  core/api-keys/subgraph/schema.graphql
  core/api/dev/apollo-federation/supergraph.graphql
  dev/Tiltfile
  dev/config/apollo-federation/supergraph.graphql
  dev/config/ory/oathkeeper_rules.yaml
  dev/docker-compose.deps.yml
  flake.nix
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
Labels: core

#3499 chore(api-keys): small fixes
  core/api-keys/src/cli/mod.rs
  core/api-keys/src/server/jwks/mod.rs
Labels: core

#3483 feat(dashboard): api keys in dashboard
  apps/dashboard/app/api-keys/page.tsx
  apps/dashboard/app/api-keys/server-actions.ts
  apps/dashboard/app/layout.tsx
  apps/dashboard/app/security/email/add/page.tsx
  apps/dashboard/app/security/server-actions.ts
  apps/dashboard/app/url.ts
  apps/dashboard/codegen.yml
  apps/dashboard/components/api-keys/create.tsx
  apps/dashboard/components/api-keys/list.tsx
  apps/dashboard/components/api-keys/revoke.tsx
  apps/dashboard/components/side-bar/index.tsx
  apps/dashboard/services/graphql/generated.ts
  apps/dashboard/services/graphql/mutations/api-keys.ts
  apps/dashboard/services/graphql/queries/api-keys.ts
Labels: dashboard

#3498 feat(api-keys): implement 'list api keys' function for query
  bats/core/api-keys/api-keys.bats
  core/api-keys/.sqlx/query-89243f68fc159de3fd43fef1abe161d5400ecc0392adeda32f135bfbe3272057.json
  core/api-keys/src/app/mod.rs
  core/api-keys/src/graphql/schema.rs
  core/api-keys/src/identity/mod.rs
Labels: core

#3501 refactor: change DateTime types to Timestamp in schema
  apps/dashboard/components/api-keys/list.tsx
  apps/dashboard/services/graphql/generated.ts
  core/api-keys/src/graphql/convert.rs
  core/api-keys/src/graphql/schema.rs
  core/api-keys/subgraph/schema.graphql
  core/api/dev/apollo-federation/supergraph.graphql
  dev/config/apollo-federation/supergraph.graphql
Labels: core

#3504 perf(core): run watchHeldInvoices only if held invoices count gt 0
  core/api/src/servers/trigger.ts
Labels: core

#3503 refactor(api-keys)!: add ApiRevokePayload mutation return type
  apps/dashboard/components/api-keys/create.tsx
  apps/dashboard/components/api-keys/list.tsx
  apps/dashboard/services/graphql/generated.ts
  apps/dashboard/services/graphql/mutations/api-keys.ts
  bats/core/api-keys/api-keys.bats
  bats/gql/revoke-api-key.gql
  core/api-keys/.sqlx/query-99bc6db0b354e8a7ef70fe64d2bd7dd5da9d3d4f6ffa47296e8678fa902cf5e4.json
  core/api-keys/.sqlx/query-de6ccead87f1624a72b18a0c7f715f21c1d3caea71cf9d86ddee3180d3673995.json
  core/api-keys/.sqlx/query-f24b1db7d39e22c52fdde28beb1936f27d49ab435330d44cc4bdfb601e1e1df5.json
  core/api-keys/src/app/mod.rs
  core/api-keys/src/graphql/convert.rs
  core/api-keys/src/graphql/schema.rs
  core/api-keys/src/identity/mod.rs
  core/api-keys/subgraph/schema.graphql
  core/api/dev/apollo-federation/supergraph.graphql
  dev/config/apollo-federation/supergraph.graphql
Labels: core

#3509 chore(api-keys): extract tracing in api-keys server
  Cargo.lock
  Cargo.toml
  core/api-keys/BUCK
  core/api-keys/Cargo.toml
  core/api-keys/src/app/mod.rs
  core/api-keys/src/server/mod.rs
  lib/tracing-rs/src/lib.rs
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
Labels: core

#3511 chore(dev): buckify sdl gen / diff
  .github/workflows/check-sdls.yml
  ci/apps/app-template.lib.yml
  core/api-keys/BUCK
  core/api/BUCK
  core/api/dev/apollo-federation/supergraph.graphql
  core/api/src/graphql/admin/schema.graphql
  core/api/src/graphql/public/schema.graphql
  core/api/src/servers/write-sdl.ts
  dev/BUCK
  dev/bin/check-sdl.sh
  dev/bin/update-schemas.sh
  dev/bin/update-supergraph.sh
  dev/config/apollo-federation/supergraph-config.yaml
  dev/config/apollo-federation/supergraph.graphql
  third-party/node/rover/BUCK
  third-party/node/rover/package.json
  third-party/node/rover/pnpm-lock.yaml
  third-party/node/rover/pnpm-workspace.yaml
  toolchains/BUCK
  toolchains/rover/BUCK
  toolchains/rover/generate_supergraph.py
  toolchains/rover/macros.bzl
  toolchains/rover/output_sdl.py
  toolchains/rover/toolchain.bzl
Labels: core, ci

#3513 fix(core): add url(protocol) validation to add callback mutation
  core/api/.env
  core/api/dev/svix/README.md
  core/api/src/graphql/public/root/mutation/callback-endpoint-add.ts
  core/api/src/graphql/public/types/scalar/endpoint-url.ts
  core/api/src/services/svix/index.ts
Labels: core

#3488 feat: add pending tx queries
  core/api/dev/apollo-federation/supergraph.graphql
  core/api/src/app/accounts/get-pending-onchain-transactions-for-account.ts
  core/api/src/app/accounts/index.ts
  core/api/src/app/wallets/get-pending-onchain-transactions-for-wallets.ts
  core/api/src/app/wallets/get-pending-transactions-by-addresses.ts
  core/api/src/app/wallets/index.ts
  core/api/src/graphql/admin/schema.graphql
  core/api/src/graphql/public/schema.graphql
  core/api/src/graphql/public/types/abstract/account.ts
  core/api/src/graphql/public/types/object/business-account.ts
  core/api/src/graphql/public/types/object/consumer-account.ts
  core/api/src/graphql/shared/types/abstract/wallet.ts
  core/api/src/graphql/shared/types/object/btc-wallet.ts
  core/api/src/graphql/shared/types/object/usd-wallet.ts
  core/api/test/bats/gql/pending-transactions-by-address.gql
  core/api/test/bats/gql/pending-transactions.gql
  core/api/test/bats/onchain-receive.bats
  dev/config/apollo-federation/supergraph.graphql
Labels: core

#3512 feat: invoice pagination
  core/api/dev/apollo-federation/supergraph.graphql
  core/api/src/app/accounts/get-invoices-for-account.ts
  core/api/src/app/accounts/index.ts
  core/api/src/app/wallets/get-invoices-for-wallets.ts
  core/api/src/app/wallets/index.ts
  core/api/src/config/yaml.ts
  core/api/src/domain/errors.ts
  core/api/src/domain/primitives/index.ts
  core/api/src/domain/primitives/index.types.d.ts
  core/api/src/domain/wallet-invoices/index.types.d.ts
  core/api/src/graphql/admin/schema.graphql
  core/api/src/graphql/connections.ts
  core/api/src/graphql/error-map.ts
  core/api/src/graphql/public/schema.graphql
  core/api/src/graphql/public/types/abstract/account.ts
  core/api/src/graphql/public/types/object/business-account.ts
  core/api/src/graphql/public/types/object/consumer-account.ts
  core/api/src/graphql/shared/types/abstract/invoice.ts
  core/api/src/graphql/shared/types/abstract/wallet.ts
  core/api/src/graphql/shared/types/object/btc-wallet.ts
  core/api/src/graphql/shared/types/object/usd-wallet.ts
  core/api/src/services/ledger/paginated-ledger.ts
  core/api/src/services/mongoose/wallet-invoices.ts
  core/api/test/bats/gql/invoices-by-wallet.gql
  core/api/test/bats/gql/invoices.gql
  core/api/test/bats/invoices.bats
  core/api/test/helpers/wallet-invoices.ts
  core/api/test/integration/services/wallet-invoices-repository.spec.ts
  core/api/test/legacy-integration/services/mongoose/wallet-invoices.spec.ts
  core/api/test/unit/domain/primitives/parse-pagination-args.spec.ts
  dev/config/apollo-federation/supergraph.graphql
Labels: core

#3520 ci: top level bats
  .github/workflows/bats.yml
  bats/ci_setup_suite.bash
  bats/core/api-keys/api-keys.bats
  bats/core/api/public.bats
  bats/helpers/_common.bash
  bats/helpers/setup-and-teardown.bash
  dev/Tiltfile
  dev/tilt.bzl
  toolchains/workspace-pnpm/macros.bzl
Labels: ci

#3522 fix: filter invoices without paymentRequest
  core/api/dev/apollo-federation/supergraph.graphql
  core/api/src/graphql/admin/schema.graphql
  core/api/src/graphql/public/schema.graphql
  core/api/src/graphql/shared/types/abstract/invoice.ts
  core/api/src/graphql/shared/types/object/ln-invoice.ts
  core/api/src/graphql/shared/types/object/ln-noamount-invoice.ts
  core/api/src/services/mongoose/wallet-invoices.ts
  dev/config/apollo-federation/supergraph.graphql
Labels: core

#3514 chore(consent): nextjs update consent
  apps/consent/app/components/button/primary-button-component.tsx
  apps/consent/app/components/button/secondary-button-component.tsx
  apps/consent/app/components/phone-auth/index.tsx
  apps/consent/app/components/phone-auth/phone-auth-form.tsx
  apps/consent/app/login/email-login-form.tsx
  apps/consent/app/login/email-login-server-action.ts
  apps/consent/app/login/phone/server-actions.ts
  apps/consent/app/login/verification/form.tsx
  apps/consent/app/login/verification/server-actions.ts
  apps/consent/app/login/verification/verification.types.ts
  apps/consent/app/types/index.types.ts
  apps/consent/cypress/e2e/email-sign-in/login-email.cy.ts
  apps/consent/cypress/e2e/phone-sign-in/login-phone.cy.ts
  apps/consent/next.config.js
  apps/consent/package.json
  pnpm-lock.yaml
Labels: core, dashboard, consent

#3525 test: pino is masking test exist code
  core/api/package.json
  core/api/test/integration/services/wallet-invoices-repository.spec.ts
Labels: core

#3523 chore(core): add kratos message id for unkown errors
  core/api/src/services/kratos/auth-email-no-password.ts
Labels: core

#3527 test(bats): complete move of public.bats
  .github/workflows/bats.yml
  .github/workflows/cache-buck-build.yml
  bats/ci_setup_suite.bash
  bats/core/api/public.bats
  bats/gql/price-sub.gql
  bats/gql/real-time-price-sub.gql
  bats/helpers/_common.bash
  bats/helpers/setup-and-teardown.bash
  bats/helpers/subscriber.bash
  bats/helpers/subscriber/BUCK
  bats/helpers/subscriber/package.json
  bats/helpers/subscriber/pnpm-lock.yaml
  bats/helpers/subscriber/pnpm-workspace.yaml
  bats/helpers/subscriber/src/gql-subscribe.ts
  core/api/test/bats/public.bats
  dev/Tiltfile
  dev/docker-compose.deps.yml
  toolchains/workspace-pnpm/macros.bzl
Labels: core, ci

#3531 fix(core): add callback protocol validation
  core/api/src/graphql/public/types/scalar/endpoint-url.ts
  core/api/src/services/svix/index.ts
Labels: core

#3548 chore: rename pendingTransactions to pendingIncomingTransactions
  core/api/dev/apollo-federation/supergraph.graphql
  core/api/src/app/accounts/get-pending-incoming-on-chain-transactions-for-account.ts
  core/api/src/app/accounts/index.ts
  core/api/src/app/wallets/get-pending-incoming-on-chain-balance-for-wallet.ts
  core/api/src/app/wallets/get-pending-incoming-on-chain-transactions-by-addresses.ts
  core/api/src/app/wallets/get-pending-incoming-on-chain-transactions-for-wallets.ts
  core/api/src/app/wallets/index.ts
  core/api/src/graphql/admin/schema.graphql
  core/api/src/graphql/public/schema.graphql
  core/api/src/graphql/public/types/abstract/account.ts
  core/api/src/graphql/public/types/object/business-account.ts
  core/api/src/graphql/public/types/object/consumer-account.ts
  core/api/src/graphql/shared/types/abstract/wallet.ts
  core/api/src/graphql/shared/types/object/btc-wallet.ts
  core/api/src/graphql/shared/types/object/usd-wallet.ts
  core/api/test/bats/gql/pending-incoming-transactions-by-address.gql
  core/api/test/bats/gql/pending-incoming-transactions.gql
  core/api/test/bats/onchain-receive.bats
  core/api/test/integration/app/wallets/get-pending-incoming-on-chain-balance-for-wallets.spec.ts
  dev/config/apollo-federation/supergraph.graphql
Labels: core

#3549 chore: consistent on port 4455 for oathkeeper
  apps/consent/cypress/support/commands.ts
  core/api/dev/ory/kratos.yml
  core/api/docker-compose.yml
  core/api/src/servers/graphql-server.ts
  core/api/test/bats/helpers/_common.bash
  dev/config/ory/kratos.yml
  docs/LEGACY_DEV.md
  docs/hydra.md
  docs/postman-collection/galoy-dev.postman_environment.json
  quickstart/README.md
  quickstart/bin/helpers.sh
  quickstart/dev/ory/kratos.yml
  quickstart/galoy/dev/ory/kratos.yml
Labels: core

#3550 fix: bankowner fee onchain tx selection
  core/api/src/services/ledger/facade/onchain-send.ts
Labels: core

#3542 chore: rename authorization to authentication
  core/api/src/servers/authentication/express.d.ts
  core/api/src/servers/authentication/index.ts
  core/api/src/servers/graphql-server.ts
Labels: core

#3459 fix: audit command
  core/api/Makefile
Labels: core

#3556 fix(core): handle email code expired kratos error
  core/api/src/domain/authentication/errors.ts
  core/api/src/graphql/error-map.ts
  core/api/src/services/kratos/auth-email-no-password.ts
Labels: core

#3535 chore(api): add critical error for funder balance
  core/api/src/app/payments/add-earn.ts
  core/api/src/domain/errors.ts
  core/api/src/graphql/error-map.ts
Labels: core

#3555 fix(api): withdrawal volumes handling for failed payments
  core/api/src/domain/accounts/limits-volume.ts
  core/api/src/services/ledger/facade/volume.ts
  core/api/test/helpers/ledger.ts
  core/api/test/integration/services/ledger-facade.spec.ts
Labels: core

#3559 chore(api): unify separated no-implicit-any checks
  core/api/Makefile
  core/api/package.json
  core/api/src/debug/websocket/package.json
  core/api/src/debug/websocket/tsconfig.json
  core/api/tsconfig-build.json
  core/api/tsconfig.d.json
  core/api/tsconfig.json
  core/api/tsconfig.no-implicit-any.json
Labels: core

#3561 build: add audit buck build steps
  .github/workflows/audit.yml
  apps/consent/BUCK
  apps/dashboard/BUCK
  core/api/BUCK
  toolchains/workspace-pnpm/BUCK
  toolchains/workspace-pnpm/macros.bzl
  toolchains/workspace-pnpm/run_audit.py
  toolchains/workspace-pnpm/toolchain.bzl
Labels: core, ci, dashboard, consent

#3557 chore: prevent WalletInvoice deletion
  core/api/src/app/wallets/update-pending-invoices.ts
  core/api/src/domain/wallet-invoices/index.types.d.ts
  core/api/src/servers/cron.ts
  core/api/src/services/lnd/utils.ts
  core/api/src/services/mongoose/schema.ts
  core/api/src/services/mongoose/schema.types.d.ts
  core/api/src/services/mongoose/wallet-invoices.ts
  core/api/test/helpers/wallet-invoices.ts
  core/api/test/legacy-integration/services/lnd/utils.spec.ts
  core/api/test/legacy-integration/services/mongoose/wallet-invoices.spec.ts
Labels: core

#3558 fix(api): idempotency bug in registerBroadcastHandler
  core/api/src/app/wallets/register-broadcasted-payout-txn.ts
  core/api/src/services/ledger/domain/errors.types.d.ts
  core/api/src/services/ledger/facade/index.ts
  core/api/src/services/ledger/facade/onchain-receive.ts
  core/api/src/services/ledger/facade/onchain-reconcile.ts
  core/api/src/services/ledger/facade/onchain-send.ts
  core/api/test/legacy-integration/02-user-wallet/02-bria-handlers.spec.ts
Labels: core

#3562 ci: remove check-code
  ci/pipeline.yml
  ci/tasks/audit.sh
  ci/tasks/check-code.sh
  core/api/Makefile
  core/api/package.json
Labels: core, ci

#3563 chore: add index to WalletInvoice
  core/api/src/services/mongoose/schema.ts
Labels: core

#3565 chore(dashboard): nextjs 14 in dashboard
  apps/dashboard/app/api-keys/api-key.types.ts
  apps/dashboard/app/api-keys/server-actions.ts
  apps/dashboard/app/callback/callback.types.ts
  apps/dashboard/app/callback/server-actions.ts
  apps/dashboard/app/index.types.ts
  apps/dashboard/app/security/email/add/page.tsx
  apps/dashboard/app/security/email/email.types.ts
  apps/dashboard/app/security/email/server-actions.ts
  apps/dashboard/app/security/email/verify/verify-form.tsx
  apps/dashboard/app/transactions/transactions.types.ts
  apps/dashboard/components/api-keys/create.tsx
  apps/dashboard/components/callback/callback-delete.tsx
  apps/dashboard/components/callback/callback-input.tsx
  apps/dashboard/components/callback/callback-list.tsx
  apps/dashboard/components/form-submit-button.tsx
  apps/dashboard/components/security/email/email.tsx
  apps/dashboard/components/side-bar/index.tsx
  apps/dashboard/components/side-bar/navigation-links.tsx
  apps/dashboard/next.config.js
  apps/dashboard/package.json
  pnpm-lock.yaml
Labels: core, dashboard, consent

#3497 chore(core): improve lightning resilience
  core/api/src/services/lnd/index.ts
  core/api/src/services/lnd/index.types.d.ts
Labels: core

#3566 fix: alert on test phone
  core/api/src/app/authentication/request-code.ts
  core/api/src/domain/accounts/index.types.d.ts
  core/api/src/domain/accounts/test-accounts-checker.ts
  core/api/src/domain/authentication/registration-payload-validator.ts
  core/api/src/services/twilio-service.ts
  core/api/test/unit/app/auth/auth-test-checker.ts
Labels: core

#3567 fix(core): avoid unknown exceptions in setGqlContext
  core/api/src/servers/graphql-main-server.ts
  core/api/src/servers/middlewares/session.ts
Labels: core

#3564 refactor: move callback to notification service
  core/api/src/app/payments/send-intraledger.ts
  core/api/src/app/payments/send-lightning.ts
  core/api/src/app/payments/send-on-chain.ts
  core/api/src/app/wallets/add-pending-on-chain-transaction.ts
  core/api/src/app/wallets/add-settled-on-chain-transaction.ts
  core/api/src/app/wallets/get-transaction-by-journal-id.ts
  core/api/src/app/wallets/index.ts
  core/api/src/app/wallets/settle-payout-txn.ts
  core/api/src/app/wallets/update-pending-invoices.ts
  core/api/src/domain/ledger/index.types.d.ts
  core/api/src/domain/notifications/index.types.d.ts
  core/api/src/services/ledger/index.ts
  core/api/src/services/notifications/index.ts
  core/api/test/legacy-integration/notifications/notification.spec.ts
Labels: core

#3569 chore: split export type
  core/api/src/servers/graphql-admin-server.ts
  core/api/src/servers/graphql-main-server.ts
  core/api/src/services/ledger/books.ts
Labels: core

#3372 feat: add unit test rule to core/api buck file
  .github/workflows/unit-test.yml
  core/api/BUCK
  toolchains/workspace-pnpm/macros.bzl
  toolchains/workspace-pnpm/run_in_dir.py
Labels: core, ci

#3577 fix: decimals issue in notification service
  core/api/src/domain/shared/safe.ts
  core/api/src/services/notifications/index.ts
  core/api/src/services/notifications/index.types.d.ts
  core/api/test/unit/domain/shared/safe.spec.ts
Labels: core

#3568 chore: adding rate limit on device account creation
  core/api/dev/bin/gen-test-jwt.ts
  core/api/dev/ory/oathkeeper.yml
  core/api/dev/ory/oathkeeper_rules.yaml
  core/api/galoy.yaml
  core/api/src/config/schema.ts
  core/api/src/config/schema.types.d.ts
  core/api/src/config/yaml.ts
  core/api/src/domain/authentication/index.types.d.ts
  core/api/src/domain/rate-limit/errors.ts
  core/api/src/domain/rate-limit/index.ts
  core/api/src/graphql/error-map.ts
  core/api/src/servers/authentication/index.ts
  core/api/src/services/rate-limit/index.ts
  core/api/test/bats/device-account.bats
  core/api/test/bats/helpers/_common.bash
  dev/config/ory/oathkeeper.yml
  dev/config/ory/oathkeeper_rules.yaml
Labels: core

#3581 chore(core): remove legacy Dockerfile-websocket
  core/api/Dockerfile-websocket
  core/api/yarn.lock
Labels: core

#3571 refactor: callback notifications
  core/api/src/app/payments/send-intraledger.ts
  core/api/src/app/payments/send-lightning.ts
  core/api/src/app/payments/send-on-chain.ts
  core/api/src/app/wallets/add-pending-on-chain-transaction.ts
  core/api/src/app/wallets/add-settled-on-chain-transaction.ts
  core/api/src/app/wallets/settle-payout-txn.ts
  core/api/src/app/wallets/update-pending-invoices.ts
  core/api/src/config/locales/en.json
  core/api/src/config/locales/es.json
  core/api/src/domain/notifications/index.types.d.ts
  core/api/src/services/notifications/create-push-notification-content.ts
  core/api/src/services/notifications/index.ts
  core/api/src/services/svix/index.ts
  core/api/test/legacy-integration/notifications/notification.spec.ts
  core/api/test/unit/services/notifications/transactions.ts
Labels: core

#3572 chore(api): clean up api runs for local dev
  bats/helpers/subscriber/package.json
  bats/helpers/subscriber/pnpm-lock.yaml
  core/api/BUCK
  core/api/package.json
  core/api/src/servers/graphql-admin-api-server.ts
  core/api/src/servers/graphql-main-server.ts
  core/api/src/servers/graphql-public-api-server.ts
  core/api/test/bats/helpers/setup-and-teardown.bash
  dev/Tiltfile
  pnpm-lock.yaml
Labels: core, dashboard, consent

#3583 chore: fix bats tests on mac
  core/api/test/bats/device-account.bats
  core/api/test/bats/helpers/_common.bash
Labels: core

#3579 chore: adding open telemetry to the auth router
  core/api/package.json
  core/api/src/servers/authentication/index.ts
  core/api/src/services/tracing.ts
  pnpm-lock.yaml
Labels: core, dashboard, consent

#3587 build(core): add dev rules for running trigger & ws servers locally
  core/api-trigger/BUCK
  core/api-ws-server/BUCK
  core/api/BUCK
  core/api/package.json
  dev/Tiltfile
Labels: core

#3588 chore(core): removing express instrumentation
  core/api/package.json
  core/api/src/services/tracing.ts
  pnpm-lock.yaml
Labels: core, dashboard, consent

#3589 fix: 1sat intraledger notification
  core/api/src/app/payments/send-intraledger.ts
  core/api/src/app/payments/send-lightning.ts
Labels: core

#3591 fix: myupdates subscription for ln settle intraledger
  core/api/src/services/notifications/index.ts
Labels: core

#3574 feat: request code can use appcheckjti
  core/api/galoy.yaml
  core/api/src/app/authentication/login.ts
  core/api/src/app/authentication/request-code.ts
  core/api/src/config/schema.ts
  core/api/src/config/schema.types.d.ts
  core/api/src/config/yaml.ts
  core/api/src/domain/rate-limit/errors.ts
  core/api/src/domain/rate-limit/index.ts
  core/api/src/graphql/error-map.ts
  core/api/src/servers/authentication/index.ts
Labels: core

#3582 test(core): move updatePendingInvoice idempotency test
  core/api/src/app/wallets/decline-single-pending-invoice.ts
  core/api/src/app/wallets/handle-held-invoices.ts
  core/api/src/app/wallets/index.ts
  core/api/src/app/wallets/update-pending-invoices.ts
  core/api/src/app/wallets/update-single-pending-invoice.ts
  core/api/src/servers/trigger.ts
  core/api/test/helpers/lightning.ts
  core/api/test/helpers/user.ts
  core/api/test/integration/app/wallets/update-pending-invoices.spec.ts
  core/api/test/legacy-integration/02-user-wallet/02-receive-lightning.spec.ts
  core/api/test/legacy-integration/02-user-wallet/02-tx-display.spec.ts
Labels: core

#3590 refactor(core): move 'watch:compile' from make to buck
  core/api/BUCK
  core/api/Makefile
  core/api/package.json
  toolchains/workspace-pnpm/macros.bzl
Labels: core

#3575 chore: make processingCompleted non-optional
  core/api/src/domain/wallet-invoices/index.types.d.ts
  core/api/src/domain/wallet-invoices/wallet-invoice-builder.ts
  core/api/src/services/mongoose/schema.types.d.ts
  core/api/src/services/mongoose/wallet-invoices.ts
  core/api/test/integration/app/wallets/send-lightning.spec.ts
  core/api/test/integration/app/wallets/update-pending-invoices.spec.ts
  core/api/test/unit/domain/wallet-invoices/wallet-invoice-checker.spec.ts
  core/api/test/unit/domain/wallet-invoices/wallet-invoice-receiver.spec.ts
  core/api/test/unit/domain/wallet-invoices/wallet-invoice-status-checker.spec.ts
Labels: core

#3597 chore(core): remove cache and price tracing wrappers
  core/api/src/servers/trigger.ts
  core/api/src/services/cache/local-cache.ts
  core/api/src/services/cache/redis-cache.ts
  core/api/src/services/tracing.ts
  core/api/test/integration/app/wallets/update-pending-invoices.spec.ts
Labels: core

#3596 fix(core): add nonFixedVoip validation
  core/api/src/domain/phone-provider/errors.ts
  core/api/src/graphql/error-map.ts
  core/api/src/services/twilio-service.ts
Labels: core

#3598 chore(core): add disposable phone validation
  core/api/package.json
  core/api/src/services/twilio-service.ts
  core/api/test/unit/services/twilio/is-disposable-phone-number.spec.ts
  pnpm-lock.yaml
Labels: core, dashboard, consent

#3609 build(core): add --frozen-lockfile flag where missing
  core/api/Dockerfile-debug
  core/api/Dockerfile-migrate
  toolchains/workspace-pnpm/macros.bzl
Labels: core

#3594 test(core): add integration tests to BUCK
  .github/workflows/integration-test.yml
  .github/workflows/legacy-integration-test.yml
  .github/workflows/tilt.yml
  core/api/BUCK
  core/api/Makefile
  core/api/test/helpers/lightning.ts
  core/api/test/integration/services/lnd-service.spec.ts
  core/api/test/legacy-integration/01-setup/01-connection.spec.ts
  dev/Tiltfile
  dev/config/lnd/regtest/lnd-outside-1.admin.macaroon
  dev/config/lnd/regtest/lnd-outside-1.admin.macaroon.base64
  dev/config/lnd/regtest/lnd-outside-1.macaroons.db
  dev/config/lnd/regtest/lnd-outside-1.pubkey
  dev/config/lnd/regtest/lnd-outside-1.wallet.db
  dev/config/lnd/regtest/lnd-outside-2.admin.macaroon
  dev/config/lnd/regtest/lnd-outside-2.admin.macaroon.base64
  dev/config/lnd/regtest/lnd-outside-2.macaroons.db
  dev/config/lnd/regtest/lnd-outside-2.pubkey
  dev/config/lnd/regtest/lnd-outside-2.wallet.db
  dev/docker-compose.deps.yml
  toolchains/workspace-pnpm/macros.bzl
Labels: core, ci

#3585 feat(core): add missing callbacks
  core/api/dev/apollo-federation/supergraph.graphql
  core/api/src/app/payments/send-intraledger.ts
  core/api/src/app/payments/send-lightning.ts
  core/api/src/app/payments/update-pending-payments.ts
  core/api/src/domain/callback/index.ts
  core/api/src/domain/notifications/index.ts
  core/api/src/graphql/public/schema.graphql
  core/api/src/graphql/public/types/scalar/tx-notification-type.ts
  core/api/src/services/notifications/index.ts
  core/api/test/unit/services/notifications/transactions.ts
  dev/config/apollo-federation/supergraph.graphql
Labels: core

#3610 fix: make withdrawFee undefined by default
  core/api/src/domain/accounts/index.types.d.ts
  core/api/src/domain/payments/index.types.d.ts
  core/api/src/services/mongoose/schema.ts
  core/api/test/unit/payments/onchain-payment-flow-builder.spec.ts
Labels: core

#3614 chore: re-init-withdraw-fee migration
  core/api/src/migrations/20231128111840-re-init-withdraw-fee.ts
Labels: core

#3616 build(ci): refactor labels to have a default value if empty
  .github/workflows/buck2-test.yaml
  .github/workflows/integration-test.yml
Labels: ci

#3625 ci: switch to pnpm in proto sync script
  ci/tasks/sync-proto.sh
Labels: ci

#3627 test(core): move bria handler test to new integration setup
  core/api/test/integration/app/wallets/handle-bria-event.spec.ts
Labels: core

#3628 chore(core): enforce non-negative 'volumeRemaining'
  core/api/src/domain/accounts/limits-volume.ts
  core/api/test/unit/domain/accounts/limits-volume.spec.ts
Labels: core

#3629 test(core): remove redundant lightning-limits tests
  core/api/test/integration/app/wallets/send-onchain.spec.ts
  core/api/test/legacy-integration/02-user-wallet/02-send-lightning-limits.spec.ts
Labels: core

#3619 feat(core): add transaction to send mutations and myupdates
  core/api/dev/apollo-federation/supergraph.graphql
  core/api/src/app/payments/index.types.d.ts
  core/api/src/app/payments/send-intraledger.ts
  core/api/src/app/payments/send-lightning.ts
  core/api/src/app/payments/send-on-chain.ts
  core/api/src/app/wallets/index.types.d.ts
  core/api/src/graphql/public/root/mutation/intraledger-payment-send.ts
  core/api/src/graphql/public/root/mutation/intraledger-usd-payment-send.ts
  core/api/src/graphql/public/root/mutation/ln-invoice-payment-send.ts
  core/api/src/graphql/public/root/mutation/ln-noamount-invoice-payment-send.ts
  core/api/src/graphql/public/root/mutation/ln-noamount-usd-invoice-payment-send.ts
  core/api/src/graphql/public/root/mutation/onchain-payment-send-all.ts
  core/api/src/graphql/public/root/mutation/onchain-payment-send.ts
  core/api/src/graphql/public/root/mutation/onchain-usd-payment-send-as-sats.ts
  core/api/src/graphql/public/root/mutation/onchain-usd-payment-send.ts
  core/api/src/graphql/public/root/subscription/my-updates.ts
  core/api/src/graphql/public/schema.graphql
  core/api/src/graphql/public/types/payload/payment-send.ts
  core/api/src/services/notifications/index.ts
  core/api/src/services/notifications/index.types.d.ts
  core/api/test/integration/app/wallets/send-intraledger.spec.ts
  core/api/test/integration/app/wallets/send-lightning.spec.ts
  core/api/test/integration/app/wallets/send-onchain.spec.ts
  core/api/test/legacy-integration/02-user-wallet/02-tx-display.spec.ts
  core/api/test/legacy-integration/app/cron/delete-payments.spec.ts
  dev/config/apollo-federation/supergraph.graphql
Labels: core

#3530 fix: tx pagination
  bats/core/api/onchain-receive.bats
  bats/core/api/onchain-send.bats
  bats/helpers/onchain.bash
  core/api/src/app/accounts/get-account-transactions-for-contact.ts
  core/api/src/app/accounts/get-invoices-for-account.ts
  core/api/src/app/accounts/get-transactions-for-account.ts
  core/api/src/app/index.types.d.ts
  core/api/src/app/wallets/get-invoices-for-wallets.ts
  core/api/src/app/wallets/get-transaction-by-id.ts
  core/api/src/app/wallets/get-transaction-by-journal-id.ts
  core/api/src/app/wallets/get-transactions-by-addresses.ts
  core/api/src/app/wallets/get-transactions-by-hash.ts
  core/api/src/app/wallets/get-transactions-for-wallet.ts
  core/api/src/domain/ledger/index.types.d.ts
  core/api/src/domain/primitives/index.ts
  core/api/src/domain/wallet-on-chain/index.types.d.ts
  core/api/src/domain/wallets/tx-history.ts
  core/api/src/graphql/connections.ts
  core/api/src/graphql/public/types/object/account-contact.ts
  core/api/src/graphql/public/types/object/business-account.ts
  core/api/src/graphql/public/types/object/consumer-account.ts
  core/api/src/graphql/shared/types/object/btc-wallet.ts
  core/api/src/graphql/shared/types/object/usd-wallet.ts
  core/api/src/services/ledger/index.ts
  core/api/src/services/ledger/index.types.d.ts
  core/api/src/services/ledger/paginated-ledger.ts
  core/api/test/bats/helpers/onchain.bash
  core/api/test/helpers/wallet.ts
  core/api/test/integration/app/accounts/get-transactions-for-accounts.spec.ts
  core/api/test/integration/services/ledger-service.spec.ts
  core/api/test/legacy-integration/02-user-wallet/02-receive-rewards.spec.ts
  core/api/test/legacy-integration/02-user-wallet/02-tx-display.spec.ts
  core/api/test/legacy-integration/app/trigger/trigger.fn.spec.ts
  core/api/test/unit/domain/wallets/tx-history.spec.ts
Labels: core
