Repository GaloyMoney/blink, pull requests merged in 2023-10, with the labels that each got.

#3337 chore: match debit entry name with credit
  core/api/src/services/ledger/domain/entry-builder.ts
  core/api/src/services/ledger/domain/index.types.d.ts
  core/api/src/services/ledger/facade/offchain-receive.ts
  core/api/test/unit/services/ledger/domain/entry-builder.spec.ts
Labels: core

#3349 chore: increase timeout for quickstart
  .github/workflows/quickstart.yml
Labels: ci

#3342 chore: add payment request to invoice debug script
  core/api/src/app/lightning/get-held-invoices.ts
  core/api/src/debug/add-payment-request-all-wallet-invoice.ts
  core/api/src/domain/bitcoin/lightning/index.types.d.ts
  core/api/src/servers/trigger.ts
  core/api/src/services/lnd/index.ts
Labels: core

#3351 fix: proxycheck timeout
  core/api/src/services/ipfetcher/index.ts
Labels: core

#3353 chore!: remove some legacy uid argument in admin api
  core/api/src/graphql/admin/root/mutation/account-update-level.ts
  core/api/src/graphql/admin/root/mutation/account-update-status.ts
  core/api/src/graphql/admin/schema.graphql
  core/api/test/bats/admin.bats
Labels: core

#3355 chore: remove legacy mutation
  core/api/dev/apollo-federation/supergraph.graphql
  core/api/src/graphql/public/mutations.ts
  core/api/src/graphql/public/root/mutation/user-quiz-question-update-completed.ts
  core/api/src/graphql/public/schema.graphql
  core/api/src/graphql/public/types/payload/user-quiz-question-update-completed.ts
Labels: core

#3364 fix: bump @babel/core to fix vulnerability
  core/api/package.json
  core/api/yarn.lock
  pnpm-lock.yaml
Labels: core

#3352 feat: added transaction and balance in basboard
  apps/dashboard/.env
  apps/dashboard/.gitignore
  apps/dashboard/app/api/auth/[...nextauth]/route.ts
  apps/dashboard/app/favicon.ico
  apps/dashboard/app/globals.css
  apps/dashboard/app/layout.tsx
  apps/dashboard/app/loading.tsx
  apps/dashboard/app/page.tsx
  apps/dashboard/app/transaction/page.tsx
  apps/dashboard/app/transactions/page.tsx
  apps/dashboard/app/url.ts
  apps/dashboard/components/color-toggle.tsx
  apps/dashboard/components/content-container.tsx
  apps/dashboard/components/header.tsx
  apps/dashboard/components/heading.tsx
  apps/dashboard/components/logo.tsx
  apps/dashboard/components/price-container/price-card-container.tsx
  apps/dashboard/components/price-container/price-container.tsx
  apps/dashboard/components/side-bar.tsx
  apps/dashboard/components/transaction-details/index.types.ts
  apps/dashboard/components/transaction-details/page-number.tsx
  apps/dashboard/components/transaction-details/transaction-card-item.tsx
  apps/dashboard/components/transaction-details/transaction-details-table.tsx
  apps/dashboard/components/utils.ts
  apps/dashboard/dev/get-btc.sh
  apps/dashboard/env.ts
  apps/dashboard/middleware.ts
  apps/dashboard/next.config.js
  apps/dashboard/package.json
  apps/dashboard/postcss.config.js
  apps/dashboard/public/blink_logo.svg
  apps/dashboard/services/graphql/config.ts
  apps/dashboard/services/graphql/generated.ts
  apps/dashboard/services/graphql/index.ts
  apps/dashboard/services/graphql/queries/get-transactions.ts
  apps/dashboard/services/graphql/queries/me-data.ts
  apps/dashboard/tailwind.config.ts
  apps/dashboard/theme/emotion-cache.tsx
  apps/dashboard/theme/theme-registry.tsx
  apps/dashboard/theme/theme.ts
  pnpm-lock.yaml
Labels: dashboard

#3368 refactor: switch madge circular deps check to ts files
  core/api/package.json
  core/api/src/app/authentication/login.ts
  core/api/src/app/authentication/phone.ts
  core/api/src/app/authentication/request-code.ts
  core/api/src/services/mongoose/schema.ts
  core/api/src/services/mongoose/schema.types.d.ts
  core/api/src/services/mongoose/wallets.ts
  core/api/src/services/twilio-service.ts
  core/api/test/e2e/jest.setup.js
  core/api/test/legacy-integration/jest.setup.js
Labels: core

#3370 ci: dynamically build apps in github action
  .github/labeler.yml
  .github/workflows/buck2-build.yaml
Labels: ci

#3347 feat: add eslint/tsc/yaml/madge checks to buck
  .github/workflows/buck2-test.yaml
  apps/consent/BUCK
  apps/dashboard/BUCK
  core/api/BUCK
  core/api/package.json
  core/api/src/debug/websocket/package.json
  toolchains/workspace-pnpm/BUCK
  toolchains/workspace-pnpm/macros.bzl
  toolchains/workspace-pnpm/package_runnable_tsc_build_bin.py
  toolchains/workspace-pnpm/run_in_dir.py
  toolchains/workspace-pnpm/toolchain.bzl
Labels: core, ci, dashboard, consent

#3371 chore: remove 'directories' attr from eslint rule
  core/api/BUCK
  toolchains/workspace-pnpm/macros.bzl
Labels: core

#3373 build(dashboard): fix next.config.js
  apps/dashboard/next.config.js
Labels: dashboard

#3367 chore: add 'PaymentPathfindingFailedToFindPossibleRoute' error handling
  core/api/src/services/lnd/errors.ts
  core/api/src/services/lnd/index.ts
Labels: core

#3374 ci: run buck build/test on dependencies bump
  .github/workflows/buck2-build.yaml
  .github/workflows/buck2-test.yaml
Labels: ci

#3379 chore: removing deprecated endpoint
  core/api/dev/apollo-federation/supergraph.graphql
  core/api/src/graphql/public/queries.ts
  core/api/src/graphql/public/root/query/btc-price.ts
  core/api/src/graphql/public/schema.graphql
  core/api/src/servers/graphql-server.ts
Labels: core

#3382 fix: otel exporter propagation
  core/api/package.json
  core/api/yarn.lock
  pnpm-lock.yaml
Labels: core

#3391 fix: add middleware.ts to dashboard build
  apps/dashboard/BUCK
Labels: dashboard

#3392 fix: dependencies tag
  .github/labeler.yml
  .github/workflows/buck2-build.yaml
  .github/workflows/buck2-test.yaml
Labels: ci

#3381 ci: refactor apps pipeline with for loop
  ci/apps/app-template.lib.yml
  ci/apps/pipeline.yml
  ci/apps/tasks/bump-image-digest.sh
  ci/apps/tasks/open-charts-pr.sh
  ci/apps/values.yml
Labels: ci

#3394 build: genericize eslint and add to apps/dashboard tests
  .gitignore
  BUCK
  apps/dashboard/.eslintrc.cjs
  apps/dashboard/.eslintrc.json
  apps/dashboard/BUCK
  apps/dashboard/app/api/auth/[...nextauth]/route.ts
  apps/dashboard/app/layout.tsx
  apps/dashboard/app/loading.tsx
  apps/dashboard/app/page.tsx
  apps/dashboard/app/transactions/page.tsx
  apps/dashboard/app/url.ts
  apps/dashboard/components/color-toggle.tsx
  apps/dashboard/components/content-container.tsx
  apps/dashboard/components/header.tsx
  apps/dashboard/components/heading.tsx
  apps/dashboard/components/logo.tsx
  apps/dashboard/components/price-container/price-card-container.tsx
  apps/dashboard/components/price-container/price-container.tsx
  apps/dashboard/components/session-provider.tsx
  apps/dashboard/components/side-bar.tsx
  apps/dashboard/components/transaction-details/index.types.ts
  apps/dashboard/components/transaction-details/page-number.tsx
  apps/dashboard/components/transaction-details/transaction-card-item.tsx
  apps/dashboard/components/transaction-details/transaction-details-table.tsx
  apps/dashboard/components/utils.ts
  apps/dashboard/env.ts
  apps/dashboard/middleware.ts
  apps/dashboard/package.json
  apps/dashboard/services/graphql/index.ts
  apps/dashboard/services/graphql/queries/get-transactions.ts
  apps/dashboard/services/graphql/queries/me-data.ts
  apps/dashboard/tailwind.config.ts
  apps/dashboard/theme/emotion-cache.tsx
  apps/dashboard/theme/theme-registry.tsx
  apps/dashboard/theme/theme.ts
  core/api/Dockerfile-debug
  core/api/Dockerfile-migrate
  core/api/Dockerfile-websocket
  core/api/Makefile
  core/api/package.json
  core/api/test/bats/helpers/setup-and-teardown.bash
  core/api/tsconfig.json
  lib/eslint-config/.eslintrc.base.js
  lib/eslint-config/BUCK
  lib/eslint-config/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  toolchains/workspace-pnpm/macros.bzl
Labels: core, dashboard, consent

#3306 feat: add new Earn section quiz questions
  core/api/src/config/index.ts
  core/api/src/config/index.types.d.ts
Labels: core

#3397 chore: improve twilio 'InvalidMobileNumber' regex
  core/api/src/domain/users/phone-metadata-validator.ts
  core/api/src/services/twilio-service.ts
Labels: core

#3385 chore: update apollo server
  core/api/package.json
  core/api/src/graphql/error-map.ts
  core/api/src/graphql/error.ts
  core/api/src/graphql/index.types.d.ts
  core/api/src/graphql/shared/types/scalar/signed-display-amount.ts
  core/api/src/servers/graphql-server.ts
  core/api/src/servers/index.files.d.ts
  core/api/yarn.lock
  pnpm-lock.yaml
Labels: core, dashboard, consent

#3401 feat: adding a fetchByUserId admin endpoint
  core/api/src/app/admin/index.ts
  core/api/src/graphql/admin/queries.ts
  core/api/src/graphql/admin/root/query/account-details-by-user-id.ts
  core/api/src/graphql/admin/schema.graphql
  core/api/test/bats/admin-gql/account-details-by-account-id.gql
  core/api/test/bats/admin-gql/account-details-by-user-id.gql
  core/api/test/bats/admin.bats
Labels: core

#3396 chore: genericize prettier config and add to apps/dashboard
  apps/dashboard/.eslintrc.js
  apps/dashboard/package.json
  apps/dashboard/prettier.config.cjs
  core/api/.prettierignore
  lib/eslint-config/.eslintrc.base.js
  lib/eslint-config/.prettier.config.js
  lib/eslint-config/BUCK
  lib/eslint-config/package.json
  pnpm-lock.yaml
Labels: core, dashboard, consent

#3402 fix: parsing lnd errors for error message
  core/api/src/services/lnd/index.ts
Labels: core

#3404 chore: add eslint buck checks to apps/consent
  apps/consent/.eslintrc.js
  apps/consent/.eslintrc.json
  apps/consent/.prettierrc.js
  apps/consent/BUCK
  apps/consent/app/components/button/primary-button-component.tsx
  apps/consent/app/components/button/secondary-button-component.tsx
  apps/consent/app/components/captcha-challenge/index.tsx
  apps/consent/app/components/card/index.tsx
  apps/consent/app/components/form-component.tsx
  apps/consent/app/components/heading.tsx
  apps/consent/app/components/loader/index.tsx
  apps/consent/app/components/logo/index.tsx
  apps/consent/app/components/scope-item/scope-item.tsx
  apps/consent/app/components/separator.tsx
  apps/consent/app/components/sub-heading.tsx
  apps/consent/app/components/varification-components/two-fa-verification-code-form.tsx
  apps/consent/app/components/varification-components/verification-code-form.tsx
  apps/consent/app/consent/page.tsx
  apps/consent/app/error.tsx
  apps/consent/app/graphql/apollo-config.ts
  apps/consent/app/graphql/queries/get-supported-countries.ts
  apps/consent/app/graphql/queries/me-query.ts
  apps/consent/app/index.types.ts
  apps/consent/app/layout.tsx
  apps/consent/app/loading.tsx
  apps/consent/app/login/email-login.types.ts
  apps/consent/app/login/page.tsx
  apps/consent/app/login/phone/form.tsx
  apps/consent/app/login/phone/page.tsx
  apps/consent/app/login/phone/phone-login.types.ts
  apps/consent/app/login/phone/server-actions.ts
  apps/consent/app/login/verification/form.tsx
  apps/consent/app/login/verification/page.tsx
  apps/consent/app/login/verification/server-actions.ts
  apps/consent/app/logout/page.tsx
  apps/consent/app/page.tsx
  apps/consent/cypress.config.ts
  apps/consent/cypress/e2e/email-sign-in/login-email.cy.ts
  apps/consent/cypress/e2e/phone-sign-in/login-phone.cy.ts
  apps/consent/cypress/support/commands.ts
  apps/consent/cypress/support/e2e.ts
  apps/consent/cypress/support/test-config.ts
  apps/consent/env.ts
  apps/consent/package.json
  apps/consent/services/galoy-auth/auth-instance.ts
  apps/consent/services/galoy-auth/index.ts
  apps/consent/services/hydra.ts
  apps/consent/tailwind.config.ts
  apps/dashboard/.prettierrc.js
  lib/eslint-config/.eslintrc.base.js
  lib/eslint-config/.prettierrc.js
  lib/eslint-config/BUCK
  lib/eslint-config/package.json
  pnpm-lock.yaml
Labels: core, dashboard, consent

#3398 chore: add debug script to clean kratos identities
  core/api/src/debug/clean-kratos-identities.ts
  core/api/src/domain/authentication/index.types.d.ts
  core/api/src/services/kratos/identity.ts
  core/api/test/e2e/servers/kratos.spec.ts
  typos.toml
Labels: core

#3414 feat: add payout cancelled event handler
  core/api/src/graphql/error-map.ts
  core/api/src/servers/event-handlers/bria.ts
  core/api/src/services/bria/errors.ts
  core/api/src/services/bria/event-handler.ts
  core/api/src/services/bria/index.types.d.ts
Labels: core

#3415 chore: introduce bria event switch type guard
  core/api/src/services/bria/event-handler.ts
Labels: core

#3416 feat: adding otel in dashboard
  apps/dashboard/env.ts
  apps/dashboard/instrumentation.node.ts
  apps/dashboard/instrumentation.ts
  apps/dashboard/package.json
  apps/dashboard/services/graphql/index.ts
  pnpm-lock.yaml
Labels: core, dashboard, consent

#3413 chore: rename 'runnable' to 'prod' in buck builds
  core/api-cron/BUCK
  core/api-exporter/BUCK
  core/api-trigger/BUCK
  core/api-ws-server/BUCK
  core/api/BUCK
  flake.nix
  toolchains/workspace-pnpm/BUCK
  toolchains/workspace-pnpm/macros.bzl
  toolchains/workspace-pnpm/package_prod_tsc_build.py
  toolchains/workspace-pnpm/package_prod_tsc_build_bin.py
  toolchains/workspace-pnpm/toolchain.bzl
Labels: core

#3384 fix: speed null in onchain queries/mutations
  core/api/dev/apollo-federation/supergraph.graphql
  core/api/src/graphql/public/root/mutation/onchain-payment-send-all.ts
  core/api/src/graphql/public/root/mutation/onchain-payment-send.ts
  core/api/src/graphql/public/root/mutation/onchain-usd-payment-send-as-sats.ts
  core/api/src/graphql/public/root/mutation/onchain-usd-payment-send.ts
  core/api/src/graphql/public/root/query/on-chain-tx-fee-query.ts
  core/api/src/graphql/public/root/query/on-chain-usd-tx-fee-query-as-sats.ts
  core/api/src/graphql/public/root/query/on-chain-usd-tx-fee-query.ts
  core/api/src/graphql/public/schema.graphql
Labels: test on staging, core

#3418 refactor: complete PayoutCancelled handler implementation
  core/api/src/servers/event-handlers/bria.ts
  core/api/src/services/bria/event-handler.ts
  core/api/src/services/bria/index.types.d.ts
  core/api/src/services/ledger/facade/onchain-send.ts
  core/api/test/bats/onchain-send.bats
Labels: core

#3423 chore: pin to Tilt 0.33.5 until upstream Nix pkg is fixed
  flake.lock
  flake.nix
Labels: core, dashboard, consent

#3424 build: add dockerImage dev env package to nix flake
  ci/apps/pipeline.yml
  flake.nix
Labels: ci

#3412 chore: initial Tiltfile
  .github/workflows/tilt.yml
  apps/consent/BUCK
  apps/consent/cypress.config.ts
  apps/consent/cypress/support/commands.ts
  apps/consent/env.ts
  core/api/src/config/env.ts
  dev/.gitignore
  dev/Tiltfile
  dev/bin/init-onchain.sh
  dev/bin/init-user.sh
  dev/bin/setup-hydra-client.sh
  dev/config/bitcoind/bitcoin.conf
  dev/config/bitcoind/bitcoind_signer_descriptors.json
  dev/config/bria.yml
  dev/config/fulcrum/fulcrum.conf
  dev/config/fulcrum/tls.cert
  dev/config/fulcrum/tls.key
  dev/config/lnd/lnd.conf
  dev/config/lnd/regtest/lnd1.admin.macaroon
  dev/config/lnd/regtest/lnd1.admin.macaroon.base64
  dev/config/lnd/regtest/lnd1.macaroons.db
  dev/config/lnd/regtest/lnd1.pubkey
  dev/config/lnd/regtest/lnd1.wallet.db
  dev/config/lnd/tls.cert
  dev/config/lnd/tls.key
  dev/config/ory/body.jsonnet
  dev/config/ory/email_no_password_v0.identity.schema.json
  dev/config/ory/hydra.yml
  dev/config/ory/jwks.json
  dev/config/ory/kratos.yml
  dev/config/ory/oathkeeper.yml
  dev/config/ory/oathkeeper_rules.yaml
  dev/config/ory/phone_email_no_password_v0.identity.schema.json
  dev/config/ory/phone_no_password_v0.identity.schema.json
  dev/config/ory/username_password_deviceid_v0.identity.schema.json
  dev/config/otel-agent-config.yaml
  dev/docker-compose.deps.yml
  dev/helpers/auth.sh
  dev/helpers/cli.sh
  dev/helpers/gql.sh
  dev/helpers/gql/user-email-registration-initiate.gql
  dev/helpers/gql/user-email-registration-validate.gql
  flake.nix
  toolchains/workspace-pnpm/macros.bzl
  typos.toml
Labels: core, ci, consent

#3430 docs: update dev docs with buck / nix info
  .github/workflows/buck2-test.yaml
  .github/workflows/tilt.yml
  README.md
  apps/consent/BUCK
  apps/consent/app/components/scope-item/scope-item.tsx
  apps/consent/app/login/phone/server-actions.ts
  apps/consent/app/login/verification/server-actions.ts
  apps/consent/package.json
  apps/dashboard/BUCK
  apps/dashboard/services/graphql/index.ts
  core/api/BUCK
  dev/BUCK
  dev/Tiltfile
  dev/healthcheck.py
  docs/BUCK2.md
  docs/DEVELOPMENT_ENVIRONMENT.md
  docs/LEGACY_DEV.md
  docs/README.md
Labels: core, ci, dashboard, consent

#3429 chore: making it possible to use localhost instead of ngrok
  apps/consent/app/login/phone/server-actions.ts
  apps/consent/app/login/verification/server-actions.ts
  apps/consent/app/logout/page.tsx
  apps/consent/dev/get-url.sh
  apps/dashboard/.env
  apps/dashboard/next.config.js
  apps/dashboard/services/graphql/index.ts
  core/api/dev/ory/hydra.yml
  core/api/docker-compose.override.yml
  core/api/docker-compose.yml
  docs/hydra.md
  quickstart/galoy/docker-compose.override.yml
Labels: core, dashboard

#3431 chore: add dashboard to tilt
  .github/workflows/buck2-build.yaml
  .github/workflows/buck2-test.yaml
  .github/workflows/tilt.yml
  apps/consent/BUCK
  apps/consent/app/login/phone/server-actions.ts
  apps/consent/cypress/support/test-config.ts
  apps/consent/dev/get-url.sh
  apps/consent/dev/setup-user.sh
  apps/consent/makefile
  apps/consent/yarn.lock
  apps/dashboard/.env
  apps/dashboard/BUCK
  apps/dashboard/env.ts
  apps/dashboard/package.json
  dev/Tiltfile
  dev/bin/get-kratos-code.sh
  dev/bin/init-user.sh
  dev/bin/setup-hydra-client.sh
  dev/helpers/cli.sh
  dev/helpers/gql.sh
Labels: ci, dashboard, consent

#3425 fix: gt3 pnpm install
  core/api/package.json
  core/api/yarn.lock
  pnpm-lock.yaml
Labels: core, dashboard, consent

#3410 chore: fix dashboard bug for invalid token, added dev mode for captcha
  apps/consent/app/components/captcha-challenge/index.tsx
  apps/consent/app/login/phone/server-actions.ts
  apps/consent/env.ts
  apps/dashboard/app/layout.tsx
  apps/dashboard/components/price-container/price-container.tsx
Labels: consent

#3442 chore: deprecate yarn
  .github/workflows/audit.yml
  .github/workflows/bats.yml
  .github/workflows/buck2-build.yaml
  .github/workflows/buck2-test.yaml
  .github/workflows/check-code.yml
  .github/workflows/generate-graphql-docs.yml
  .github/workflows/integration-test.yml
  .github/workflows/mongodb-migrate.yml
  .github/workflows/unit-test.yml
  ci/apps/app-template.lib.yml
  ci/pipeline.yml
  ci/tasks/check-code.sh
  ci/tasks/test-unit.sh
  core/api/Dockerfile-debug
  core/api/Dockerfile-migrate
  core/api/Makefile
  core/api/dev/apollo-federation/README.md
  core/api/package.json
  flake.nix
Labels: core, ci

#3443 ci: reset integration action timeout to 15 mins
  .github/workflows/integration-test.yml
Labels: ci

#3450 fix: added tracing file in BUCK (consent, dashboard)
  apps/consent/BUCK
  apps/dashboard/BUCK
Labels: dashboard, consent

#3448 feat: added dark mode
  apps/consent/app/components/button/primary-button-component.tsx
  apps/consent/app/components/button/secondary-button-component.tsx
  apps/consent/app/components/card/card.module.css
  apps/consent/app/components/input-component.tsx
  apps/consent/app/components/logo/index.tsx
  apps/consent/app/components/main-container/index.tsx
  apps/consent/app/components/next-themes-provider.tsx
  apps/consent/app/components/scope-item/scope-item.module.css
  apps/consent/app/components/separator.tsx
  apps/consent/app/consent/page.tsx
  apps/consent/app/globals.css
  apps/consent/app/layout.tsx
  apps/consent/app/login/page.tsx
  apps/consent/app/login/phone/form.tsx
  apps/consent/app/login/phone/phone-input-styles.css
  apps/consent/cypress/e2e/email-sign-in/login-email.cy.ts
  apps/consent/cypress/e2e/phone-sign-in/login-phone.cy.ts
  apps/consent/package.json
  pnpm-lock.yaml
Labels: core, dashboard, consent

#3458 fix: typo in earn persistence
  core/api/src/migrations/20231030191242-fix-earn-typo.ts
Labels: core

#3409 feat: email verification
  apps/dashboard/app/globals.css
  apps/dashboard/app/security/email/add/page.tsx
  apps/dashboard/app/security/email/verify/page.tsx
  apps/dashboard/app/security/email/verify/verify-form.tsx
  apps/dashboard/app/security/page.tsx
  apps/dashboard/app/security/server-actions.ts
  apps/dashboard/app/url.ts
  apps/dashboard/components/form-submit-button.tsx
  apps/dashboard/components/logo.tsx
  apps/dashboard/components/security/email/email.tsx
  apps/dashboard/components/side-bar.tsx
  apps/dashboard/components/side-bar/index.tsx
  apps/dashboard/components/side-bar/navigation-links.tsx
  apps/dashboard/components/side-bar/side-bar-overlay.tsx
  apps/dashboard/components/side-bar/side-bar-style.tsx
  apps/dashboard/next.config.js
  apps/dashboard/package.json
  apps/dashboard/services/graphql/generated.ts
  apps/dashboard/services/graphql/mutations/email.ts
  apps/dashboard/services/graphql/queries/me-data.ts
  pnpm-lock.yaml
Labels: core, dashboard, consent

#3460 chore: specify deps version in consent and dashboard
  apps/consent/package.json
  apps/dashboard/package.json
  pnpm-lock.yaml
Labels: core, dashboard, consent

#3463 chore: buckify update / check super graph + schemas
  .github/workflows/check-supergraph.yml
  core/api/BUCK
  core/api/Makefile
  core/api/package.json
  core/api/src/servers/write-sdl.ts
  dev/BUCK
  dev/Tiltfile
  dev/bin/check-sdl.sh
  dev/bin/update-supergraph.sh
  dev/config/apollo-federation/README.md
  dev/config/apollo-federation/router.yaml
  dev/config/apollo-federation/supergraph-config.yaml
  dev/config/apollo-federation/supergraph.graphql
  dev/docker-compose.deps.yml
  dev/rover/BUCK
  dev/rover/package.json
  dev/rover/pnpm-lock.yaml
  dev/rover/pnpm-workspace.yaml
  pnpm-lock.yaml
  toolchains/workspace-pnpm/macros.bzl
  toolchains/workspace-pnpm/package_prod_tsc_build_bin.py
  vendir/BUCK
  vendir/bin/sync.sh
Labels: core, ci, dashboard, consent

#3464 chore: added instrumentationHook in consent and dashboard
  apps/consent/next.config.js
  apps/dashboard/next.config.js
Labels: dashboard, consent

#3467 chore: more api-keys deps boilerplate
  Cargo.lock
  Cargo.toml
  core/api-keys/BUCK
  core/api-keys/Cargo.toml
  core/api-keys/src/admin_client/mod.rs
  core/api-keys/src/lib.rs
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
  third-party/rust/fixups/indexmap/fixups.toml
  third-party/rust/fixups/ring/fixups.toml
  third-party/rust/fixups/ring/include/ring_core_generated/prefix_symbols.h
  third-party/rust/fixups/ring/include/ring_core_generated/prefix_symbols_asm.h
  third-party/rust/fixups/ring/include/ring_core_generated/prefix_symbols_nasm.inc
  third-party/rust/fixups/rustls/fixups.toml
  third-party/rust/fixups/syn/fixups.toml
  vendir.lock.yml
  vendir.yml
  vendir/bin/sync.sh
  vendir/template.yml
  vendir/values.yml
Labels: core

#3468 chore: render super graph with keys
  .github/workflows/check-supergraph.yml
  Cargo.lock
  Cargo.toml
  core/api-keys/BUCK
  core/api-keys/Cargo.toml
  core/api-keys/src/bin/write_sdl.rs
  core/api-keys/src/cli/mod.rs
  core/api-keys/src/graphql/mod.rs
  core/api-keys/src/graphql/schema.rs
  core/api-keys/src/graphql/server.rs
  core/api-keys/src/lib.rs
  core/api-keys/src/main.rs
  core/api-keys/subgraph/schema.graphql
  core/api/BUCK
  core/api/dev/apollo-federation/supergraph.graphql
  core/api/src/servers/write-sdl.ts
  dev/Tiltfile
  dev/bin/check-sdl.sh
  dev/bin/update-supergraph.sh
  dev/config/apollo-federation/supergraph-config.yaml
  dev/config/apollo-federation/supergraph.graphql
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
  third-party/rust/fixups/anyhow/fixups.toml
Labels: core, ci
