Repository GaloyMoney/blink, pull requests merged in 2023-12, with the labels that each got.

#3635 fix: pending payments notifications
  core/api/src/app/payments/update-pending-payments.ts
Labels: core

#3638 chore: update flake deps
  flake.lock
  flake.nix
Labels: core, dashboard, consent

#3648 fix: s3 backup
  core/api/src/app/admin/backup.ts
Labels: core

#3649 build(ci): optionally add SSL_CERT_FILE if present
  ci/apps/tasks/buck-task.sh
Labels: ci

#3633 chore: remove dropbox backups
  README.md
  core/api/src/app/admin/backup.ts
  core/api/src/config/env.ts
  core/api/src/config/index.ts
Labels: core

#3626 chore: return batchInclusionEstimatedAt from sendOnChain
  core/api/dev/apollo-federation/supergraph.graphql
  core/api/src/app/on-chain/index.ts
  core/api/src/app/payments/send-on-chain.ts
  core/api/src/domain/bitcoin/onchain/index.types.d.ts
  core/api/src/graphql/admin/schema.graphql
  core/api/src/graphql/public/schema.graphql
  core/api/src/graphql/shared/types/abstract/settlement-via.ts
  core/api/src/graphql/shared/types/object/transaction.ts
  core/api/src/services/bria/index.ts
  dev/config/apollo-federation/supergraph.graphql
Labels: core

#3654 feat(core): add paymentRequest to InitiationViaLn
  core/api/dev/apollo-federation/supergraph.graphql
  core/api/src/app/lightning/get-payment-request.ts
  core/api/src/app/lightning/index.ts
  core/api/src/app/lightning/lookup-invoice-by-hash.ts
  core/api/src/app/on-chain/index.ts
  core/api/src/app/payments/send-lightning.ts
  core/api/src/domain/bitcoin/lightning/index.types.d.ts
  core/api/src/graphql/admin/schema.graphql
  core/api/src/graphql/public/schema.graphql
  core/api/src/graphql/shared/types/abstract/initiation-via.ts
  core/api/src/graphql/shared/types/abstract/settlement-via.ts
  core/api/src/graphql/shared/types/object/transaction.ts
  core/api/src/services/lnd/index.ts
  core/api/test/bats/gql/ln-invoice-payment-send.gql
  core/api/test/bats/gql/pending-incoming-transactions-by-address.gql
  core/api/test/bats/gql/transaction-for-wallet-by-id.gql
  core/api/test/bats/gql/transactions-by-address.gql
  core/api/test/bats/gql/transactions-by-wallet.gql
  core/api/test/bats/gql/transactions-for-wallet-by-payment-hash.gql
  core/api/test/bats/gql/transactions.gql
  core/api/test/bats/ln-receive.bats
  core/api/test/bats/ln-send.bats
  dev/config/apollo-federation/supergraph.graphql
Labels: core

#3658 test(core): move rewards tests from legacy-integration to bats
  bats/core/api/earn.bats
  bats/gql/default-account.gql
  bats/gql/quiz-question.gql
  bats/helpers/bankowner.bash
  bats/helpers/user.bash
  core/api/test/legacy-integration/02-user-wallet/02-receive-rewards.spec.ts
  dev/bin/init-user.sh
  dev/helpers/cli.sh
  dev/helpers/gql/default-account.gql
Labels: core

#3646 chore(pay): clean up pay
  apps/pay/Dockerfile
  apps/pay/app/lnurlp/[username]/callback/route.ts
  apps/pay/app/lnurlp/[username]/graphql.ts
  apps/pay/app/lnurlp/[username]/route.ts
  apps/pay/components/Layouts/AppLayout.tsx
  apps/pay/components/ParsePOSPayment/Receive-Invoice.tsx
  apps/pay/config/config.ts
  apps/pay/env.ts
  apps/pay/lib/config.ts
  apps/pay/lib/graphql.tsx
  apps/pay/package.json
  apps/pay/pages/[username]/print.tsx
  apps/pay/pages/index.tsx
  dev/Tiltfile
  flake.nix
  pnpm-lock.yaml
Labels: core, dashboard, consent, pay

#3637 test: balance for check was missing onchain
  bats/core/api/onchain-receive.bats
  bats/core/api/onchain-send.bats
  bats/helpers/_common.bash
  bats/helpers/ledger.bash
  core/api-exporter/BUCK
  core/api/BUCK
  core/api/package.json
  dev/Tiltfile
Labels: core

#3674 test(core): move legacy tx-display integration tests
  core/api/src/app/wallets/add-pending-on-chain-transaction.ts
  core/api/test/integration/app/wallets/add-pending-on-chain-transaction.spec.ts
  core/api/test/integration/app/wallets/add-settled-on-chain-transaction.spec.ts
  core/api/test/integration/app/wallets/send-intraledger.spec.ts
  core/api/test/integration/app/wallets/send-lightning.spec.ts
  core/api/test/integration/app/wallets/send-onchain.spec.ts
  core/api/test/integration/app/wallets/update-pending-invoices.spec.ts
  core/api/test/integration/app/wallets/update-pending-payments.spec.ts
  core/api/test/legacy-integration/02-user-wallet/02-tx-display.spec.ts
Labels: core

#3672 chore(core): only check batch inclusion when sending
  core/api/src/graphql/shared/types/abstract/settlement-via.ts
Labels: core

#3675 fix: set warn for paymentRequest alert
  core/api/src/graphql/shared/types/abstract/initiation-via.ts
Labels: core

#3669 ci: build gh-token in flake.nix
  flake.lock
  flake.nix
Labels: core, dashboard, consent, pay

#3679 fix(pay): include .well-known folder in build
  apps/pay/BUCK
Labels: pay

#3668 chore: do not return error on InvalidMobileCountryCodeForPhoneMetadat…
  core/api/src/domain/users/errors.ts
  core/api/src/domain/users/index.types.d.ts
  core/api/src/domain/users/phone-metadata-validator.ts
  core/api/src/graphql/error-map.ts
  core/api/test/unit/domain/users/phone-metadata-validator.spec.ts
Labels: core

#3690 chore: dummy commit
  apps/dashboard/README.md
Labels: dashboard

#3691 ci: add gh to dev img
  ci/apps/tasks/open-charts-pr.sh
  flake.nix
Labels: ci

#3651 chore(core)!: update totp mutation to start kratos session
  core/api/dev/apollo-federation/supergraph.graphql
  core/api/src/app/authentication/totp.ts
  core/api/src/graphql/public/root/mutation/user-totp-delete.ts
  core/api/src/graphql/public/root/mutation/user-totp-registration-initiate.ts
  core/api/src/graphql/public/root/mutation/user-totp-registration-validate.ts
  core/api/src/graphql/public/schema.graphql
  core/api/src/services/kratos/identity.ts
  core/api/src/services/kratos/index.ts
  core/api/src/services/kratos/totp.ts
  core/api/test/bats/auth.bats
  core/api/test/bats/gql/user-totp-delete.gql
  core/api/test/bats/gql/user-totp-registration-initiate.gql
  core/api/test/e2e/servers/kratos.spec.ts
  dev/config/apollo-federation/supergraph.graphql
Labels: core

#3692 fix(pay): use req url for ln address
  apps/pay/app/lnurlp/[username]/callback/route.ts
  apps/pay/app/lnurlp/[username]/route.ts
  apps/pay/env.ts
  apps/pay/package.json
  apps/pay/pages/[username]/print.tsx
  apps/pay/utils/utils.ts
  bats/helpers/ledger.bash
  dev/Tiltfile
  pnpm-lock.yaml
Labels: core, dashboard, consent, pay

#3697 feat: add default wallet field
  bats/gql/transactions.gql
  core/api/dev/apollo-federation/supergraph.graphql
  core/api/src/graphql/public/root/query/account-default-wallet.ts
  core/api/src/graphql/public/schema.graphql
  core/api/src/graphql/public/types/abstract/account.ts
  core/api/src/graphql/public/types/object/business-account.ts
  core/api/src/graphql/public/types/object/consumer-account.ts
  core/api/src/graphql/public/types/object/public-wallet.ts
  core/api/test/bats/gql/account-default-wallet.gql
  core/api/test/bats/gql/invoices.gql
  core/api/test/bats/gql/transactions.gql
  dev/config/apollo-federation/supergraph.graphql
Labels: core

#3702 fix(core): remove critical level from CouldNotFindLnPaymentFromHashError
  core/api/src/app/lightning/delete-ln-payments.ts
  core/api/src/domain/errors.ts
  core/api/src/services/mongoose/ln-payments.ts
Labels: core

#3700 chore: remove alert on bad code for totp
  core/api/src/app/authentication/totp.ts
  core/api/src/domain/authentication/errors.ts
  core/api/src/graphql/error-map.ts
  core/api/src/graphql/error.ts
  core/api/src/services/kratos/index.ts
  core/api/src/services/kratos/totp.ts
Labels: core

#3703 feat(core): add addEarn limiter
  core/api/galoy.yaml
  core/api/src/app/payments/add-earn.ts
  core/api/src/config/schema.ts
  core/api/src/config/schema.types.d.ts
  core/api/src/config/yaml.ts
  core/api/src/domain/rate-limit/errors.ts
  core/api/src/domain/rate-limit/index.ts
  core/api/src/graphql/error-map.ts
  core/api/src/graphql/public/root/mutation/quiz-completed.ts
  core/api/test/integration/app/payments/add-earn.spec.ts
Labels: core

#3701 chore(core): add dev-check-code buck rules
  core/api/BUCK
  core/api/package.json
Labels: core

#3676 chore: adding shared component lib
  BUCK
  apps/consent/BUCK
  apps/consent/next.config.js
  apps/consent/package.json
  lib/galoy-components/.storybook/main.ts
  lib/galoy-components/.storybook/preview.ts
  lib/galoy-components/BUCK
  lib/galoy-components/package.json
  lib/galoy-components/postcss.config.js
  lib/galoy-components/src/components/button/button.stories.tsx
  lib/galoy-components/src/components/button/button.tsx
  lib/galoy-components/src/components/index.tsx
  lib/galoy-components/src/index.css
  lib/galoy-components/src/index.ts
  lib/galoy-components/src/tailwind.css
  lib/galoy-components/src/utils/index.ts
  lib/galoy-components/tailwind.config.ts
  lib/galoy-components/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  toolchains/workspace-pnpm/macros.bzl
Labels: core, dashboard, consent, pay

#3696 feat(dasboard): adding totp in dashboard
  apps/consent/package.json
  apps/dashboard/app/security/2fa/add/page.tsx
  apps/dashboard/app/security/2fa/add/verify-form.tsx
  apps/dashboard/app/security/2fa/server-actions.ts
  apps/dashboard/app/security/2fa/totp.types.ts
  apps/dashboard/app/security/page.tsx
  apps/dashboard/app/url.ts
  apps/dashboard/components/security/twoFactorAuthSettings/index.tsx
  apps/dashboard/package.json
  apps/dashboard/services/graphql/generated.ts
  apps/dashboard/services/graphql/mutations/totp.ts
  pnpm-lock.yaml
Labels: core, dashboard, consent, pay

#3693 ci: revamp src diffs
  ci/apps/app-template.lib.yml
  ci/apps/tasks/open-charts-pr.sh
Labels: ci

#3710 chore(core): remove legacy trigger tests
  core/api/test/legacy-integration/app/trigger/trigger.fn.spec.ts
Labels: core

#3677 chore(core): remove legacy "02" tests
  bats/core/api/account.bats
  core/api/test/integration/app/accounts/set-username.spec.ts
  core/api/test/integration/app/accounts/update-account-status.spec.ts
  core/api/test/integration/app/lightning/delete-ln-payments.spec.ts
  core/api/test/integration/app/lightning/update-ln-payments.spec.ts
  core/api/test/integration/services/accounts-repository.spec.ts
  core/api/test/integration/services/ledger-csv.spec.ts
  core/api/test/legacy-integration/01-setup/01-connection.spec.ts
  core/api/test/legacy-integration/01-setup/01-funds-bitcoind-lnds.spec.ts
  core/api/test/legacy-integration/01-setup/01-lightning-channels.spec.ts
  core/api/test/legacy-integration/02-user-wallet/02-a-user-setup.spec.ts
  core/api/test/legacy-integration/app/cron/delete-payments.spec.ts
  core/api/test/legacy-integration/app/swap/swap-record-ledger-fee.spec.ts
  core/api/test/unit/domain/users/checked-to-username.spec.ts
Labels: core

#3707 ci: update core diff script
  ci/pipeline.yml
  ci/tasks/open-charts-pr.sh
Labels: ci

#3715 ci: fix no diff handling in script
  ci/tasks/open-charts-pr.sh
Labels: ci

#3716 fix(api-keys): connect with api key to WS
  bats/core/api-keys/api-keys.bats
  bats/gql/my-updates-sub.gql
  bats/helpers/subscriber/src/gql-subscribe.ts
  core/api/src/servers/ws-server.ts
  core/api/src/services/oathkeeper/index.ts
  flake.lock
Labels: core, dashboard, consent, pay

#3720 fix: account update
  core/api/src/app/accounts/delete-business-map-info.ts
  core/api/src/app/accounts/mark-account-for-deletion.ts
  core/api/src/app/accounts/update-account-level.ts
  core/api/src/app/accounts/update-business-map-info.ts
  core/api/src/app/admin/update-user-phone.ts
  core/api/src/servers/graphql-public-api-server.ts
  core/api/test/bats/admin.bats
  core/api/test/bats/helpers/_common.bash
Labels: core

#3721 ci: fix no diff handling in script
  ci/apps/tasks/open-charts-pr.sh
Labels: ci

#3725 test: update lnd version
  core/api/docker-compose.yml
  dev/docker-compose.deps.yml
Labels: core

#3727 chore: some limits renaming and adjustments
  core/api/galoy.yaml
  core/api/src/app/authentication/login.ts
  core/api/src/app/authentication/phone.ts
  core/api/src/app/authentication/ratelimits.ts
  core/api/src/config/schema.ts
  core/api/src/config/schema.types.d.ts
  core/api/src/config/yaml.ts
  core/api/src/domain/rate-limit/index.ts
  core/api/test/helpers/rate-limit.ts
Labels: core

#3728 chore: lower error level of NotEnoughBalanceForRewardError to Warn
  core/api/src/domain/errors.ts
Labels: core

#3734 chore: remove debug code
  core/api/src/debug/websocket/package.json
  core/api/src/debug/websocket/tsconfig.json
  core/api/src/debug/websocket/websocket.ts.temp
Labels: core

#3681 feat(api): add lnurl payment send mutation
  .github/workflows/bats.yml
  apps/pay/package.json
  bats/ci_setup_suite.bash
  bats/core/api/lnurl-send.bats
  bats/gql/lnurl-payment-send.gql
  bats/gql/username-available.gql
  bats/helpers/user.bash
  core/api/package.json
  core/api/src/app/errors.ts
  core/api/src/app/payments/index.ts
  core/api/src/app/payments/send-lnurl.ts
  core/api/src/app/wallets/index.types.d.ts
  core/api/src/domain/bitcoin/lnurl/errors.ts
  core/api/src/domain/bitcoin/lnurl/index.types.d.ts
  core/api/src/graphql/error-map.ts
  core/api/src/graphql/error.ts
  core/api/src/graphql/public/mutations.ts
  core/api/src/graphql/public/root/mutation/ln-address-payment-send.ts
  core/api/src/graphql/public/root/mutation/lnurl-payment-send.ts
  core/api/src/graphql/public/schema.graphql
  core/api/src/services/lnurl-pay/index.ts
  core/api/test/integration/services/lnurl-pay.spec.ts
  dev/config/apollo-federation/supergraph.graphql
  pnpm-lock.yaml
Labels: core, ci, dashboard, consent, pay

#3726 ci: fix diff branch creation logic
  ci/apps/tasks/open-charts-pr.sh
  ci/tasks/open-charts-pr.sh
Labels: ci

#3736 tests: fix script for checking mobile compatibility
  ci/tasks/check-mobile-schema-compatibility.sh
Labels: ci

#3738 chore: update yaml
  core/api/galoy.yaml
  core/api/src/config/schema.ts
  core/api/src/config/schema.types.d.ts
  core/api/src/config/yaml.ts
  core/api/test/unit/domain/users/phone-metadata-authorizer.spec.ts
Labels: core

#3732 chore!: refactoring quiz for it to be time based
  bats/core/api/quiz.bats
  bats/gql/quiz.gql
  core/api/src/app/index.ts
  core/api/src/app/payments/index.ts
  core/api/src/app/quiz/add.ts
  core/api/src/app/quiz/get.ts
  core/api/src/app/quiz/index.ts
  core/api/src/config/index.ts
  core/api/src/config/types.d.ts
  core/api/src/config/yaml.ts
  core/api/src/domain/accounts/index.types.d.ts
  core/api/src/domain/earn/config.ts
  core/api/src/domain/earn/index.ts
  core/api/src/domain/errors.ts
  core/api/src/domain/rate-limit/errors.ts
  core/api/src/domain/rate-limit/index.ts
  core/api/src/domain/users/errors.ts
  core/api/src/graphql/error-map.ts
  core/api/src/graphql/error.ts
  core/api/src/graphql/public/root/mutation/quiz-completed.ts
  core/api/src/graphql/public/types/object/consumer-account.ts
  core/api/src/migrations/20231220170640-quiz-new-collection-1.ts
  core/api/src/services/mongoose/accounts.ts
  core/api/src/services/mongoose/index.ts
  core/api/src/services/mongoose/quiz.ts
  core/api/src/services/mongoose/rewards.ts
  core/api/src/services/mongoose/schema.ts
  core/api/src/services/mongoose/schema.types.d.ts
  core/api/test/integration/app/quizzes/add-quiz.spec.ts
  core/api/test/integration/services/quiz.spec.ts
  core/api/test/unit/domain/users/phone-metadata-authorizer.spec.ts
  core/api/test/unit/domain/wallets/payment-input-validator.spec.ts
  typos.toml
Labels: core

#3740 chore: earn migration part 2
  core/api/src/migrations/20231220190840-quiz-new-collection-2.ts
Labels: core

#3719 test: move ln tests to top level bats
  .github/workflows/bats.yml
  bats/core/api/ln-receive.bats
  bats/core/api/ln-send.bats
  bats/gql/callback-endpoint-add.gql
  bats/gql/invoice-for-wallet-by-payment-hash.gql
  bats/gql/ln-invoice-create.gql
  bats/gql/ln-invoice-fee-probe.gql
  bats/gql/ln-invoice-payment-send.gql
  bats/gql/ln-no-amount-invoice-create.gql
  bats/gql/ln-no-amount-invoice-fee-probe.gql
  bats/gql/ln-no-amount-invoice-payment-send.gql
  bats/gql/ln-no-amount-usd-invoice-fee-probe.gql
  bats/gql/ln-no-amount-usd-invoice-payment-send.gql
  bats/gql/ln-usd-invoice-create.gql
  bats/gql/ln-usd-invoice-fee-probe.gql
  bats/gql/transaction-for-wallet-by-id.gql
  bats/gql/transactions-for-wallet-by-payment-hash.gql
  bats/helpers/_common.bash
  bats/helpers/callback.bash
  bats/helpers/callback/BUCK
  bats/helpers/callback/index.ts
  bats/helpers/callback/package.json
  bats/helpers/callback/pnpm-lock.yaml
  bats/helpers/callback/pnpm-workspace.yaml
  bats/helpers/callback/prettier.config.js
  bats/helpers/cli.bash
  bats/helpers/ln.bash
  bats/helpers/subscriber.bash
  bats/helpers/trigger.bash
  core/api/test/bats/ln-send.bats
  dev/BUCK
  dev/Tiltfile
  dev/bin/init-lightning.sh
  dev/bin/run-stoppable-trigger.sh
  dev/docker-compose.deps.yml
Labels: core, ci

#3737 chore(core): add additional span attrs to rebalance
  core/api/src/services/lnd/rebalancing.ts
Labels: core

#3694 test: move "01"-dependent tests
  core/api/test/integration/app/wallets/add-invoice-for-wallet.spec.ts
  core/api/test/integration/services/lnd-service.spec.ts
  core/api/test/integration/services/rate-limit.spec.ts
  core/api/test/legacy-integration/app/wallets/invoice.spec.ts
  core/api/test/legacy-integration/services/lnd/parse-errors.spec.ts
Labels: core

#3744 revert: move ln tests to top level bats (#3719)
  .github/workflows/bats.yml
  bats/core/api/ln-send.bats
  bats/gql/callback-endpoint-add.gql
  bats/gql/invoice-for-wallet-by-payment-hash.gql
  bats/gql/ln-invoice-create.gql
  bats/gql/ln-invoice-fee-probe.gql
  bats/gql/ln-invoice-payment-send.gql
  bats/gql/ln-no-amount-invoice-create.gql
  bats/gql/ln-no-amount-invoice-fee-probe.gql
  bats/gql/ln-no-amount-invoice-payment-send.gql
  bats/gql/ln-no-amount-usd-invoice-fee-probe.gql
  bats/gql/ln-no-amount-usd-invoice-payment-send.gql
  bats/gql/ln-usd-invoice-create.gql
  bats/gql/ln-usd-invoice-fee-probe.gql
  bats/gql/transaction-for-wallet-by-id.gql
  bats/gql/transactions-for-wallet-by-payment-hash.gql
  bats/helpers/_common.bash
  bats/helpers/callback.bash
  bats/helpers/callback/BUCK
  bats/helpers/callback/index.ts
  bats/helpers/callback/package.json
  bats/helpers/callback/pnpm-lock.yaml
  bats/helpers/callback/pnpm-workspace.yaml
  bats/helpers/callback/prettier.config.js
  bats/helpers/cli.bash
  bats/helpers/ln.bash
  bats/helpers/subscriber.bash
  bats/helpers/trigger.bash
  core/api/test/bats/ln-receive.bats
  core/api/test/bats/ln-send.bats
  dev/BUCK
  dev/Tiltfile
  dev/bin/init-lightning.sh
  dev/bin/run-stoppable-trigger.sh
  dev/docker-compose.deps.yml
Labels: core, ci

#3747 chore: debug concourse
  .github/workflows/bats.yml
  bats/core/api/ln-receive.bats
  bats/gql/callback-endpoint-add.gql
  bats/gql/invoice-for-wallet-by-payment-hash.gql
  bats/gql/ln-invoice-create.gql
  bats/gql/transaction-for-wallet-by-id.gql
  bats/gql/transactions-for-wallet-by-payment-hash.gql
  bats/helpers/_common.bash
  bats/helpers/callback.bash
  bats/helpers/callback/BUCK
  bats/helpers/callback/index.ts
  bats/helpers/callback/package.json
  bats/helpers/callback/pnpm-lock.yaml
  bats/helpers/callback/pnpm-workspace.yaml
  bats/helpers/callback/prettier.config.js
  bats/helpers/cli.bash
  bats/helpers/ln.bash
  core/api/test/bats/ln-receive.bats
  dev/Tiltfile
  dev/bin/init-lightning.sh
  dev/docker-compose.deps.yml
Labels: core, ci

#3748 chore: remove SVIX_CALLBACK_URL from environment
  .github/workflows/bats.yml
  bats/helpers/callback.bash
  dev/Tiltfile
Labels: ci

#3749 revert: concourse debug changes
  bats/core/api/ln-receive.bats
  bats/gql/callback-endpoint-add.gql
  bats/gql/invoice-for-wallet-by-payment-hash.gql
  bats/gql/ln-invoice-create.gql
  bats/gql/transaction-for-wallet-by-id.gql
  bats/gql/transactions-for-wallet-by-payment-hash.gql
  bats/helpers/_common.bash
  bats/helpers/callback.bash
  bats/helpers/callback/BUCK
  bats/helpers/callback/index.ts
  bats/helpers/callback/package.json
  bats/helpers/callback/pnpm-lock.yaml
  bats/helpers/callback/pnpm-workspace.yaml
  bats/helpers/callback/prettier.config.js
  bats/helpers/cli.bash
  bats/helpers/ln.bash
  core/api/test/bats/ln-receive.bats
  dev/Tiltfile
  dev/bin/init-lightning.sh
  dev/docker-compose.deps.yml
Labels: core

#3741 ci: add relevant commits in diff
  ci/apps/tasks/open-charts-pr.sh
  ci/tasks/open-charts-pr.sh
Labels: ci

#3750 test: move ln tests to top level bats (#3719) (#3744)
  bats/core/api/ln-receive.bats
  bats/core/api/ln-send.bats
  bats/gql/callback-endpoint-add.gql
  bats/gql/invoice-for-wallet-by-payment-hash.gql
  bats/gql/ln-invoice-create.gql
  bats/gql/ln-invoice-fee-probe.gql
  bats/gql/ln-invoice-payment-send.gql
  bats/gql/ln-no-amount-invoice-create.gql
  bats/gql/ln-no-amount-invoice-fee-probe.gql
  bats/gql/ln-no-amount-invoice-payment-send.gql
  bats/gql/ln-no-amount-usd-invoice-fee-probe.gql
  bats/gql/ln-no-amount-usd-invoice-payment-send.gql
  bats/gql/ln-usd-invoice-create.gql
  bats/gql/ln-usd-invoice-fee-probe.gql
  bats/gql/transaction-for-wallet-by-id.gql
  bats/gql/transactions-for-wallet-by-payment-hash.gql
  bats/helpers/_common.bash
  bats/helpers/callback.bash
  bats/helpers/callback/BUCK
  bats/helpers/callback/index.ts
  bats/helpers/callback/package.json
  bats/helpers/callback/pnpm-lock.yaml
  bats/helpers/callback/pnpm-workspace.yaml
  bats/helpers/callback/prettier.config.js
  bats/helpers/cli.bash
  bats/helpers/ln.bash
  bats/helpers/subscriber.bash
  bats/helpers/trigger.bash
  core/api/test/bats/ln-send.bats
  dev/BUCK
  dev/Tiltfile
  dev/bin/init-lightning.sh
  dev/bin/run-stoppable-trigger.sh
  dev/docker-compose.deps.yml
Labels: core

#3752 ci: do not commit relevant commits as file
  ci/tasks/open-charts-pr.sh
Labels: ci

#3754 chore: update some galoy.yaml values
  core/api/galoy.yaml
  core/api/src/config/schema.ts
Labels: core

#3757 test(refactor): clean up ln-send tests move
  .env
  .env.ci
  bats/helpers/callback.bash
  bats/helpers/ln.bash
  core/api/.env
  core/api/.env.ci
  core/api/test/bats/callback.bats
  core/api/test/bats/helpers/setup-and-teardown.bash
Labels: core

#3759 test(core): move and unskip xxd ln-send tests to new suite
  bats/core/api/ln-send.bats
  bats/helpers/ln.bash
  core/api/test/bats/ln-send.bats
  flake.nix
Labels: core

#3760 chore: do not consider quiz rewarded if funder balance is empty
  core/api/src/app/quiz/claim.ts
Labels: core

#3758 fix: check if 'lineTypeIntelligence' property exists
  core/api/src/domain/phone-provider/errors.ts
  core/api/src/graphql/error-map.ts
  core/api/src/services/twilio-service.ts
Labels: core

#3761 fix: time based quizzes
  core/api/src/domain/quiz/index.ts
  core/api/test/integration/app/quizzes/claim-quiz.spec.ts
  core/api/test/unit/domain/quiz/index.spec.ts
Labels: core

#3763 fix: using the right timing for the quizzes
  core/api/src/domain/quiz/index.ts
  core/api/test/unit/domain/quiz/index.spec.ts
Labels: core
