Repository GaloyMoney/blink, pull requests merged in 2024-03, with the labels that each got.

#4089 chore(pay): updated setup page and currency dropdown
  apps/pay/app/setuppwa/page.tsx
  apps/pay/components/currency/currency-dropdown.tsx
  apps/pay/components/sidebar/index.tsx
  apps/pay/package.json
  pnpm-lock.yaml
Labels: admin-panel, core, dashboard, consent, pay, map

#4108 fix(core): handle concurrent modification notification service error
  core/api/src/domain/notifications/errors.ts
  core/api/src/graphql/error-map.ts
  core/api/src/services/notifications/errors.ts
  core/api/src/services/notifications/index.ts
  core/api/src/services/notifications/push-notifications.ts
Labels: core

#4106 feat(notifications): PriceChanged notification
  core/notifications/.sqlx/query-7bc0ab72b1fe05b1f06d1df8af1b4a2db342927ea97f19a44c145f24a44012a3.json
  core/notifications/.sqlx/query-a8774d41695001af8d3797a12c389911e0c76e4fc4aa40cc158009d5e28bb9a0.json
  core/notifications/.sqlx/query-c3df0fac2242909caccdec654c0d78a3c10a9c41b30aea49474eed650f176427.json
  core/notifications/locales/en.yml
  core/notifications/migrations/20240229144542_create_notification_cool_off_tracker_table.down.sql
  core/notifications/migrations/20240229144542_create_notification_cool_off_tracker_table.up.sql
  core/notifications/proto/notifications.proto
  core/notifications/src/app/error.rs
  core/notifications/src/app/mod.rs
  core/notifications/src/email_executor/mod.rs
  core/notifications/src/grpc/server/convert.rs
  core/notifications/src/grpc/server/mod.rs
  core/notifications/src/job/error.rs
  core/notifications/src/job/mod.rs
  core/notifications/src/job/send_email_notification.rs
  core/notifications/src/job/send_push_notification.rs
  core/notifications/src/lib.rs
  core/notifications/src/notification_cool_off_tracker/mod.rs
  core/notifications/src/notification_event/mod.rs
  core/notifications/src/notification_event/price_changed.rs
  core/notifications/src/notification_event/transaction_info.rs
  core/notifications/src/primitives.rs
  core/notifications/src/push_executor/mod.rs
  core/notifications/src/user_notification_settings/repo.rs
Labels: notifications

#4109 fix(notifications): pass price changed locale
  core/notifications/src/notification_event/price_changed.rs
Labels: notifications

#4110 test(core): temp skip lock-fail test
  core/api/test/integration/services/lock-service.spec.ts
Labels: core

#4111 test(core): temp skip hedge tests
  core/api/test/integration/scenarios/hedge-arbitrage.skip.ts
Labels: core

#4113 fix(core): update notifications to fire and forget
  core/api/src/app/accounts/send-default-wallet-balance-to-users.ts
  core/api/src/app/payments/send-intraledger.ts
  core/api/src/app/payments/send-lightning.ts
  core/api/src/app/payments/send-on-chain.ts
  core/api/src/app/payments/update-pending-payments.ts
  core/api/src/app/wallets/add-pending-on-chain-transaction.ts
  core/api/src/app/wallets/add-settled-on-chain-transaction.ts
  core/api/src/app/wallets/settle-payout-txn.ts
  core/api/src/app/wallets/update-single-pending-invoice.ts
Labels: core

#4085 feat(pay): sats currency
  apps/pay/app/sats-currency-metadata.ts
  apps/pay/components/currency/currency-dropdown.tsx
  apps/pay/components/parse-pos-payment/index.tsx
  apps/pay/components/parse-pos-payment/receive-invoice.tsx
  apps/pay/components/payment-outcome/index.tsx
  apps/pay/components/payment-outcome/receipt.tsx
Labels: pay

#4122 fix(notifications): do not error when delivered
  core/notifications/src/push_executor/mod.rs
Labels: notifications

#4124 chore(notifications): handle SenderIdMismatch error
  core/notifications/src/push_executor/fcm/error.rs
  core/notifications/src/push_executor/mod.rs
Labels: notifications

#4126 chore(core): unskip hedger tests
  core/api/test/integration/scenarios/hedge-arbitrage.spec.ts
Labels: core

#4120 chore(pay): consistent camelCase
  apps/pay/app/[username]/page.tsx
  apps/pay/app/[username]/username.module.css
  apps/pay/components/custom-modal/modal.module.css
  apps/pay/components/custom-modal/modal.tsx
  apps/pay/components/layouts/app-layout.module.css
  apps/pay/components/layouts/username-layout.tsx
  apps/pay/components/memo/index.tsx
  apps/pay/components/memo/memo.module.css
  apps/pay/components/parse-pos-payment/index.tsx
  apps/pay/components/parse-pos-payment/nfc.tsx
  apps/pay/components/parse-pos-payment/parse-payment.module.css
  apps/pay/components/parse-pos-payment/receive-invoice.tsx
  apps/pay/components/payment-outcome/index.tsx
  apps/pay/components/payment-outcome/payment-outcome.module.css
  apps/pay/components/share/share-pop-up.tsx
  apps/pay/components/share/share.module.css
Labels: pay

#4132 ci: skip diff link when no relevant commits
  ci/apps/tasks/open-charts-pr.sh
  ci/core/tasks/open-charts-pr.sh
Labels: ci

#4133 ci(core): skip diff link when no relevant commits
  ci/core/tasks/open-core-bundle-charts-pr.sh
Labels: ci

#4039 fix(core): return transaction bundle status on txns [h/t @callebtc]
  .github/workflows/e2e-test.yml
  bats/core/api/callback.bats
  bats/core/api/cron.bats
  bats/core/api/intraledger-send.bats
  bats/core/api/ln-receive.bats
  bats/core/api/ln-send.bats
  bats/core/api/public-ln-receive.bats
  bats/helpers/ln.bash
  core/api/src/app/payments/reimburse-failed-usd.ts
  core/api/src/app/payments/send-lightning.ts
  core/api/src/app/payments/update-pending-payments.ts
  core/api/src/domain/ledger/errors.ts
  core/api/src/domain/ledger/index.types.d.ts
  core/api/src/domain/ledger/ln-payment-state.ts
  core/api/src/domain/wallets/tx-history.ts
  core/api/src/graphql/error-map.ts
  core/api/src/services/ledger/domain/errors.ts
  core/api/src/services/ledger/facade/get-transactions.ts
  core/api/src/services/ledger/facade/index.ts
  core/api/src/services/ledger/facade/update-state.ts
  core/api/src/services/ledger/index.ts
  core/api/src/services/ledger/schema.ts
  core/api/src/services/ledger/schema.types.d.ts
  core/api/test/helpers/index.type.d.ts
  core/api/test/helpers/ledger.ts
  core/api/test/integration/app/wallets/update-pending-payments.spec.ts
  core/api/test/integration/services/ledger-facade.spec.ts
  core/api/test/unit/domain/wallets/tx-history.spec.ts
  core/api/test/unit/ledger/ln-payment-state.spec.ts
Labels: core, ci

#4136 chore(core): add tracing attributes to handle htlc bug edge case
  core/api/src/app/payments/update-pending-payments.ts
Labels: core

#4135 fix(core): register invoice with actual lnd pubkey it was created with
  core/api/src/app/wallets/add-invoice-for-wallet.ts
  core/api/src/domain/bitcoin/lightning/index.types.d.ts
  core/api/src/domain/wallet-invoices/index.types.d.ts
  core/api/src/services/lnd/index.ts
  core/api/test/unit/domain/wallet-invoices/wallet-invoice-builder.spec.ts
Labels: core

#4137 chore(pay): show an error message when there are errors like cors issues
  apps/pay/components/parse-pos-payment/nfc.tsx
Labels: pay

#4138 chore(core): map known price service errors
  core/api/src/domain/price/errors.ts
  core/api/src/graphql/error-map.ts
  core/api/src/graphql/error.ts
  core/api/src/services/price/index.ts
Labels: core

#4142 chore(rust): bump mio
  Cargo.lock
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
Labels: notifications, api-keys

#4144 fix(notifications): return Err when n_deliveries == 0
  core/notifications/src/push_executor/mod.rs
Labels: notifications

#4134 feat(consent): improve consent ui/ux
  apps/consent/app/login/email-login-form.tsx
  apps/consent/app/login/page.tsx
  apps/consent/components/login-link.tsx
  apps/consent/components/phone-auth/phone-auth-form.tsx
  apps/consent/components/phone-auth/phone-input-styles.css
  apps/consent/components/register-link.tsx
  apps/consent/components/select.tsx
  apps/consent/components/tab/sign-in-tabs.tsx
  apps/consent/cypress/e2e/phone-sign-in/login-phone.cy.ts
  apps/consent/public/logo/email.svg
  apps/consent/public/logo/phone.svg
Labels: consent

#4151 refactor(notifications): rename TransactionInfo -> TransactionOccurred
  core/api/src/services/notifications/index.ts
  core/api/src/services/notifications/proto/notifications.proto
  core/api/src/services/notifications/proto/notifications_pb.d.ts
  core/api/src/services/notifications/proto/notifications_pb.js
  core/notifications/proto/notifications.proto
  core/notifications/src/grpc/server/mod.rs
  core/notifications/src/notification_event/mod.rs
  core/notifications/src/notification_event/transaction_occurred.rs
Labels: notifications, core

#4146 fix(core): add correct states for already-paid failed txns
  core/api/src/domain/ledger/ln-payment-state.ts
  core/api/src/domain/wallets/tx-history.ts
  core/api/test/unit/ledger/ln-payment-state.spec.ts
Labels: core

#4143 fix(core): move pending ln-state-update to final return
  core/api/src/app/payments/send-lightning.ts
  core/api/src/app/payments/update-pending-payments.ts
  core/api/src/domain/ledger/ln-payment-state.ts
  core/api/src/services/ledger/facade/update-state.ts
Labels: core

#4152 fix(core): handle gql validation error in gql layer
  core/api/src/graphql/public/root/mutation/onchain-payment-send.ts
Labels: core

#4154 chore(core): add bundleCompletionState tracing attribute
  core/api/src/services/ledger/facade/update-state.ts
Labels: core

#4155 test(core): unskip redis lock test
  core/api/src/services/lock/index.ts
  core/api/test/integration/services/lock-service.spec.ts
Labels: core

#4157 refactor(notifications): introduce JobResult / CompleteWithTx
  core/notifications/src/job/mod.rs
  core/notifications/src/job/send_email_notification.rs
  core/notifications/src/job/send_push_notification.rs
  lib/job-executor-rs/src/lib.rs
Labels: notifications

#4145 feat(notifications): marketing notification triggered
  core/notifications/proto/notifications.proto
  core/notifications/src/app/mod.rs
  core/notifications/src/grpc/server/convert.rs
  core/notifications/src/grpc/server/mod.rs
  core/notifications/src/job/mod.rs
  core/notifications/src/messages/mod.rs
  core/notifications/src/notification_event/marketing_notification_triggered.rs
  core/notifications/src/notification_event/mod.rs
  core/notifications/src/primitives.rs
  core/notifications/subgraph/schema.graphql
  dev/config/apollo-federation/supergraph.graphql
Labels: notifications

#4156 refactor(core): separate payments lock steps into function
  core/api/src/app/payments/send-lightning.ts
  core/api/src/app/payments/update-pending-payments.ts
  core/api/test/integration/app/wallets/update-pending-payments.spec.ts
Labels: core

#4159 feat(pay): change POS logo
  apps/pay/app/manifest.ts
  apps/pay/public/icon-POS.png
Labels: pay

#4160 chore(pay): update print page userHeader
  apps/pay/app/[username]/print/page.tsx
Labels: pay

#4153 feat(pay): responsive layout changes
  apps/pay/app/[username]/page.tsx
  apps/pay/app/[username]/print/page.tsx
  apps/pay/app/[username]/username.module.css
  apps/pay/components/layouts/app-layout.module.css
  apps/pay/components/layouts/username-layout.tsx
  apps/pay/components/parse-pos-payment/index.tsx
  apps/pay/components/parse-pos-payment/parse-payment.module.css
Labels: pay

#4161 chore(core): silence non-critical lnPayments errors in updatePending
  core/api/src/app/payments/send-lightning.ts
  core/api/src/app/payments/update-pending-payments.ts
Labels: core

#4162 chore(core): add 'payment.request' attribute
  core/api/src/app/payments/send-lightning.ts
  core/api/src/app/payments/update-pending-payments.ts
Labels: core

#4178 fix(notifications): use FOR UPDATE for locking mq rows
  core/notifications/migrations/20240312083208_fix_concurrent_poll.down.sql
  core/notifications/migrations/20240312083208_fix_concurrent_poll.up.sql
Labels: notifications

#4173 chore(consent): consistent top padding while changing login options
  apps/consent/app/login/page.tsx
  apps/consent/components/card/card.module.css
  apps/consent/components/main-container/index.tsx
  apps/consent/components/main-container/main-content.module.css
Labels: consent

#4171 chore(pay): QR page changes
  apps/pay/components/parse-pos-payment/index.tsx
  apps/pay/components/parse-pos-payment/parse-payment.module.css
  apps/pay/components/parse-pos-payment/receive-invoice.tsx
  apps/pay/public/icons/caret-left.svg
Labels: pay

#4170 chore(pay): updated keyboard funcitons, sidebar fix
  apps/pay/components/parse-pos-payment/index.tsx
  apps/pay/components/sidebar/index.tsx
Labels: pay

#4149 feat(pay): sign in with blink
  apps/pay/app/[username]/layout.tsx
  apps/pay/app/api/auth/[...nextauth]/auth.ts
  apps/pay/app/api/auth/[...nextauth]/route.ts
  apps/pay/app/graphql/quries/me-query.ts
  apps/pay/app/layout.tsx
  apps/pay/app/ssr-client.ts
  apps/pay/components/apollo-wrapper.tsx
  apps/pay/components/session-provider.tsx
  apps/pay/components/sidebar/index.tsx
  apps/pay/env.ts
  apps/pay/lib/graphql/generated.ts
  apps/pay/middleware.ts
  apps/pay/package.json
  apps/pay/public/icons/logout.svg
  dev/Tiltfile
  pnpm-lock.yaml
Labels: admin-panel, core, dashboard, consent, pay, map

#4107 feat(core): add lnInvoiceCancel mutation
  apps/consent/app/graphql/generated.ts
  apps/dashboard/services/graphql/generated.ts
  apps/pay/lib/graphql/generated.ts
  bats/core/api/ln-receive.bats
  bats/gql/ln-invoice-cancel.gql
  core/api/src/app/wallets/cancel-invoice-for-wallet.ts
  core/api/src/app/wallets/index.ts
  core/api/src/app/wallets/index.types.d.ts
  core/api/src/domain/wallet-invoices/errors.ts
  core/api/src/graphql/error-map.ts
  core/api/src/graphql/public/mutations.ts
  core/api/src/graphql/public/root/mutation/ln-invoice-cancel.ts
  core/api/src/graphql/public/schema.graphql
  dev/config/apollo-federation/supergraph.graphql
Labels: core, dashboard, consent, pay

#4182 chore: edge case for bankowner tx
  core/api/src/services/ledger/facade/onchain-send.ts
Labels: core

#4183 chore: fine tune error for state issue
  core/api/src/services/ledger/facade/onchain-send.ts
Labels: core

#4185 chore(pay): using next-auth page for signin
  apps/pay/components/sidebar/index.tsx
Labels: pay

#4186 chore(core): add tracing span logging
  core/api/src/services/tracing.ts
Labels: core

#4187 fix(notifications): add multi_user_event_dispatch to job registry
  core/notifications/src/job/mod.rs
Labels: notifications

#4158 feat(pay): transactions list in pay
  apps/pay/app/[username]/transaction/page.tsx
  apps/pay/app/globals.css
  apps/pay/components/sidebar/index.tsx
  apps/pay/lib/graphql/generated.ts
  apps/pay/utils/date-util.ts
Labels: pay

#4191 fix(pay): fix queries typo
  apps/pay/app/api/auth/[...nextauth]/auth.ts
  apps/pay/app/graphql/queries/me-query.ts
Labels: pay

#4192 chore: make users be able to connect if their phone is in our system
  core/api/src/app/authentication/request-code.ts
  core/api/src/domain/phone-provider/index.types.d.ts
  core/api/src/services/twilio-service.ts
Labels: core

#4190 chore(pay): update landing page
  apps/pay/app/setuppwa/page.tsx
  apps/pay/app/setuppwa/setuppwa.module.css
  apps/pay/components/currency/currency-dropdown.tsx
  apps/pay/public/BlinkPOS.svg
Labels: pay

#4189 chore(pay): update logo
  apps/pay/components/sidebar/index.tsx
  apps/pay/public/icons/print-sharp.svg
  apps/pay/public/icons/receipt-sharp.svg
  apps/pay/public/paycode-black&white.svg
Labels: pay

#4193 chore: fix sub-directory-level eslint linting
  core/api/.eslintrc.js
  core/api/.eslintrc.json
  core/api/BUCK
  core/api/package.json
  lib/eslint-config/.eslintrc.base.js
  pnpm-lock.yaml
Labels: admin-panel, core, dashboard, consent, pay, map

#4195 chore(pay): changes in sign in flow
  apps/pay/app/api/auth/[...nextauth]/auth.ts
  apps/pay/app/error/page.tsx
  apps/pay/app/graphql/queries/me-query.ts
  apps/pay/app/setuppwa/page.tsx
  apps/pay/components/sidebar/index.tsx
  apps/pay/lib/graphql/generated.ts
  apps/pay/middleware.ts
  apps/pay/public/icons/log-out.svg
Labels: pay

#4196 chore(pay): loading screen on session loading
  apps/pay/app/setuppwa/page.tsx
  apps/pay/components/parse-pos-payment/parse-payment.module.css
Labels: pay

#4199 perf(notifications): skip locked rows when polling sqlxmq
  core/notifications/migrations/20240318074634_skip_locked_rows_in_mq_poll.down.sql
  core/notifications/migrations/20240318074634_skip_locked_rows_in_mq_poll.up.sql
Labels: notifications

#4206 chore(core): add parent span logging
  core/api/src/services/tracing.ts
Labels: core

#4128 feat(core): add price notification setting
  core/api/package.json
  core/api/src/services/notifications/convert.ts
  core/api/src/services/notifications/proto/notifications.proto
  core/api/src/services/notifications/proto/notifications_pb.d.ts
  core/api/src/services/notifications/proto/notifications_pb.js
  core/notifications/proto/notifications.proto
  core/notifications/src/grpc/server/convert.rs
  core/notifications/src/notification_event/price_changed.rs
  core/notifications/src/primitives.rs
  core/notifications/subgraph/schema.graphql
  dev/config/apollo-federation/supergraph.graphql
Labels: notifications, core, api-keys

#4207 feat(admin-panel): add marketing notification UI
  apps/admin-panel/app/globals.css
  apps/admin-panel/app/notifications/page.tsx
  apps/admin-panel/components/icons/compose.svg
  apps/admin-panel/components/notification/builder.tsx
  apps/admin-panel/components/notification/filtered-sender.tsx
  apps/admin-panel/components/notification/languages.ts
  apps/admin-panel/components/notification/notification-actions.tsx
  apps/admin-panel/components/notification/test-sender.tsx
  apps/admin-panel/components/side-bar.tsx
  apps/admin-panel/generated.ts
  apps/admin-panel/graphql.gql
  typos.toml
Labels: admin-panel, notifications, core, dashboard

#4215 feat(pay): transaction printout from pos
  apps/pay/components/payment-outcome/index.tsx
  apps/pay/lib/graphql/generated.ts
Labels: pay

#4181 refactor(core): move intraledger send locked steps into function
  core/api/src/app/accounts/add-new-contact.ts
  core/api/src/app/payments/helpers.ts
  core/api/src/app/payments/send-intraledger.ts
  core/api/src/app/payments/send-lightning.ts
Labels: core

#4212 refactor(core): add price currency to real time price query/subscriptions
  apps/consent/app/graphql/generated.ts
  apps/dashboard/services/graphql/generated.ts
  apps/pay/lib/graphql/generated.ts
  bats/core/api/public.bats
  bats/gql/my-updates-sub.gql
  bats/gql/real-time-price-sub.gql
  bats/gql/real-time-price.gql
  core/api/src/app/accounts/update-display-currency.ts
  core/api/src/app/prices/get-currency.ts
  core/api/src/app/prices/index.ts
  core/api/src/app/prices/index.types.d.ts
  core/api/src/domain/notifications/index.types.d.ts
  core/api/src/domain/price/index.types.d.ts
  core/api/src/graphql/public/root/query/realtime-price.ts
  core/api/src/graphql/public/root/subscription/my-updates.ts
  core/api/src/graphql/public/root/subscription/realtime-price.ts
  core/api/src/graphql/public/schema.graphql
  core/api/src/graphql/public/types/object/business-account.ts
  core/api/src/graphql/public/types/object/consumer-account.ts
  core/api/src/graphql/public/types/object/realtime-price.ts
  core/api/src/servers/trigger.ts
  core/api/src/services/notifications/index.ts
  core/api/src/services/price/index.ts
  core/api/test/unit/app/prices/list-currencies.spec.ts
  dev/config/apollo-federation/supergraph.graphql
Labels: core, dashboard, consent, pay

#4216 feat(notifications): implement email reminder use case
  Cargo.lock
  core/notifications/.sqlx/query-1f1b7039f03d2b42a88d13ee0394aac08c81a41e828eaa94a29e277177822fc6.json
  core/notifications/.sqlx/query-38788b6bfb3d437147ea78bcada68610b5278cb86bd649474d4eb663e98f4497.json
  core/notifications/.sqlx/query-47ede6d0750bde9e9f595f603ee7baf7ba337db2f1707805e8fa36f04ca0360e.json
  core/notifications/.sqlx/query-533ec09be1426e2330214ddb09a74e059574296dc8e7c5e6492e0d60c739935d.json
  core/notifications/.sqlx/query-baf183050fbbad59db8c7ee26f900b9e481bcf530c668e32b61ce8bf25a2a385.json
  core/notifications/.sqlx/query-d05bfed34ba510df8ab1913377c36cdba1db9f4be114ba666008ad2732d479b5.json
  core/notifications/locales/en.yml
  core/notifications/migrations/20240321091909_create_email_reminder_projection.down.sql
  core/notifications/migrations/20240321091909_create_email_reminder_projection.up.sql
  core/notifications/notifications.yml
  core/notifications/src/app/config.rs
  core/notifications/src/app/error.rs
  core/notifications/src/app/mod.rs
  core/notifications/src/email_reminder_projection/config.rs
  core/notifications/src/email_reminder_projection/error.rs
  core/notifications/src/email_reminder_projection/mod.rs
  core/notifications/src/grpc/server/convert.rs
  core/notifications/src/grpc/server/mod.rs
  core/notifications/src/job/config.rs
  core/notifications/src/job/error.rs
  core/notifications/src/job/mod.rs
  core/notifications/src/lib.rs
  core/notifications/src/notification_event/link_email_reminder.rs
  core/notifications/src/notification_event/mod.rs
  core/notifications/src/primitives.rs
  core/notifications/src/user_notification_settings/entity.rs
  core/notifications/src/user_notification_settings/repo.rs
  core/notifications/subgraph/schema.graphql
  dev/config/apollo-federation/supergraph.graphql
  lib/es-entity-rs/BUCK
  lib/es-entity-rs/Cargo.toml
  lib/es-entity-rs/src/events.rs
Labels: notifications, api-keys

#4221 fix(notifications): add jobs_config to job context
  core/notifications/src/app/mod.rs
  core/notifications/src/email_reminder_projection/config.rs
  core/notifications/src/email_reminder_projection/mod.rs
  core/notifications/src/job/config.rs
  core/notifications/src/job/mod.rs
  lib/job-executor-rs/src/lib.rs
Labels: notifications

#4225 fix(notifications): config deserialization
  core/notifications/src/job/config.rs
Labels: notifications

#4219 chore(toolchain): refactor pnpm install from dev_task rules
  BUCK
  apps/admin-panel/BUCK
  apps/consent/BUCK
  apps/dashboard/BUCK
  apps/map/BUCK
  apps/pay/BUCK
  bats/helpers/callback/BUCK
  bats/helpers/callback/pnpm-lock.yaml
  bats/helpers/subscriber/BUCK
  bats/helpers/subscriber/pnpm-lock.yaml
  bats/helpers/totp/BUCK
  bats/helpers/totp/pnpm-lock.yaml
  core/api/BUCK
  pnpm-lock.yaml
  pnpm-workspace.yaml
  toolchains/workspace-pnpm/BUCK
  toolchains/workspace-pnpm/build_workspace_node_modules.py
  toolchains/workspace-pnpm/macros.bzl
  toolchains/workspace-pnpm/toolchain.bzl
Labels: admin-panel, core, dashboard, consent, pay, map

#4218 chore(core): validate NotificationCategory
  core/api/src/domain/notifications/errors.ts
  core/api/src/domain/notifications/index.ts
  core/api/src/domain/notifications/index.types.d.ts
  core/api/src/domain/primitives/index.types.d.ts
  core/api/src/graphql/error-map.ts
  core/api/src/services/notifications/convert.ts
  core/api/src/services/notifications/index.ts
  core/api/src/services/notifications/push-notifications.ts
  core/api/test/unit/domain/notifications/index.spec.ts
Labels: core

#4237 chore(core): add .envrc for local pnpm execution
  core/api/.envrc
Labels: core

#4240 refactor(core): remove redundant balance notification
  bats/core/notifications/notifications.bats
  core/api/package.json
  core/api/src/app/accounts/index.ts
  core/api/src/app/accounts/send-default-wallet-balance-to-users.ts
  core/api/src/config/locales/en.json
  core/api/src/config/locales/es.json
  core/api/src/config/yaml.ts
  core/api/src/domain/notifications/index.ts
  core/api/src/domain/notifications/index.types.d.ts
  core/api/src/servers/daily-balance-notification.ts
  core/api/src/services/notifications/convert.ts
  core/api/src/services/notifications/create-push-notification-content.ts
  core/api/src/services/notifications/grpc-client.ts
  core/api/src/services/notifications/index.ts
  core/api/src/services/notifications/proto/notifications.proto
  core/api/src/services/notifications/proto/notifications_grpc_pb.d.ts
  core/api/src/services/notifications/proto/notifications_grpc_pb.js
  core/api/src/services/notifications/proto/notifications_pb.d.ts
  core/api/src/services/notifications/proto/notifications_pb.js
  core/api/src/services/notifications/push-notifications.ts
  core/api/src/services/notifications/push-notifications.types.d.ts
  core/api/test/unit/services/notifications/create-push-notification-content.spec.ts
  core/notifications/proto/notifications.proto
  core/notifications/src/app/mod.rs
  core/notifications/src/grpc/server/convert.rs
  core/notifications/src/grpc/server/mod.rs
  core/notifications/src/primitives.rs
  core/notifications/subgraph/schema.graphql
  dev/config/apollo-federation/supergraph.graphql
  pnpm-lock.yaml
Labels: admin-panel, notifications, core, dashboard, consent, pay, map

#4242 ci: remove locales from Dockerfile-migrate
  core/api/Dockerfile-migrate
Labels: core

#4166 feat: openAi Assistant
  bats/core/api/user.bats
  bats/gql/support-chat-message-add.gql
  bats/gql/support-chat.gql
  core/api/.envrc
  core/api/package.json
  core/api/src/app/index.ts
  core/api/src/app/support/chat.ts
  core/api/src/app/support/index.ts
  core/api/src/config/env.ts
  core/api/src/domain/support/errors.ts
  core/api/src/domain/support/index.ts
  core/api/src/domain/support/index.types.d.ts
  core/api/src/graphql/public/mutations.ts
  core/api/src/graphql/public/root/mutation/support-chat-message-add.ts
  core/api/src/graphql/public/schema.graphql
  core/api/src/graphql/public/types/object/support-message.ts
  core/api/src/graphql/public/types/object/user.ts
  core/api/src/graphql/public/types/scalar/support-role.ts
  core/api/src/services/mongoose/accounts.ts
  core/api/src/services/mongoose/schema.ts
  core/api/src/services/mongoose/schema.types.d.ts
  core/api/src/services/mongoose/support-chat.ts
  core/api/src/services/openai/assistant.ts
  core/api/src/services/openai/index.ts
  core/api/src/services/openai/mock.ts
  core/api/test/integration/services/openai.spec.ts
  dev/config/apollo-federation/supergraph.graphql
  pnpm-lock.yaml
Labels: admin-panel, core, dashboard, consent, pay, map

#4241 refactor(toolchain): add deps_srcs to sdl rule
  core/api/BUCK
  toolchains/rover/macros.bzl
  toolchains/workspace-pnpm/package_prod_tsc_build_bin.py
Labels: notifications, core, api-keys
