Repository GaloyMoney/blink, pull requests merged in 2024-02, with the labels that each got.

#3929 chore(notifications): add rust-i18n
  Cargo.lock
  Cargo.toml
  core/notifications/BUCK
  core/notifications/Cargo.toml
  core/notifications/build.rs
  core/notifications/locales/en.yml
  core/notifications/src/lib.rs
  core/notifications/src/messages/mod.rs
  core/notifications/tests/novu.rs
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
  third-party/rust/fixups/rust-i18n/fixups.toml
Labels: notifications, api-keys

#3937 feat: adding suggest and approve endpoint for the map
  apps/admin-panel/app/account/[uuid]/page.tsx
  apps/admin-panel/app/account/layout.tsx
  apps/admin-panel/app/merchants/page.tsx
  apps/admin-panel/app/transactions/layout.tsx
  apps/admin-panel/app/types.ts
  apps/admin-panel/codegen.yml
  apps/admin-panel/components/account/business-map-update.tsx
  apps/admin-panel/components/account/details.tsx
  apps/admin-panel/components/account/update.tsx
  apps/admin-panel/components/confirm.tsx
  apps/admin-panel/components/icons/search-globe.svg
  apps/admin-panel/components/merchants/details.tsx
  apps/admin-panel/components/merchants/update.tsx
  apps/admin-panel/components/side-bar.tsx
  apps/admin-panel/generated.ts
  apps/admin-panel/graphql.gql
  apps/admin-panel/next.config.js
  apps/admin-panel/package.json
  bats/admin-gql/business-delete-map-info.gql
  bats/admin-gql/merchant-map-delete.gql
  bats/admin-gql/merchant-map-validate.gql
  bats/admin-gql/merchants-pending-approval.gql
  bats/core/api/merchant.bats
  bats/gql/merchant-map-suggest.gql
  core/api/dev/ory/oathkeeper_rules.yaml
  core/api/src/app/index.ts
  core/api/src/app/merchants/approve-merchant-map.ts
  core/api/src/app/merchants/delete-merchant-map.ts
  core/api/src/app/merchants/index.ts
  core/api/src/app/merchants/suggest-merchant-map.ts
  core/api/src/app/merchants/update-business-map-info.ts
  core/api/src/domain/accounts/index.ts
  core/api/src/domain/merchants/errors.ts
  core/api/src/domain/merchants/index.ts
  core/api/src/graphql/admin/mutations.ts
  core/api/src/graphql/admin/queries.ts
  core/api/src/graphql/admin/root/mutation/delete-business-map.ts
  core/api/src/graphql/admin/root/mutation/merchant-map-delete.ts
  core/api/src/graphql/admin/root/mutation/merchant-map-validate.ts
  core/api/src/graphql/admin/root/query/merchants-pending-approval-listing.ts
  core/api/src/graphql/admin/schema.graphql
  core/api/src/graphql/admin/types/object/account.ts
  core/api/src/graphql/admin/types/object/merchant.ts
  core/api/src/graphql/public/mutations.ts
  core/api/src/graphql/public/root/mutation/merchant-map-suggest.ts
  core/api/src/graphql/public/schema.graphql
  core/api/src/graphql/shared/types/object/merchant.ts
  core/api/src/graphql/shared/types/payload/merchant.ts
  core/api/src/services/mongoose/merchants.ts
  core/api/src/services/mongoose/schema.ts
  core/api/src/utils/uuid.ts
  dev/config/apollo-federation/supergraph.graphql
  dev/config/ory/oathkeeper_rules.yaml
  pnpm-lock.yaml
  quickstart/dev/config/ory/oathkeeper_rules.yaml
Labels: admin-panel, core, dashboard, consent, pay

#3933 ci: wrap tilt ci tests in script to handle logs
  .github/workflows/buck2-test.yaml
  .github/workflows/integration-test.yml
  ci/apps/app-template.lib.yml
  ci/core/pipeline.yml
  dev/Tiltfile
  dev/bin/tilt-ci.sh
Labels: ci

#3951 chore: add dev codegen rules to all `apps` projects
  apps/admin-panel/BUCK
  apps/consent/BUCK
  apps/consent/app/graphql/generated.ts
  apps/dashboard/BUCK
  apps/dashboard/services/graphql/generated.ts
  apps/pay/BUCK
  core/api/Makefile
  dev/BUCK
  dev/bin/codegen.sh
Labels: admin-panel, core, dashboard, consent, pay

#3947 chore(admin-panel): update admin panel otel deps
  apps/admin-panel/package.json
  pnpm-lock.yaml
Labels: admin-panel, core, dashboard, consent, pay

#3942 chore(admin-panel): dev setup for admin panel
  apps/admin-panel/README.md
  apps/admin-panel/app/api/auth/[...nextauth]/options.ts
  apps/admin-panel/app/env.ts
Labels: admin-panel

#3938 feat(map): initialising map
  .github/labeler.yml
  .github/workflows/bats.yml
  .github/workflows/buck2-test.yaml
  .github/workflows/integration-test.yml
  BUCK
  apps/map/.eslintrc.json
  apps/map/.gitignore
  apps/map/BUCK
  apps/map/Dockerfile
  apps/map/README.md
  apps/map/app/favicon.ico
  apps/map/app/globals.css
  apps/map/app/layout.tsx
  apps/map/app/page.tsx
  apps/map/app/server-acton.ts
  apps/map/app/utils.ts
  apps/map/codegen.yml
  apps/map/components/input/index.tsx
  apps/map/components/logo/location.tsx
  apps/map/components/map/index.tsx
  apps/map/components/map/map-theme.ts
  apps/map/components/map/suggest-form.tsx
  apps/map/components/sheet/index.tsx
  apps/map/components/utils.ts
  apps/map/env.ts
  apps/map/instrumentation.node.ts
  apps/map/instrumentation.ts
  apps/map/next-env.d.ts
  apps/map/next.config.js
  apps/map/package.json
  apps/map/postcss.config.js
  apps/map/prettier.config.js
  apps/map/prettierrc.js
  apps/map/public/logo.svg
  apps/map/services/galoy/graphql/client.ts
  apps/map/services/galoy/graphql/generated.ts
  apps/map/services/galoy/graphql/mutation/merchant-map-suggest.ts
  apps/map/services/galoy/graphql/queries/business-map-marker.ts
  apps/map/tailwind.config.ts
  apps/map/tsconfig.json
  ci/apps/app-template.lib.yml
  ci/apps/pipeline.yml
  dev/Tiltfile
  flake.nix
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: admin-panel, core, ci, dashboard, consent, pay, map

#3959 feat(dashboard): added api key warning
  apps/dashboard/app/api-keys/page.tsx
Labels: dashboard

#3962 fix: ci syntax
  ci/apps/app-template.lib.yml
Labels: ci

#3964 refactor: conventional var name for api key
  apps/map/README.md
  apps/map/components/map/index.tsx
  apps/map/env.ts
Labels: map

#3968 fix(trigger): early return on lnd connection issues
  core/api/src/app/wallets/update-single-pending-invoice.ts
Labels: core

#3970 refactor(map): google maps api key passing
  apps/map/BUCK
  apps/map/app/page.tsx
  apps/map/components/map/index.tsx
Labels: map

#3976 build: improve tilt file waits
  .github/workflows/check-code-and-unit-test.yaml
  .github/workflows/integration-test.yml
  dev/Tiltfile
  dev/docker-compose.deps.yml
Labels: ci

#3974 chore(notifications): add sqlxmq boilerplate
  Cargo.lock
  Cargo.toml
  core/api-keys/src/server/mod.rs
  core/notifications/BUCK
  core/notifications/migrations/20210316025847_setup.down.sql
  core/notifications/migrations/20210316025847_setup.up.sql
  core/notifications/migrations/20210921115907_clear.down.sql
  core/notifications/migrations/20210921115907_clear.up.sql
  core/notifications/migrations/20211013151757_fix_mq_latest_message.down.sql
  core/notifications/migrations/20211013151757_fix_mq_latest_message.up.sql
  core/notifications/migrations/20220208120856_fix_concurrent_poll.down.sql
  core/notifications/migrations/20220208120856_fix_concurrent_poll.up.sql
  core/notifications/migrations/20220713122907_fix-clear_all-keep-nil-message.down.sql
  core/notifications/migrations/20220713122907_fix-clear_all-keep-nil-message.up.sql
  lib/job-executor-rs/.env
  lib/job-executor-rs/.sqlx/query-7bc0ab72b1fe05b1f06d1df8af1b4a2db342927ea97f19a44c145f24a44012a3.json
  lib/job-executor-rs/BUCK
  lib/job-executor-rs/Cargo.toml
  lib/job-executor-rs/src/lib.rs
  lib/job-executor-rs/src/main.rs
  lib/tracing-rs/src/lib.rs
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
Labels: notifications, core, api-keys

#3980 chore(notifications): send push notification in job
  Cargo.lock
  core/notifications/Cargo.toml
  core/notifications/locales/en.yml
  core/notifications/proto/notifications.proto
  core/notifications/src/app/error.rs
  core/notifications/src/app/mod.rs
  core/notifications/src/executor/mod.rs
  core/notifications/src/grpc/server/mod.rs
  core/notifications/src/job/error.rs
  core/notifications/src/job/mod.rs
  core/notifications/src/job/send_push_notification.rs
  core/notifications/src/lib.rs
  core/notifications/src/messages/mod.rs
  core/notifications/src/notification_event.rs
  core/notifications/src/primitives.rs
  lib/tracing-rs/src/lib.rs
Labels: notifications, api-keys

#3981 fix(notification): use serde_json in flattened structs
  Cargo.lock
  core/notifications/src/job/send_push_notification.rs
  lib/job-executor-rs/src/lib.rs
  lib/tracing-rs/BUCK
  lib/tracing-rs/Cargo.toml
  lib/tracing-rs/src/lib.rs
Labels: notifications, core, api-keys

#3982 fix(core): use tracing wrappers in email login
  core/api/src/graphql/public/root/mutation/user-logout.ts
  core/api/src/servers/authentication/index.ts
Labels: core

#3958 build: add buck test filters for local dev
  core/api/Makefile
  toolchains/workspace-pnpm/BUCK
  toolchains/workspace-pnpm/macros.bzl
  toolchains/workspace-pnpm/run_npm_test.py
  toolchains/workspace-pnpm/toolchain.bzl
Labels: core

#4000 refactor(core): rename lnInvoicePaymentStatusByRequest
  apps/consent/app/graphql/generated.ts
  apps/consent/codegen.yml
  apps/dashboard/codegen.yml
  apps/dashboard/services/graphql/generated.ts
  apps/pay/codegen.yml
  apps/pay/lib/graphql/generated.ts
  bats/core/api/public-ln-receive.bats
  bats/gql/ln-invoice-payment-status-by-payment-request-sub.gql
  bats/gql/ln-invoice-payment-status-by-payment-request.gql
  bats/gql/ln-invoice-payment-status-by-request-sub.gql
  bats/gql/ln-invoice-payment-status-by-request.gql
  bats/helpers/ln.bash
  core/api/dev/apollo-federation/supergraph.graphql
  core/api/src/graphql/public/queries.ts
  core/api/src/graphql/public/root/query/ln-invoice-payment-status-by-payment-request.ts
  core/api/src/graphql/public/root/query/ln-invoice-payment-status.ts
  core/api/src/graphql/public/root/subscription/ln-invoice-payment-status-by-payment-request.ts
  core/api/src/graphql/public/root/subscription/ln-invoice-payment-status.ts
  core/api/src/graphql/public/schema.graphql
  core/api/src/graphql/public/subscriptions.ts
  core/api/src/graphql/public/types/object/ln-invoice-payment-status-by-payment-request-input.ts
  dev/config/apollo-federation/supergraph.graphql
Labels: core, dashboard, consent, pay

#4004 ci: conditionally upload tilt log from integration if exists
  .github/workflows/integration-test.yml
Labels: ci

#4001 chore(notifications): add identity verification es
  core/notifications/locales/es.yml
Labels: notifications, core

#3992 refactor(pay): use app router in pay
  apps/pay/app/[username]/layout.tsx
  apps/pay/app/[username]/page.tsx
  apps/pay/app/[username]/print/page.tsx
  apps/pay/app/[username]/username.module.css
  apps/pay/app/globals.css
  apps/pay/app/layout.tsx
  apps/pay/app/page.tsx
  apps/pay/app/reducer.tsx
  apps/pay/app/setuppwa/page.tsx
  apps/pay/components/Currency/currency-dropdown.tsx
  apps/pay/components/Layouts/AppLayout.tsx
  apps/pay/components/Layouts/UsernameLayout.tsx
  apps/pay/components/Loading/index.tsx
  apps/pay/components/Loading/loading-component.module.css
  apps/pay/components/Memo/index.tsx
  apps/pay/components/ParsePOSPayment/Digit-Button.tsx
  apps/pay/components/ParsePOSPayment/Receive-Invoice.tsx
  apps/pay/components/ParsePOSPayment/index.tsx
  apps/pay/components/PaymentOutcome/index.tsx
  apps/pay/components/PaymentOutcome/receipt.tsx
  apps/pay/components/PinToHomescreen/index.tsx
  apps/pay/components/Share/share-controller.tsx
  apps/pay/components/Share/share-pop-up.tsx
  apps/pay/components/apollo-wrapper.tsx
  apps/pay/components/formatted-input.tsx
  apps/pay/components/generate-invoice.tsx
  apps/pay/components/invoice.tsx
  apps/pay/components/receive-amount.tsx
  apps/pay/components/receive-no-amount.tsx
  apps/pay/config/config.ts
  apps/pay/lib/download.ts
  apps/pay/lib/graphql.tsx
  apps/pay/package.json
  apps/pay/pages/[username].tsx
  apps/pay/pages/setuppwa/index.tsx
  apps/pay/tsconfig.json
  apps/pay/utils/utils.ts
  pnpm-lock.yaml
Labels: admin-panel, core, dashboard, consent, pay, map

#3960 chore: remove env file usage from tests
  core/api/BUCK
  dev/BUCK
  dev/Tiltfile
  dev/core-bundle/dummy-env.json
  dev/core-bundle/integration-env.json
  dev/core-bundle/serve-env.json
  toolchains/workspace-pnpm/macros.bzl
  toolchains/workspace-pnpm/run_npm_test.py
Labels: core

#4008 test(pay): add 'pay invoice test'
  apps/pay/BUCK
  apps/pay/components/PaymentOutcome/index.tsx
  apps/pay/cypress/e2e/point-of-sale.cy.ts
  apps/pay/cypress/support/commands.ts
  apps/pay/cypress/support/e2e.ts
  apps/pay/cypress/support/test-config.ts
  dev/Tiltfile
Labels: pay

#4012 chore(notifications): import kratos email
  core/notifications/notifications.yml
  core/notifications/src/cli/config.rs
  core/notifications/src/cli/mod.rs
  core/notifications/src/data_import/config.rs
  core/notifications/src/data_import/mod.rs
Labels: notifications

#4027 chore(notifications): bump rust deps
  Cargo.lock
  Cargo.toml
  core/notifications/BUCK
  core/notifications/Cargo.toml
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
Labels: notifications, api-keys

#4026 feat(core): add transactionsByPaymentRequest query
  apps/admin-panel/generated.ts
  apps/consent/app/graphql/generated.ts
  apps/dashboard/services/graphql/generated.ts
  apps/pay/lib/graphql/generated.ts
  bats/core/api/ln-receive.bats
  bats/gql/transactions-for-wallet-by-payment-request.gql
  core/api/dev/apollo-federation/supergraph.graphql
  core/api/src/app/wallets/get-transactions-by-payment-request.ts
  core/api/src/app/wallets/index.ts
  core/api/src/graphql/admin/queries.ts
  core/api/src/graphql/admin/root/query/transactions-by-payment-request.ts
  core/api/src/graphql/admin/schema.graphql
  core/api/src/graphql/public/schema.graphql
  core/api/src/graphql/shared/types/abstract/wallet.ts
  core/api/src/graphql/shared/types/object/btc-wallet.ts
  core/api/src/graphql/shared/types/object/usd-wallet.ts
  dev/config/apollo-federation/supergraph.graphql
Labels: admin-panel

#4002 feat(notifications): add email client
  Cargo.lock
  Cargo.toml
  core/notifications/BUCK
  core/notifications/Cargo.toml
  core/notifications/notifications.yml
  core/notifications/src/app/config.rs
  core/notifications/src/app/error.rs
  core/notifications/src/app/mod.rs
  core/notifications/src/cli/config.rs
  core/notifications/src/cli/mod.rs
  core/notifications/src/email_executor/config.rs
  core/notifications/src/email_executor/error.rs
  core/notifications/src/email_executor/mod.rs
  core/notifications/src/email_executor/smtp/config.rs
  core/notifications/src/email_executor/smtp/error.rs
  core/notifications/src/email_executor/smtp/mod.rs
  core/notifications/src/job/error.rs
  core/notifications/src/job/mod.rs
  core/notifications/src/job/send_email_notification.rs
  core/notifications/src/lib.rs
  core/notifications/src/messages/mod.rs
  core/notifications/src/notification_event.rs
  core/notifications/src/primitives.rs
  core/notifications/src/push_executor/fcm/mod.rs
  core/notifications/src/push_executor/mod.rs
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
  third-party/rust/fixups/psm/fixups.toml
  third-party/rust/fixups/stacker/fixups.toml
Labels: notifications, api-keys

#4035 chore(notifications): add email port
  core/notifications/notifications.yml
  core/notifications/src/email_executor/smtp/config.rs
  core/notifications/src/email_executor/smtp/mod.rs
Labels: notifications

#4036 chore(notifications): use serde_default for email_config
  core/notifications/notifications.yml
  core/notifications/src/app/config.rs
  core/notifications/src/email_executor/config.rs
  core/notifications/src/email_executor/smtp/config.rs
Labels: notifications

#4038 chore(notifications): bump rust deps
  Cargo.lock
  Cargo.toml
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
Labels: notifications, api-keys

#4007 chore(notifications): add transifex config
  core/notifications/.tx/config
  core/notifications/transifex.yml
  flake.nix
Labels: notifications

#4037 chore(notifications): boilerplate for html engine
  Cargo.lock
  Cargo.toml
  core/notifications/BUCK
  core/notifications/Cargo.toml
  core/notifications/src/email_executor/config.rs
  core/notifications/src/email_executor/error.rs
  core/notifications/src/email_executor/mod.rs
  core/notifications/src/email_executor/smtp/mod.rs
  core/notifications/src/messages/email_formatter.rs
  core/notifications/src/messages/error.rs
  core/notifications/src/messages/mod.rs
  core/notifications/src/notification_event/circle_grew.rs
  core/notifications/src/notification_event/circle_threshold_reached.rs
  core/notifications/src/notification_event/error.rs
  core/notifications/src/notification_event/identity_verification_approved.rs
  core/notifications/src/notification_event/identity_verification_declined.rs
  core/notifications/src/notification_event/identity_verification_review_pending.rs
  core/notifications/src/notification_event/mod.rs
  core/notifications/templates/identification.hbs
  core/notifications/templates/layouts/base.hbs
  core/notifications/templates/partials/styles.hbs
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
  third-party/rust/fixups/handlebars/fixups.toml
Labels: notifications, api-keys

#4042 fix(notifications): attempt to embed template strings
  core/notifications/src/messages/email_formatter.rs
Labels: notifications

#3984 feat: POC for NFC for Pay
  apps/pay/app/setuppwa/page.tsx
  apps/pay/components/layouts/username-layout.tsx
  apps/pay/components/parse-pos-payment/index.tsx
  apps/pay/components/parse-pos-payment/nfc.tsx
  apps/pay/components/parse-pos-payment/receive-invoice.tsx
  apps/pay/components/parse-pos-payment/web-nfc.d.ts
  apps/pay/package.json
  apps/pay/public/payment-sound.mp3
  pnpm-lock.yaml
Labels: admin-panel, core, dashboard, consent, pay, map

#4044 chore: check tests for pay
  apps/pay/README.md
  apps/pay/components/parse-pos-payment/nfc.tsx
Labels: pay

#4013 ci: update to fix broken labeler
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: ci

#4056 ci: extract revert commit msg PR numbers correctly
  ci/apps/tasks/open-charts-pr.sh
  ci/core/tasks/open-charts-pr.sh
  ci/core/tasks/open-core-bundle-charts-pr.sh
Labels: ci

#4051 chore(notifications): refactor messages
  core/notifications/src/messages/mod.rs
  core/notifications/src/notification_event/circle_grew.rs
  core/notifications/src/notification_event/circle_threshold_reached.rs
  core/notifications/src/notification_event/identity_verification_approved.rs
  core/notifications/src/notification_event/identity_verification_declined.rs
  core/notifications/src/notification_event/identity_verification_review_started.rs
Labels: notifications

#4061 ci: update checkout github action to v4
  .github/workflows/check-sdls.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/e2e-test.yml
  .github/workflows/generate-graphql-docs.yml
  .github/workflows/graphql-diff.yml
  .github/workflows/integration-test.yml
  .github/workflows/mobile-schema-compatibility.yml
  .github/workflows/mongodb-migrate.yml
  .github/workflows/quickstart.yml
  .github/workflows/spelling.yml
Labels: ci

#4066 refactor(notifications): more expressive error on ConcurrentModification
  core/notifications/src/grpc/server/convert.rs
  core/notifications/src/user_notification_settings/error.rs
Labels: notifications

#4065 chore: increasing limits for invoices creation
  core/api/galoy.yaml
  core/api/src/config/schema.ts
Labels: core

#4060 chore: update lnd to v0.17.4-beta
  core/api/docker-compose.yml
  dev/docker-compose.deps.yml
Labels: core

#4071 feat(pay): updated POS logo
  apps/pay/app/manifest.ts
  apps/pay/public/icon-POS.png
Labels: pay

#4072 feat(dashboard): batch-payment improvement
  apps/dashboard/app/batch-payments/server-actions.ts
  apps/dashboard/app/batch-payments/utils.ts
  apps/dashboard/components/batch-payments/index.tsx
  apps/dashboard/services/graphql/queries/get-user-wallet-id.ts
Labels: dashboard

#4076 fix(dashboard): error propagation/handling
  apps/dashboard/app/batch-payments/get-user-details-action.ts
  apps/dashboard/app/batch-payments/utils.ts
  apps/dashboard/components/batch-payments/index.tsx
  apps/dashboard/services/graphql/queries/get-user-wallet-id.ts
  apps/dashboard/services/graphql/queries/realtime-price.ts
Labels: dashboard

#4080 fix(notifications): better handling of ConcurrentModificationError
  core/notifications/src/user_notification_settings/error.rs
Labels: notifications

#4059 ci: copy component subgraphs into galoy chart during img bump
  ci/core/tasks/bump-image-digest.sh
  ci/core/template.lib.yml
Labels: ci

#4082 fix(core): throw unknown errors without mapping at server entrypoint
  core/api/src/graphql/error-map.ts
  core/api/src/servers/graphql-server.ts
Labels: core

#4083 chore: remove github oauth from admin panel
  apps/admin-panel/app/api/auth/[...nextauth]/options.ts
  apps/admin-panel/app/env.ts
Labels: admin-panel

#4084 ci: remove unused scripts copy step
  core/api/Dockerfile-migrate
Labels: core

#4048 feat(pay): ui improvements
  apps/pay/BUCK
  apps/pay/app/[username]/layout.tsx
  apps/pay/app/[username]/page.tsx
  apps/pay/app/[username]/print/page.tsx
  apps/pay/app/[username]/username.module.css
  apps/pay/app/currency-metadata.ts
  apps/pay/app/globals.css
  apps/pay/app/reducer.tsx
  apps/pay/app/ssr-client.ts
  apps/pay/components/currency/currency-dropdown.tsx
  apps/pay/components/layouts/app-layout.module.css
  apps/pay/components/layouts/username-layout.tsx
  apps/pay/components/memo/index.tsx
  apps/pay/components/memo/memo.module.css
  apps/pay/components/parse-pos-payment/index.tsx
  apps/pay/components/parse-pos-payment/parse-payment.module.css
  apps/pay/components/parse-pos-payment/receive-invoice.tsx
  apps/pay/components/payment-outcome/index.tsx
  apps/pay/components/payment-outcome/payment-outcome.module.css
  apps/pay/components/payment-outcome/receipt.tsx
  apps/pay/components/share/share-pop-up.tsx
  apps/pay/components/sheet/index.tsx
  apps/pay/components/sidebar/index.tsx
  apps/pay/components/utils.ts
  apps/pay/context/invoice-context.tsx
  apps/pay/cypress/e2e/point-of-sale.cy.ts
  apps/pay/package.json
  apps/pay/postcss.config.js
  apps/pay/public/icons/cash-register-icon.svg
  apps/pay/public/icons/clear-input-icon.svg
  apps/pay/public/icons/close.svg
  apps/pay/public/icons/pencil.svg
  apps/pay/public/icons/print-icon.svg
  apps/pay/public/icons/share-icon-white.svg
  apps/pay/tailwind.config.ts
  apps/pay/utils/utils.ts
  pnpm-lock.yaml
Labels: admin-panel, core, dashboard, consent, pay, map

#4087 fix(core): install pnpm in mongodb-migrate image
  core/api/Dockerfile-migrate
Labels: core

#4088 chore(pay): update gql core url for server
  apps/pay/app/ssr-client.ts
Labels: pay

#4077 refactor(notifications): move Transaction push notifications to notifications
  Cargo.lock
  Cargo.toml
  core/api/src/services/notifications/grpc-client.ts
  core/api/src/services/notifications/index.ts
  core/api/src/services/notifications/proto/notifications.proto
  core/api/src/services/notifications/proto/notifications_pb.d.ts
  core/api/src/services/notifications/proto/notifications_pb.js
  core/api/test/integration/app/wallets/add-pending-on-chain-transaction.spec.ts
  core/api/test/integration/app/wallets/add-settled-on-chain-transaction.spec.ts
  core/api/test/integration/app/wallets/send-intraledger.spec.ts
  core/api/test/integration/app/wallets/send-lightning.spec.ts
  core/api/test/integration/app/wallets/send-onchain.spec.ts
  core/api/test/integration/services/notification.spec.ts
  core/notifications/BUCK
  core/notifications/Cargo.toml
  core/notifications/locales/en.yml
  core/notifications/locales/es.yml
  core/notifications/proto/notifications.proto
  core/notifications/src/app/error.rs
  core/notifications/src/email_executor/error.rs
  core/notifications/src/email_executor/mod.rs
  core/notifications/src/grpc/server/convert.rs
  core/notifications/src/grpc/server/mod.rs
  core/notifications/src/messages/email_formatter.rs
  core/notifications/src/messages/error.rs
  core/notifications/src/messages/mod.rs
  core/notifications/src/notification_event/circle_grew.rs
  core/notifications/src/notification_event/circle_threshold_reached.rs
  core/notifications/src/notification_event/error.rs
  core/notifications/src/notification_event/identity_verification_approved.rs
  core/notifications/src/notification_event/identity_verification_declined.rs
  core/notifications/src/notification_event/identity_verification_review_started.rs
  core/notifications/src/notification_event/mod.rs
  core/notifications/src/notification_event/transaction_info.rs
  core/notifications/src/primitives.rs
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
  third-party/rust/fixups/rust_decimal/fixups.toml
Labels: notifications, core, api-keys

#4090 chore(pay): update buck for tailwind
  apps/pay/BUCK
Labels: pay

#4093 fix(core): send absolute settlement amount
  core/api/src/services/notifications/index.ts
  core/api/test/integration/services/notifications.spec.ts
Labels: core

#4081 feat(dashboard) separate connection strings for BTCPay wallet
  apps/dashboard/app/api-keys/page.tsx
  apps/dashboard/components/api-keys/btc-pay-tabs.tsx
  apps/dashboard/components/api-keys/create.tsx
Labels: dashboard

#4096 chore: increase limits for invoice creation
  core/api/galoy.yaml
  core/api/src/config/schema.ts
Labels: core

#4092 test(core): fix admin tests flakiness
  bats/admin-gql/account-update-level.gql
  bats/admin-gql/account-update-status.gql
  core/api/src/graphql/error-map.ts
  core/api/src/services/notifications/index.ts
  core/api/src/services/notifications/push-notifications.ts
Labels: core, ci

#4099 fix(core): intraledger notification not sent
  core/api/src/services/notifications/index.ts
Labels: core

#4104 fix(notifications): add missing lightning_receipt translation
  core/notifications/locales/en.yml
  core/notifications/locales/es.yml
Labels: notifications

#4105 refactor(notifications): extract user_id from NotificationEvent
  core/notifications/src/app/mod.rs
  core/notifications/src/email_executor/mod.rs
  core/notifications/src/grpc/server/mod.rs
  core/notifications/src/job/send_email_notification.rs
  core/notifications/src/job/send_push_notification.rs
  core/notifications/src/notification_event/circle_grew.rs
  core/notifications/src/notification_event/circle_threshold_reached.rs
  core/notifications/src/notification_event/identity_verification_approved.rs
  core/notifications/src/notification_event/identity_verification_declined.rs
  core/notifications/src/notification_event/identity_verification_review_started.rs
  core/notifications/src/notification_event/mod.rs
  core/notifications/src/notification_event/transaction_info.rs
  core/notifications/src/push_executor/mod.rs
Labels: notifications

#4103 chore(pay): make memo button optional
  apps/pay/components/parse-pos-payment/index.tsx
  apps/pay/components/sidebar/index.tsx
  apps/pay/components/switch/index.tsx
  apps/pay/package.json
  pnpm-lock.yaml
Labels: admin-panel, core, dashboard, consent, pay, map

#4095 chore: fine tuning earn rate limits
  core/api/galoy.yaml
  core/api/src/app/quiz/claim.ts
  core/api/src/config/schema.ts
  core/api/src/config/schema.types.d.ts
  core/api/src/config/yaml.ts
  core/api/src/domain/rate-limit/errors.ts
  core/api/src/domain/rate-limit/index.ts
  core/api/src/graphql/error-map.ts
  core/api/src/graphql/public/mutations.ts
  core/api/src/graphql/public/root/mutation/quiz-completed.ts
  core/api/src/graphql/public/schema.graphql
  core/api/test/integration/app/quizzes/claim-quiz.spec.ts
  dev/config/apollo-federation/supergraph.graphql
Labels: core
