Repository GaloyMoney/blink, pull requests merged in 2024-06, with the labels that each got.

#4495 feat(voucher): Adding ability to print from Bitcoinze POS machine.
  apps/voucher/app/manifest.ts
  apps/voucher/app/withdraw/[voucher-secret]/lnurl/lnurl.tsx
  apps/voucher/hooks/get-installed-related-apps.d.ts
  apps/voucher/hooks/use-check-installed-apps.tsx
  apps/voucher/lib/print-companion.ts
Labels: voucher

#4496 refactor(voucher): frontend refactor and misc fixes.
  apps/voucher/app/create/client-side-page.tsx
  apps/voucher/app/page.tsx
  apps/voucher/app/redeem/page.tsx
  apps/voucher/app/user/links/page.tsx
  apps/voucher/app/withdraw/[voucher-secret]/onchain/page.tsx
  apps/voucher/components/create/confirm-modal/index.tsx
  apps/voucher/components/create/create-page-amount/index.tsx
  apps/voucher/components/create/create-page-percentage/index.tsx
  apps/voucher/components/nav-bar/navigation.tsx
  apps/voucher/components/num-pad/index.tsx
  apps/voucher/hooks/use-currency-exchange-rate.tsx
  apps/voucher/lib/utils.ts
Labels: voucher

#4498 chore: update block duration for request code
  apps/consent/app/error-handler.ts
  core/api/galoy.yaml
  core/api/src/app/authentication/request-code.ts
  core/api/src/config/schema.ts
  core/api/src/config/schema.types.d.ts
  core/api/src/config/yaml.ts
  core/api/src/domain/rate-limit/errors.ts
  core/api/src/domain/rate-limit/index.ts
  core/api/src/graphql/error-map.ts
Labels: core, consent

#4499 fix(voucher): exchange rate
  apps/voucher/components/create/confirm-modal/index.tsx
  apps/voucher/components/create/create-page-amount/index.tsx
  apps/voucher/hooks/use-currency-exchange-rate.tsx
Labels: voucher

#4503 chore(voucher): casting platform-fees as number
  apps/voucher/env.ts
Labels: voucher

#4504 chore(voucher): rename details in user link
  apps/voucher/app/withdraw/[voucher-secret]/lnurl/lnurl.tsx
  apps/voucher/components/user-links/index.tsx
  apps/voucher/lib/print-companion.ts
Labels: voucher

#4506 chore: update threshold for spam limits
  core/api/galoy.yaml
  core/api/src/config/schema.ts
Labels: core

#4509 chore: update lnd
  core/api/test/integration/services/lnd-service.spec.ts
  dev/docker-compose.deps.yml
Labels: notifications, core

#4507 refactor(voucher): resolvers in separate files
  apps/voucher/app/api/lnurlw/[unique-hash]/route.ts
  apps/voucher/app/api/lnurlw/callback/[id]/route.ts
  apps/voucher/graphql/resolvers.ts
  apps/voucher/graphql/resolvers/index.ts
  apps/voucher/graphql/resolvers/mutation/create-withdraw-link.ts
  apps/voucher/graphql/resolvers/mutation/redeem-withdraw-link-on-chain.ts
  apps/voucher/graphql/resolvers/query/get-withdraw-link.ts
  apps/voucher/graphql/resolvers/query/get-withdraw-links-by-userId.ts
  apps/voucher/utils/helpers.ts
Labels: voucher
