Repository GaloyMoney/blink, pull requests merged in 2024-09, with the labels that each got.

#4585 chore: demoting chatGPT error to non critical
  core/api/src/domain/support/errors.ts
  core/api/src/services/twilio-service.ts
Labels: core

#4587 chore: make twilio error case insensitive
  core/api/src/services/twilio-service.ts
Labels: core

#4593 fix(consent): encode cookie name
  apps/consent/app/login/email-login-server-action.ts
  apps/consent/app/login/phone/server-actions.ts
  apps/consent/app/login/verification/page.tsx
  dev/docker-compose.deps.yml
Labels: consent

#4597 fix: remove unnecessary users/wallets creation/funding
  bats/core/api/onchain-receive.bats
Labels: notifications, core

#4600 chore: remove deprecated bitcoin.active setting
  bats/core/api/onchain-receive.bats
  bats/helpers/onchain.bash
  dev/config/lnd/lnd.conf
Labels: notifications, core
