Repository GaloyMoney/blink, pull requests merged in 2024-04, with the labels that each got.

#4209 chore(dashboard): added sats/cents in transaction table.
  apps/dashboard/components/transaction-details/index.types.ts
  apps/dashboard/components/transaction-details/transaction-details-table.tsx
Labels: dashboard

#4256 chore(pay): detect pos companion app
  apps/pay/.gitignore
  apps/pay/app/manifest.ts
  apps/pay/components/payment-outcome/index.tsx
Labels: pay

#4248 chore(pay): move boldcard to sidebar
  apps/pay/components/parse-pos-payment/index.tsx
  apps/pay/components/parse-pos-payment/nfc.tsx
  apps/pay/components/sidebar/index.tsx
Labels: pay

#4259 chore(core): fix warning in spell check
  core/api/src/domain/ledger/ln-payment-state.ts
  typos.toml
Labels: core

#4232 refactor(core): move notification steps out of payment send locks
  core/api/src/app/payments/index.types.d.ts
  core/api/src/app/payments/ln-send-result.ts
  core/api/src/app/payments/send-intraledger.ts
  core/api/src/app/payments/send-lightning.ts
  core/api/src/app/payments/send-on-chain.ts
Labels: core

#4263 fix(core): add missing notifications category
  core/api/src/services/notifications/convert.ts
Labels: core

#4260 toolchain(codegen): add codegen capability to workspace-pnpm toolchain
  apps/admin-panel/BUCK
  apps/consent/BUCK
  apps/consent/app/graphql/generated.ts
  apps/dashboard/BUCK
  apps/dashboard/services/graphql/generated.ts
  apps/map/BUCK
  apps/map/services/galoy/graphql/generated.ts
  apps/pay/BUCK
  apps/pay/lib/graphql/generated.ts
  core/api/BUCK
  dev/BUCK
  dev/bin/codegen.sh
  dev/bin/update-schemas.sh
  toolchains/workspace-pnpm/BUCK
  toolchains/workspace-pnpm/graphql_codegen.py
  toolchains/workspace-pnpm/macros.bzl
  toolchains/workspace-pnpm/toolchain.bzl
Labels: admin-panel, core, dashboard, consent, pay, map

#4265 refactor(admin): remove unused admin query
  apps/admin-panel/generated.ts
  core/api/src/app/wallets/index.ts
  core/api/src/domain/errors.ts
  core/api/src/domain/wallets/index.types.d.ts
  core/api/src/graphql/admin/queries.ts
  core/api/src/graphql/admin/root/query/all-walletids.ts
  core/api/src/graphql/admin/schema.graphql
  core/api/src/graphql/error-map.ts
  core/api/src/services/mongoose/wallets.ts
Labels: admin-panel, core

#4273 fix(core): add success field to 'UserLoginUpgradeMutation' error return
  core/api/src/graphql/error.ts
  core/api/src/graphql/public/root/mutation/user-login-upgrade.ts
Labels: core

#4222 feat(core): add currencyConversionEstimate query
  apps/consent/app/graphql/generated.ts
  apps/dashboard/services/graphql/generated.ts
  apps/map/services/galoy/graphql/generated.ts
  apps/pay/lib/graphql/generated.ts
  bats/core/api/public.bats
  bats/gql/currency-conversion-estimation.gql
  core/api/src/app/prices/estimate-wallets-amounts.ts
  core/api/src/app/prices/get-current-price.ts
  core/api/src/app/prices/index.ts
  core/api/src/app/prices/index.types.d.ts
  core/api/src/domain/fiat/display-currency.ts
  core/api/src/domain/wallets/tx-history.ts
  core/api/src/graphql/public/queries.ts
  core/api/src/graphql/public/root/query/currency-conversion-estimation.ts
  core/api/src/graphql/public/schema.graphql
  core/api/src/graphql/public/types/object/currency-conversion-estimation.ts
  core/api/test/unit/domain/wallets/tx-history.spec.ts
  dev/config/apollo-federation/supergraph.graphql
Labels: core, dashboard, consent, pay, map

#4282 build: bump flake
  flake.lock
Labels: admin-panel, notifications, core, dashboard, consent, pay, api-keys, map

#4277 fix(core): add account deletion limit validation
  bats/core/api/account.bats
  core/api/galoy.yaml
  core/api/src/app/accounts/mark-account-for-deletion.ts
  core/api/src/config/schema.ts
  core/api/src/config/schema.types.d.ts
  core/api/src/config/types.d.ts
  core/api/src/config/yaml.ts
  core/api/src/domain/accounts/errors.ts
  core/api/src/domain/users/index.types.d.ts
  core/api/src/graphql/error-map.ts
  core/api/src/graphql/error.ts
  core/api/src/services/mongoose/users.ts
  core/api/test/integration/app/accounts/create-account.spec.ts
  core/api/test/integration/scenarios/hedge-arbitrage.spec.ts
Labels: core

#4284 chore(pay): adding otel
  apps/pay/app/ssr-client.ts
  apps/pay/instrumentation.node.ts
  apps/pay/instrumentation.ts
  apps/pay/package.json
  pnpm-lock.yaml
Labels: admin-panel, core, dashboard, consent, pay, map

#4288 fix: js math issue in majorToMinorUnit
  core/api/src/domain/fiat/display-currency.ts
  core/api/test/unit/domain/fiat/major-to-minor-unit.spec.ts
Labels: core

#4290 fix(core): add bignumber to solve js math issues
  core/api/package.json
  core/api/src/domain/fiat/display-currency.ts
  core/api/test/unit/domain/fiat/major-to-minor-unit.spec.ts
  pnpm-lock.yaml
Labels: admin-panel, core, dashboard, consent, pay, map

#4291 feat(notifications): bitcoin price down notification
  core/notifications/locales/ca.yml
  core/notifications/locales/en.yml
  core/notifications/locales/es.yml
  core/notifications/locales/ro.yml
  core/notifications/src/notification_event/price_changed.rs
Labels: notifications

#4286 chore(core): migrate invoice users external
  core/api/package.json
  core/api/src/migrations/20240412030143-add-external-id-to-invoices.ts
Labels: core

#4293 chore(pay): layout changes
  apps/pay/app/globals.css
  apps/pay/app/setuppwa/setuppwa.module.css
  apps/pay/components/layouts/app-layout.module.css
  apps/pay/components/parse-pos-payment/index.tsx
  apps/pay/components/parse-pos-payment/parse-payment.module.css
  apps/pay/components/parse-pos-payment/receive-invoice.tsx
  apps/pay/components/sheet/index.tsx
  apps/pay/components/sidebar/index.tsx
Labels: pay

#4287 feat(core): enforce uniqueness and add tx external id param
  apps/consent/app/graphql/generated.ts
  apps/dashboard/services/graphql/generated.ts
  apps/map/services/galoy/graphql/generated.ts
  apps/pay/lib/graphql/generated.ts
  bats/core/api/invoices.bats
  bats/core/api/ln-receive.bats
  core/api/src/graphql/public/root/mutation/ln-invoice-create-on-behalf-of-recipient.ts
  core/api/src/graphql/public/root/mutation/ln-invoice-create.ts
  core/api/src/graphql/public/root/mutation/ln-noamount-invoice-create-on-behalf-of-recipient.ts
  core/api/src/graphql/public/root/mutation/ln-noamount-invoice-create.ts
  core/api/src/graphql/public/root/mutation/ln-usd-invoice-btc-denominated-create-on-behalf-of-recipient.ts
  core/api/src/graphql/public/root/mutation/ln-usd-invoice-create-on-behalf-of-recipient.ts
  core/api/src/graphql/public/root/mutation/ln-usd-invoice-create.ts
  core/api/src/graphql/public/schema.graphql
  core/api/src/services/mongoose/schema.ts
  dev/config/apollo-federation/supergraph.graphql
Labels: core, dashboard, consent, pay, map

#4298 chore(map): adding ip headers
  apps/map/app/tracing.ts
  apps/map/services/galoy/graphql/client.ts
Labels: map

#4295 chore(pay): adding loader for nfc
  apps/pay/components/parse-pos-payment/nfc.tsx
Labels: pay

#4301 ci: use kaniko builder
  ci/apps/app-template.lib.yml
  ci/core/template.lib.yml
Labels: ci

#4264 feat(notifications): add InAppMsg to NotificationEvent
  apps/dashboard/services/graphql/generated.ts
  bats/core/notifications/notifications.bats
  bats/gql/user-disable-notification-category.gql
  bats/gql/user-disable-notification-channel.gql
  bats/gql/user-enable-notification-category.gql
  bats/gql/user-enable-notification-channel.gql
  bats/gql/user-in-app-notification-mark-as-read.gql
  bats/gql/user-in-app-notifications.gql
  core/notifications/.sqlx/query-7f658f6746ea4f803591356c3762f9a04ac6f7200686dab96f45c6a47aecb4a3.json
  core/notifications/.sqlx/query-b7ca1af7c06bb123ceb0a808475c7a7eade1ed968fd8f9d80b5348f2fc457ade.json
  core/notifications/.sqlx/query-e6e01efa4d7970e97d96d6b331294ae9c9cb19ecdcfd36561a7834947dbe291a.json
  core/notifications/.sqlx/query-ecab5bdaeb8ad4b1d1cdd64aa12a602e0cea8538d5f0acb5df2fd4afa7de7106.json
  core/notifications/.sqlx/query-f3ee924ad05e1a99de6abd44ae5e024ec12f66377840b550e06c1a29ae6b1305.json
  core/notifications/migrations/20240406100757_create_in_app_notifications.down.sql
  core/notifications/migrations/20240406100757_create_in_app_notifications.up.sql
  core/notifications/src/app/error.rs
  core/notifications/src/app/mod.rs
  core/notifications/src/graphql/convert.rs
  core/notifications/src/graphql/schema.rs
  core/notifications/src/graphql/types.rs
  core/notifications/src/in_app_notification/entity.rs
  core/notifications/src/in_app_notification/error.rs
  core/notifications/src/in_app_notification/mod.rs
  core/notifications/src/in_app_notification/repo.rs
  core/notifications/src/job/error.rs
  core/notifications/src/job/mod.rs
  core/notifications/src/lib.rs
  core/notifications/src/messages/mod.rs
  core/notifications/src/notification_event/circle_grew.rs
  core/notifications/src/notification_event/circle_threshold_reached.rs
  core/notifications/src/notification_event/identity_verification_approved.rs
  core/notifications/src/notification_event/identity_verification_declined.rs
  core/notifications/src/notification_event/identity_verification_review_started.rs
  core/notifications/src/notification_event/link_email_reminder.rs
  core/notifications/src/notification_event/marketing_notification_triggered.rs
  core/notifications/src/notification_event/mod.rs
  core/notifications/src/notification_event/price_changed.rs
  core/notifications/src/notification_event/transaction_occurred.rs
  core/notifications/src/primitives.rs
  core/notifications/src/push_executor/fcm/mod.rs
  core/notifications/src/user_notification_settings/repo.rs
  core/notifications/subgraph/schema.graphql
  dev/config/apollo-federation/supergraph.graphql
Labels: notifications, dashboard

#4289 feat: using vector store for improving knowledge base
  bats/core/api/user.bats
  core/api/src/app/errors.ts
  core/api/src/app/support/chat.ts
  core/api/src/config/env.ts
  core/api/src/domain/support/errors.ts
  core/api/src/domain/support/index.types.d.ts
  core/api/src/graphql/error-map.ts
  core/api/src/services/mongoose/support-chat.ts
  core/api/src/services/openai/assistant.ts
  core/api/src/services/openai/embeddings.ts
  core/api/src/services/openai/index.ts
  core/api/src/services/openai/mock.ts
  core/api/src/services/openai/pinecone.ts
  core/api/test/integration/services/assistant.spec.ts
  core/api/test/integration/services/openai.spec.ts
  pnpm-lock.yaml
Labels: admin-panel, core, dashboard, consent, pay, map, voucher

#4310 fix(pay): nfc loader full screen, disable nfc if not supported
  apps/pay/app/setuppwa/setuppwa.module.css
  apps/pay/components/parse-pos-payment/nfc.tsx
Labels: pay

#4305 feat(notifications): introduce StatefulNotifications
  Cargo.lock
  Cargo.toml
  apps/dashboard/services/graphql/generated.ts
  bats/core/notifications/notifications.bats
  bats/gql/acknowledge-notification.gql
  bats/gql/list-stateful-notifications.gql
  bats/gql/user-in-app-notification-mark-as-read.gql
  bats/gql/user-in-app-notifications.gql
  core/api/BUCK
  core/notifications/.sqlx/query-6f4559f529a6e2aa161d77246c54efcd54103ade3ef23cb60ca7ce719cb1ab36.json
  core/notifications/.sqlx/query-7f658f6746ea4f803591356c3762f9a04ac6f7200686dab96f45c6a47aecb4a3.json
  core/notifications/.sqlx/query-9e09dfcca900fab9bfda7c9377215017afd7ddeb6ff33f236039127a4ac841e6.json
  core/notifications/.sqlx/query-c2d579b9dd453eaafbbc2e39ea81d30a7e9e3c88d37f73829e19ef3edae293e0.json
  core/notifications/.sqlx/query-e6e01efa4d7970e97d96d6b331294ae9c9cb19ecdcfd36561a7834947dbe291a.json
  core/notifications/.sqlx/query-ecab5bdaeb8ad4b1d1cdd64aa12a602e0cea8538d5f0acb5df2fd4afa7de7106.json
  core/notifications/.sqlx/query-f3ee924ad05e1a99de6abd44ae5e024ec12f66377840b550e06c1a29ae6b1305.json
  core/notifications/BUCK
  core/notifications/Cargo.toml
  core/notifications/migrations/20240417091715_add_stateful_notifications.down.sql
  core/notifications/migrations/20240417091715_add_stateful_notifications.up.sql
  core/notifications/migrations/20240418115910_remove_in_app_notifications.down.sql
  core/notifications/migrations/20240418115910_remove_in_app_notifications.up.sql
  core/notifications/src/app/error.rs
  core/notifications/src/app/mod.rs
  core/notifications/src/email_executor/mod.rs
  core/notifications/src/graphql/convert.rs
  core/notifications/src/graphql/schema.rs
  core/notifications/src/graphql/types.rs
  core/notifications/src/history/entity.rs
  core/notifications/src/history/error.rs
  core/notifications/src/history/mod.rs
  core/notifications/src/history/repo.rs
  core/notifications/src/in_app_notification/entity.rs
  core/notifications/src/in_app_notification/error.rs
  core/notifications/src/in_app_notification/mod.rs
  core/notifications/src/in_app_notification/repo.rs
  core/notifications/src/job/error.rs
  core/notifications/src/job/mod.rs
  core/notifications/src/lib.rs
  core/notifications/src/messages/mod.rs
  core/notifications/src/notification_event/circle_grew.rs
  core/notifications/src/notification_event/circle_threshold_reached.rs
  core/notifications/src/notification_event/identity_verification_approved.rs
  core/notifications/src/notification_event/identity_verification_declined.rs
  core/notifications/src/notification_event/identity_verification_review_started.rs
  core/notifications/src/notification_event/link_email_reminder.rs
  core/notifications/src/notification_event/marketing_notification_triggered.rs
  core/notifications/src/notification_event/mod.rs
  core/notifications/src/notification_event/price_changed.rs
  core/notifications/src/notification_event/transaction_occurred.rs
  core/notifications/src/primitives.rs
  core/notifications/src/push_executor/mod.rs
  core/notifications/subgraph/schema.graphql
  dev/config/apollo-federation/supergraph.graphql
  lib/es-entity-rs/src/events.rs
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
Labels: notifications, core, dashboard, api-keys

#4294 chore(pay): previous transaction print
  apps/pay/app/[username]/transaction/page.tsx
  apps/pay/app/print-companion-service.ts
  apps/pay/components/payment-outcome/index.tsx
  apps/pay/hooks/get-installed-related-apps.d.ts
  apps/pay/hooks/use-check-installed-apps.tsx
  apps/pay/utils/date-util.ts
  dev/bin/add-test-users-with-usernames.sh
Labels: pay

#4311 refactor(voucher): env variables
  apps/voucher/app/api/lnurlw/[unique-hash]/route.ts
  apps/voucher/app/api/lnurlw/callback/[id]/route.ts
  apps/voucher/app/create/page.tsx
  apps/voucher/app/withdraw/[voucher-secret]/lnurl/page.tsx
  apps/voucher/app/withdraw/[voucher-secret]/page.tsx
  apps/voucher/components/create/create-page-amount/index.tsx
  apps/voucher/config/apollo.tsx
  apps/voucher/env.ts
  apps/voucher/hooks/useSatsPrice.ts
  apps/voucher/services/galoy/client/escrow/index.ts
  apps/voucher/services/galoy/client/index.tsx
  dev/bin/setup-voucher-escrow.sh
Labels: voucher

#4315 refactor(core): price history cache strategy
  core/api/src/app/prices/get-price-history.ts
Labels: core

#4309 feat(core): set display currency from country on account create
  core/api/src/app/accounts/create-account.ts
  core/api/src/domain/price/display-currency-from-country-code.ts
  core/api/src/domain/price/errors.ts
  core/api/src/domain/price/index.ts
  core/api/src/domain/price/index.types.d.ts
  core/api/src/graphql/error-map.ts
  core/api/src/services/price/index.ts
  core/api/test/integration/app/accounts/create-account.spec.ts
  core/api/test/unit/app/prices/list-currencies.spec.ts
  core/api/test/unit/domain/price/display-currency-from-country-code.spec.ts
Labels: core

#4317 chore: removing subscriptions-transport-ws
  core/api/package.json
  pnpm-lock.yaml
Labels: admin-panel, core, dashboard, consent, pay, map, voucher

#4318 feat: exposing portal for webhook
  apps/consent/app/graphql/generated.ts
  apps/dashboard/services/graphql/generated.ts
  apps/map/services/galoy/graphql/generated.ts
  apps/pay/lib/graphql/generated.ts
  core/api/src/app/callback/index.ts
  core/api/src/domain/callback/errors.ts
  core/api/src/domain/callback/index.types.d.ts
  core/api/src/graphql/error-map.ts
  core/api/src/graphql/public/schema.graphql
  core/api/src/graphql/public/types/abstract/account.ts
  core/api/src/graphql/public/types/object/consumer-account.ts
  core/api/src/services/svix/index.ts
  dev/config/apollo-federation/supergraph.graphql
Labels: core, dashboard, consent, pay, map

#4327 chore(notifications): small scaling improvements
  core/notifications/src/job/config.rs
  core/notifications/src/job/mod.rs
Labels: notifications

#4329 chore(voucher): adding otel
  apps/voucher/instrumentation.node.ts
  apps/voucher/instrumentation.ts
  apps/voucher/package.json
  apps/voucher/services/db/migrations/20240406102113_create_withdraw_links.ts
  apps/voucher/services/db/schema.ts
  dev/Tiltfile
  pnpm-lock.yaml
Labels: admin-panel, core, dashboard, consent, pay, map, voucher

#4331 refactor(notifications): de-duplicate user ids during marketing notification
  core/notifications/src/app/mod.rs
  core/notifications/src/grpc/server/mod.rs
  core/notifications/src/job/mod.rs
  core/notifications/src/primitives.rs
Labels: notifications

#4337 refactor(notifications): avoid cloning large Vec
  core/notifications/src/history/mod.rs
  core/notifications/src/job/mod.rs
  core/notifications/src/user_notification_settings/repo.rs
Labels: notifications

#4338 chore(voucher): updated withdraw and redeem page to public
  apps/voucher/env.ts
  apps/voucher/middleware.ts
Labels: voucher

#4330 chore(voucher): scopes selected by default
  apps/dashboard/components/api-keys/create.tsx
  apps/pay/app/favicon.ico
  apps/pay/app/layout.tsx
Labels: dashboard, pay

#4332 feat(core): add buck2 migrate build and change Dockerfile-migrate
  core/api/.gitignore
  core/api/BUCK
  core/api/Dockerfile-migrate
  flake.nix
  toolchains/workspace-pnpm/BUCK
  toolchains/workspace-pnpm/build_npm_bin.py
  toolchains/workspace-pnpm/macros.bzl
  toolchains/workspace-pnpm/migrate_mongo_build_bin.py
  toolchains/workspace-pnpm/toolchain.bzl
Labels: core

#4341 chore(notifications): make push msg optional
  core/notifications/src/app/mod.rs
  core/notifications/src/email_executor/mod.rs
  core/notifications/src/job/mod.rs
  core/notifications/src/notification_event/circle_grew.rs
  core/notifications/src/notification_event/circle_threshold_reached.rs
  core/notifications/src/notification_event/identity_verification_approved.rs
  core/notifications/src/notification_event/identity_verification_declined.rs
  core/notifications/src/notification_event/identity_verification_review_started.rs
  core/notifications/src/notification_event/link_email_reminder.rs
  core/notifications/src/notification_event/marketing_notification_triggered.rs
  core/notifications/src/notification_event/mod.rs
  core/notifications/src/notification_event/price_changed.rs
  core/notifications/src/notification_event/transaction_occurred.rs
Labels: notifications

#4340 feat(dashboard): adding button for callbackPortalUrl
  apps/dashboard/app/callback/page.tsx
  apps/dashboard/components/callback/callback-input.tsx
  apps/dashboard/services/graphql/generated.ts
  apps/dashboard/services/graphql/queries/me-data.ts
Labels: dashboard

#4312 refactor(core): update medici indexes
  core/api/package.json
  core/api/src/migrations/20240419021017-add-remove-medici-6-deprecated-indexes.ts
  pnpm-lock.yaml
Labels: admin-panel, core, dashboard, consent, pay, map, voucher

#4347 chore(voucher): passing env from server
  apps/voucher/app/layout.tsx
  apps/voucher/app/withdraw/[voucher-secret]/lnurl/lnurl.tsx
  apps/voucher/app/withdraw/[voucher-secret]/lnurl/page.tsx
  apps/voucher/app/withdraw/[voucher-secret]/page.tsx
  apps/voucher/app/withdraw/[voucher-secret]/voucher-secret.tsx
  apps/voucher/config/apollo.tsx
Labels: voucher

#4348 chore(notifications): introduce ReadPool
  core/notifications/src/app/mod.rs
  core/notifications/src/cli/config.rs
  core/notifications/src/cli/db.rs
  core/notifications/src/cli/mod.rs
  core/notifications/src/history/mod.rs
  core/notifications/src/history/repo.rs
  core/notifications/src/primitives.rs
  core/notifications/src/user_notification_settings/repo.rs
  dev/Tiltfile
Labels: notifications

#4345 refactor(core): add accountId field to WalletInvoice
  core/api/src/domain/accounts/index.ts
  core/api/src/domain/merchants/index.ts
  core/api/src/domain/shared/index.ts
  core/api/src/domain/shared/index.types.d.ts
  core/api/src/domain/shared/validation.ts
  core/api/src/domain/users/index.ts
  core/api/src/domain/wallets/validation.ts
  core/api/src/servers/middlewares/idempotency.ts
  core/api/src/services/kratos/index.ts
  core/api/src/services/mongoose/schema.ts
  core/api/src/services/mongoose/schema.types.d.ts
  core/api/src/services/mongoose/wallet-invoices.ts
Labels: core

#4350 chore(consent): auto focues on verification and default value for channel to SMS
  apps/consent/components/phone-auth/phone-auth-form.tsx
  apps/consent/components/select.tsx
  apps/consent/components/varification-components/two-fa-verification-code-form.tsx
  apps/consent/components/varification-components/verification-code-form.tsx
Labels: consent

#4355 fix(core): medici balance performance
  core/api/src/services/ledger/schema.ts
Labels: core

#4351 chore: upgrade package
  apps/consent/package.json
  pnpm-lock.yaml
Labels: consent

#4346 chore: remove unused oauth2 client
  dev/Tiltfile
  dev/bin/setup-hydra-client.sh
Labels: admin-panel, core, dashboard, consent, pay, map, voucher

#4364 fix(consent): adding hydra test client
  apps/consent/cypress.config.ts
  dev/Tiltfile
Labels: consent

#4367 ci: separate build steps in integration tests
  .github/workflows/integration-test.yml
  dev/Tiltfile
Labels: ci

#4354 chore(core): fallback for language query
  core/api/src/app/users/get-user-language.ts
  core/api/src/config/index.ts
  core/api/src/domain/users/index.ts
  core/api/src/services/notifications/grpc-client.ts
  core/api/src/services/notifications/index.ts
Labels: core

#4371 chore(notifications): make executing jobs optional
  core/notifications/src/app/mod.rs
  core/notifications/src/job/config.rs
  core/notifications/src/job/mod.rs
Labels: notifications

#4378 chore(notifications): always set initial_retry_delay to 10s
  core/notifications/src/job/mod.rs
Labels: notifications

#4379 fix: pnpm lock redis dep version
  pnpm-lock.yaml
Labels: admin-panel, core, dashboard, consent, pay, map, voucher

#4381 chore(apps): removed unused packages
  apps/consent/package.json
  apps/voucher/package.json
  pnpm-lock.yaml
Labels: admin-panel, core, dashboard, consent, pay, map, voucher

#4384 feat(notifications): expose unacknowledgedStatefulNotificationsCount field
  apps/dashboard/services/graphql/generated.ts
  bats/core/notifications/notifications.bats
  bats/gql/unacknowledged_stateful_notifications_count.gql
  core/notifications/.sqlx/query-2c4244e6f448e2e4d07c758ca53ee776b63e1bafd93f579334e0d7ed93f16383.json
  core/notifications/.sqlx/query-50ec1dd26467218c153b504d2c88a8b78f1ffa124fdc3dc50b8e5e114b838231.json
  core/notifications/migrations/20240429083109_add_acknowledged_col_to_stateful_notifications.down.sql
  core/notifications/migrations/20240429083109_add_acknowledged_col_to_stateful_notifications.up.sql
  core/notifications/src/app/mod.rs
  core/notifications/src/graphql/schema.rs
  core/notifications/src/history/entity.rs
  core/notifications/src/history/mod.rs
  core/notifications/src/history/repo.rs
  core/notifications/subgraph/schema.graphql
  dev/config/apollo-federation/supergraph.graphql
Labels: notifications, dashboard

#4386 fix(notifications): correct category for price changed event
  core/notifications/src/notification_event/price_changed.rs
Labels: notifications

#4365 test(apps): reduce cypress defaultCommandTimeout
  apps/consent/cypress.config.ts
  apps/dashboard/cypress.config.ts
  apps/pay/cypress.config.ts
  apps/voucher/cypress.config.ts
Labels: dashboard, consent, pay, voucher

#4391 chore(map): adding health endpoint
  apps/map/app/api/health/route.ts
  dev/Tiltfile
Labels: map

#4400 fix: galoy mobile ref
  ci/tasks/check-mobile-schema-compatibility.sh
  core/api/package.json
Labels: core, ci

#4398 refactor(dashboard): using object params
  apps/dashboard/app/api-keys/page.tsx
  apps/dashboard/app/api-keys/server-actions.ts
  apps/dashboard/app/api/auth/[...nextauth]/route.ts
  apps/dashboard/app/batch-payments/get-user-details-action.ts
  apps/dashboard/app/batch-payments/server-actions.ts
  apps/dashboard/app/callback/page.tsx
  apps/dashboard/app/callback/server-actions.ts
  apps/dashboard/app/security/2fa/server-actions.ts
  apps/dashboard/app/security/email/server-actions.ts
  apps/dashboard/app/security/email/verify/page.tsx
  apps/dashboard/app/transactions/page.tsx
  apps/dashboard/components/api-keys/api-card.tsx
  apps/dashboard/components/api-keys/btc-pay-tabs.tsx
  apps/dashboard/services/graphql/mutations/api-keys.ts
  apps/dashboard/services/graphql/mutations/callback-mutation.ts
  apps/dashboard/services/graphql/mutations/email.ts
  apps/dashboard/services/graphql/mutations/totp.ts
  apps/dashboard/services/graphql/queries/api-keys.ts
  apps/dashboard/services/graphql/queries/callback-query.ts
  apps/dashboard/services/graphql/queries/get-transactions.ts
  apps/dashboard/services/graphql/queries/get-user-wallet-id.ts
  apps/dashboard/services/graphql/queries/me-data.ts
  apps/dashboard/services/graphql/queries/realtime-price.ts
Labels: dashboard

#4399 chore: misc update on support
  bats/core/api/support.bats
  bats/core/api/user.bats
  core/api/src/app/support/chat.ts
Labels: core

#4402 fix(notification): spell
  core/notifications/src/data_import/mod.rs
Labels: notifications
