Repository GaloyMoney/blink, pull requests merged in 2024-01, with the labels that each got.

#3767 chore(flake): bump flake.lock
  flake.lock
Labels: core, dashboard, consent, pay

#3770 ci: handle empty relevant commits array
  ci/apps/tasks/open-charts-pr.sh
  ci/tasks/open-charts-pr.sh
Labels: ci

#3711 test(core): move 01-setup steps to hedge tests
  core/api/test/helpers/bitcoin-core.ts
  core/api/test/integration/services/bria.spec.ts
  core/api/test/legacy-integration/01-setup/01-funds-bitcoind-lnds.spec.ts
  core/api/test/legacy-integration/01-setup/01-lightning-channels.spec.ts
  core/api/test/legacy-integration/services/dealer/hedge-price.spec.ts
  core/api/test/legacy-integration/services/lnd/utils.spec.ts
Labels: core

#3768 feat(dashboard): adding batch payments in dashboard
  apps/dashboard/app/batch-payments/page.tsx
  apps/dashboard/app/batch-payments/server-actions.ts
  apps/dashboard/app/batch-payments/utils.ts
  apps/dashboard/app/url.ts
  apps/dashboard/app/utils.ts
  apps/dashboard/components/batch-payments/index.tsx
  apps/dashboard/components/batch-payments/list.tsx
  apps/dashboard/components/batch-payments/sample-table.tsx
  apps/dashboard/components/details-card/derails.tsx
  apps/dashboard/components/details-card/index.tsx
  apps/dashboard/components/side-bar/index.tsx
  apps/dashboard/components/upload-button.tsx
  apps/dashboard/package.json
  apps/dashboard/services/graphql/generated.ts
  apps/dashboard/services/graphql/mutations/intra-ledger-payment-send/btc.ts
  apps/dashboard/services/graphql/mutations/intra-ledger-payment-send/usd.ts
  apps/dashboard/services/graphql/queries/get-user-wallet-id.ts
  pnpm-lock.yaml
Labels: core, dashboard, consent, pay

#3771 fix(core): CouldNotFindLnPaymentFromHashError alert
  core/api/src/app/lightning/delete-ln-payments.ts
  core/api/src/domain/bitcoin/lightning/index.types.d.ts
  core/api/src/services/lnd/index.ts
Labels: core

#3776 test(core): move auth bats tests
  bats/core/api/auth.bats
  bats/gql/identity.gql
  bats/gql/logout.gql
  bats/gql/user-email-delete.gql
  bats/gql/user-email-registration-initiate.gql
  bats/gql/user-email-registration-validate.gql
  bats/gql/user-phone-delete.gql
  bats/gql/user-phone-registration-initiate.gql
  bats/gql/user-phone-registration-validate.gql
  bats/gql/user-totp-delete.gql
  bats/gql/user-totp-registration-initiate.gql
  bats/gql/user-totp-registration-validate.gql
  bats/helpers/_common.bash
  bats/helpers/totp/BUCK
  bats/helpers/totp/package.json
  bats/helpers/totp/pnpm-lock.yaml
  bats/helpers/totp/pnpm-workspace.yaml
  bats/helpers/totp/src/totp-generate.ts
  core/api/test/bats/auth.bats
Labels: core

#3783 test(core): finish moving auth bats
  bats/core/api/auth.bats
  core/api/test/bats/auth.bats
  core/api/test/bats/helpers/generate-totp.js
  dev/Tiltfile
Labels: core

#3791 test(core): move callback bats tests
  bats/core/api/callback.bats
  bats/gql/callback-endpoint-delete.gql
  bats/gql/callback-endpoints-list.gql
  core/api/test/bats/callback.bats
Labels: core

#3803 ci: add rust buck tests
  .github/labeler.yml
  .github/workflows/buck2-test.yaml
  BUCK
  apps/consent/BUCK
  apps/dashboard/BUCK
  apps/pay/BUCK
  ci/apps/app-template.lib.yml
  ci/core/pipeline.yml
  ci/core/template.lib.yml
  core/api-keys/BUCK
  core/api-keys/src/app/mod.rs
  core/api-keys/src/graphql/schema.rs
  core/api-keys/src/identity/mod.rs
  core/api-keys/src/scope.rs
  core/api/BUCK
  rustfmt.toml
  toolchains/BUCK
  toolchains/rust/BUCK
  toolchains/rust/clippy_output.py
  toolchains/rust/crate_context.py
  toolchains/rust/macros.bzl
  toolchains/rust/rustfmt_check.py
  toolchains/rust/toolchain.bzl
Labels: core, ci, dashboard, consent, pay, api-keys

#3801 ci: stricter filename checking in diff generation
  ci/apps/tasks/open-charts-pr.sh
  ci/core/tasks/open-charts-pr.sh
  ci/tasks/open-charts-pr.sh
Labels: ci

#3792 test(core): move cron bats tests
  bats/core/api/cron.bats
  bats/helpers/cli.bash
  bats/helpers/ln.bash
  core/api/BUCK
  core/api/package.json
  dev/config/lnd/regtest/lnd2.admin.macaroon
  dev/config/lnd/regtest/lnd2.admin.macaroon.base64
  dev/config/lnd/regtest/lnd2.macaroons.db
  dev/config/lnd/regtest/lnd2.pubkey
  dev/config/lnd/regtest/lnd2.wallet.db
  dev/docker-compose.deps.yml
  toolchains/workspace-pnpm/macros.bzl
Labels: core

#3804 ci: complete component ci
  ci/core/pipeline.yml
  ci/core/template.lib.yml
  dev/Tiltfile
Labels: ci

#3805 fix: env variables issue with 'dev_pnpm_task_binary' bats rule
  core/api/BUCK
  dev/Tiltfile
  toolchains/workspace-pnpm/macros.bzl
Labels: core

#3777 fix(core): add preimage for txs initiated via ln but settle intraledger
  bats/core/api/ln-send.bats
  bats/gql/ln-invoice-payment-send.gql
  core/api/dev/apollo-federation/supergraph.graphql
  core/api/src/app/transactions/get-invoice-preimage-by-hash.ts
  core/api/src/app/transactions/index.ts
  core/api/src/domain/wallet-invoices/errors.ts
  core/api/src/graphql/admin/schema.graphql
  core/api/src/graphql/error-map.ts
  core/api/src/graphql/public/schema.graphql
  core/api/src/graphql/shared/types/abstract/settlement-via.ts
  core/api/test/helpers/wallet-invoices.ts
  core/api/test/integration/app/transactions/get-invoice-preimage-by-hash.spec.ts
  dev/config/apollo-federation/supergraph.graphql
Labels: core

#3807 chore(deps): bump rust deps
  Cargo.lock
  Cargo.toml
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
Labels: api-keys

#3784 chore(core): move getIdentityIdFromFlowId to repository
  bats/core/api/auth.bats
  core/api/src/app/authentication/totp.ts
  core/api/src/domain/authentication/index.types.d.ts
  core/api/src/domain/shared/error-parsers.ts
  core/api/src/services/kratos/auth-email-no-password.ts
  core/api/src/services/kratos/identity.ts
  core/api/src/services/kratos/private.ts
  core/api/tsconfig.json
Labels: core

#3764 chore(core): genericise kratos errors
  core/api/src/services/kratos/totp.ts
Labels: core

#3816 ci: add commit and PR link to diff
  ci/apps/tasks/open-charts-pr.sh
  ci/core/tasks/open-charts-pr.sh
Labels: ci

#3832 ci: fix core bundle diffs
  ci/core/tasks/open-core-bundle-charts-pr.sh
Labels: ci

#3802 ci: cleanup unused scripts
  ci/tasks/bump-image-digest.sh
  ci/tasks/install-deps.sh
  ci/tasks/open-charts-pr.sh
  ci/tasks/prepare-docker-build.sh
  ci/tasks/test-integration.sh
  ci/tasks/unpack-deps.sh
Labels: ci

#3824 chore(notifications): build protos in buck
  .github/workflows/buck2-test.yaml
  Cargo.lock
  Cargo.toml
  ci/core/pipeline.yml
  ci/core/template.lib.yml
  core/api-keys/BUCK
  core/notifications/BUCK
  core/notifications/Cargo.toml
  core/notifications/build.rs
  core/notifications/proto/notifications.proto
  core/notifications/src/app/mod.rs
  core/notifications/src/cli/config.rs
  core/notifications/src/cli/mod.rs
  core/notifications/src/grpc/config.rs
  core/notifications/src/grpc/mod.rs
  core/notifications/src/grpc/server/convert.rs
  core/notifications/src/grpc/server/mod.rs
  core/notifications/src/lib.rs
  core/notifications/src/user_notification_settings/entity.rs
  flake.nix
  lib/es-entity-rs/BUCK
  lib/tracing-rs/BUCK
  third-party/proto/BUCK
  third-party/proto/defs.bzl
  third-party/proto/releases.bzl
  third-party/proto/update.py
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
  third-party/rust/fixups/prettyplease/fixups.toml
  toolchains/BUCK
  toolchains/rust/macros.bzl
  vendir.lock.yml
  vendir.yml
  vendir/template.yml
Labels: notifications, ci, api-keys

#3833 ci: fix empty relevant commits handling
  ci/apps/tasks/open-charts-pr.sh
  ci/core/tasks/open-charts-pr.sh
  ci/core/tasks/open-core-bundle-charts-pr.sh
Labels: ci

#3838 ci: handle buck target in metadata
  ci/apps/tasks/bump-image-digest.sh
  ci/core/tasks/bump-image-digest.sh
Labels: ci

#3844 ci: improve core diff
  ci/core/tasks/open-core-bundle-charts-pr.sh
Labels: ci

#3849 feat(core): proxy notification settings operations
  .env
  .env.ci
  core/api/.env
  core/api/.env.ci
  core/api/dev/apollo-federation/supergraph.graphql
  core/api/package.json
  core/api/src/app/accounts/disable-notification-category.ts
  core/api/src/app/accounts/disable-notification-channel.ts
  core/api/src/app/accounts/enable-notification-category.ts
  core/api/src/app/accounts/enable-notification-channel.ts
  core/api/src/app/accounts/get-notification-settings-for-account.ts
  core/api/src/app/accounts/index.ts
  core/api/src/app/accounts/send-default-wallet-balance-to-users.ts
  core/api/src/app/admin/send-admin-push-notification.ts
  core/api/src/app/payments/send-intraledger.ts
  core/api/src/app/payments/send-lightning.ts
  core/api/src/app/payments/send-on-chain.ts
  core/api/src/app/payments/update-pending-payments.ts
  core/api/src/app/wallets/add-pending-on-chain-transaction.ts
  core/api/src/app/wallets/add-settled-on-chain-transaction.ts
  core/api/src/app/wallets/settle-payout-txn.ts
  core/api/src/app/wallets/update-single-pending-invoice.ts
  core/api/src/config/env.ts
  core/api/src/config/index.ts
  core/api/src/domain/notifications/index.ts
  core/api/src/domain/notifications/index.types.d.ts
  core/api/src/graphql/public/types/object/consumer-account.ts
  core/api/src/servers/write-sdl.ts
  core/api/src/services/notifications/convert.ts
  core/api/src/services/notifications/grpc-client.ts
  core/api/src/services/notifications/index.ts
  core/api/src/services/notifications/proto/buf.gen.yaml
  core/api/src/services/notifications/proto/notifications.proto
  core/api/src/services/notifications/proto/notifications_grpc_pb.d.ts
  core/api/src/services/notifications/proto/notifications_grpc_pb.js
  core/api/src/services/notifications/proto/notifications_pb.d.ts
  core/api/src/services/notifications/proto/notifications_pb.js
  core/api/src/services/notifications/push-notifications.ts
  core/api/src/services/notifications/push-notifications.types.d.ts
  core/api/test/legacy-integration/notifications/notification.spec.ts
  core/api/test/legacy-integration/notifications/push-notification.spec.ts
  core/api/test/unit/domain/notifications/index.spec.ts
  dev/Tiltfile
Labels: core

#3865 build(ci): fix buck2 test labels for gh actions
  .github/workflows/buck2-test.yaml
Labels: ci

#3873 chore(flake): bump deps
  flake.lock
Labels: notifications, core, dashboard, consent, pay, api-keys

#3846 test(core): move ledger volume tests
  core/api/src/domain/accounts/limits-volume.ts
  core/api/src/services/ledger/facade/volume.ts
  core/api/test/integration/services/ledger-facade.spec.ts
  core/api/test/legacy-integration/services/ledger/facade.spec.ts
  core/api/test/legacy-integration/services/ledger/service.spec.ts
Labels: tests

#3867 refactor(core): add new 'absoluteAllTxBaseVolumeAmountSince' method
  core/api/src/app/accounts/active-accounts.ts
  core/api/src/domain/ledger/activity-checker.ts
  core/api/src/domain/ledger/index.types.d.ts
  core/api/src/services/ledger/facade/volume.ts
  core/api/test/integration/services/ledger-facade.spec.ts
  core/api/test/unit/domain/ledger/activity-checker.spec.ts
Labels: tests

#3868 refactor(core): limits related volume methods
  bats/core/api/account.bats
  bats/core/api/device-account.bats
  bats/gql/account-limits.gql
  core/api/src/app/accounts/account-limit.ts
  core/api/src/domain/accounts/index.types.d.ts
  core/api/src/domain/accounts/limits-volume.ts
  core/api/src/services/ledger/facade/volume.ts
  core/api/test/integration/services/ledger-facade.spec.ts
  core/api/test/unit/domain/accounts/limits-volume.spec.ts
Labels: tests

#3869 refactor(core): netIn onchain/ln volume methods
  core/api/src/app/payments/send-on-chain.ts
  core/api/src/app/wallets/get-on-chain-fee.ts
  core/api/src/domain/ledger/imbalance-calculator.ts
  core/api/src/domain/ledger/index.types.d.ts
  core/api/src/domain/payments/index.types.d.ts
  core/api/src/domain/payments/onchain-payment-flow-builder.ts
  core/api/src/services/ledger/facade/volume.ts
  core/api/test/integration/services/ledger-facade.spec.ts
  core/api/test/unit/domain/ledger/activity-checker.spec.ts
  core/api/test/unit/domain/ledger/imbalance-calculator.spec.ts
  core/api/test/unit/payments/onchain-payment-flow-builder.spec.ts
Labels: tests

#3870 refactor(core): remove unused 'allPaymentVolumeAmountSince' function
  core/api/src/services/ledger/facade/volume.ts
  core/api/test/integration/services/ledger-facade.spec.ts
Labels: tests

#3875 feat(core): add volume calculator
  core/api/src/services/ledger/facade/index.types.d.ts
  core/api/src/services/ledger/facade/volume.ts
  core/api/test/unit/services/ledger/domain/volume-calculator.spec.ts
Labels: tests

#3896 chore(quickstart): add notifications to quickstart
  .github/workflows/quickstart.yml
  ci/core/pipeline.yml
  ci/core/tasks/prep-quickstart.sh
  core/notifications/src/cli/config.rs
  core/notifications/src/cli/mod.rs
  quickstart/docker-compose.tmpl.yml
Labels: ci

#3850 test(pay): add cypress e2e
  apps/pay/BUCK
  apps/pay/components/Layouts/AppLayout.tsx
  apps/pay/components/ParsePOSPayment/Digit-Button.tsx
  apps/pay/components/ParsePOSPayment/Receive-Invoice.tsx
  apps/pay/components/ParsePOSPayment/index.tsx
  apps/pay/cypress.config.ts
  apps/pay/cypress/e2e/home.cy.ts
  apps/pay/cypress/e2e/point-of-sale.cy.ts
  apps/pay/cypress/support/commands.ts
  apps/pay/cypress/support/e2e.ts
  apps/pay/cypress/support/test-config.ts
  apps/pay/package.json
  apps/pay/pages/[username]/print.tsx
  apps/pay/pages/index.tsx
  dev/Tiltfile
  pnpm-lock.yaml
  toolchains/workspace-pnpm/macros.bzl
Labels: core, dashboard, consent, pay

#3904 feat(notifications): e2e circle notification use cases
  .gitignore
  Cargo.toml
  core/notifications/notifications.yml
  core/notifications/proto/notifications.proto
  core/notifications/src/app/config.rs
  core/notifications/src/app/error.rs
  core/notifications/src/app/mod.rs
  core/notifications/src/cli/mod.rs
  core/notifications/src/executor/config.rs
  core/notifications/src/executor/error.rs
  core/notifications/src/executor/mod.rs
  core/notifications/src/executor/novu/blueprint.rs
  core/notifications/src/executor/novu/changes.rs
  core/notifications/src/executor/novu/client.rs
  core/notifications/src/executor/novu/consts.rs
  core/notifications/src/executor/novu/environments.rs
  core/notifications/src/executor/novu/error.rs
  core/notifications/src/executor/novu/events.rs
  core/notifications/src/executor/novu/execution.rs
  core/notifications/src/executor/novu/feeds.rs
  core/notifications/src/executor/novu/inbound_parse.rs
  core/notifications/src/executor/novu/integrations.rs
  core/notifications/src/executor/novu/layouts.rs
  core/notifications/src/executor/novu/messages.rs
  core/notifications/src/executor/novu/mod.rs
  core/notifications/src/executor/novu/subscriber.rs
  core/notifications/src/executor/novu/utils.rs
  core/notifications/src/executor/novu/workflows.rs
  core/notifications/src/grpc/server/mod.rs
  core/notifications/src/lib.rs
  core/notifications/src/notification_event.rs
  core/notifications/src/primitives.rs
  core/notifications/src/user_notification_settings/entity.rs
  core/notifications/src/user_notification_settings/repo.rs
  core/notifications/tests/novu.rs
  third-party/rust/fixups/native-tls/fixups.toml
Labels: notifications

#3913 chore(dashboard): correct sats typo
  apps/dashboard/components/transaction-details/export-csv.tsx
  apps/dashboard/components/transaction-details/transaction-card-item.tsx
  apps/dashboard/components/transaction-details/transaction-details-table.tsx
Labels: dashboard

#3916 chore(core): remove swap (via loopd) functionality
  core/api/galoy.yaml
  core/api/package.json
  core/api/src/app/index.ts
  core/api/src/app/swap/get-active-loopd.ts
  core/api/src/app/swap/index.ts
  core/api/src/app/swap/swap-listener.ts
  core/api/src/app/swap/swap-out.ts
  core/api/src/config/index.ts
  core/api/src/config/schema.ts
  core/api/src/config/schema.types.d.ts
  core/api/src/config/types.d.ts
  core/api/src/config/yaml.ts
  core/api/src/domain/swap/errors.ts
  core/api/src/domain/swap/index.ts
  core/api/src/domain/swap/index.types.d.ts
  core/api/src/domain/swap/swap-out-checker.ts
  core/api/src/servers/cron.ts
  core/api/src/servers/trigger.ts
  core/api/src/services/ledger/admin.ts
  core/api/src/services/ledger/domain/index.types.d.ts
  core/api/src/services/ledger/schema.ts
  core/api/src/services/ledger/schema.types.d.ts
  core/api/src/services/ledger/services/transactions-metadata.ts
  core/api/src/services/loopd/index.ts
  core/api/src/services/loopd/loop-service.ts
  core/api/src/services/loopd/protos/buf.gen.yaml
  core/api/src/services/loopd/protos/buf.yaml
  core/api/src/services/loopd/protos/debug.proto
  core/api/src/services/loopd/protos/debug_grpc_pb.js
  core/api/src/services/loopd/protos/debug_pb.d.ts
  core/api/src/services/loopd/protos/debug_pb.js
  core/api/src/services/loopd/protos/loop.proto
  core/api/src/services/loopd/protos/loop_grpc_pb.d.ts
  core/api/src/services/loopd/protos/loop_grpc_pb.js
  core/api/src/services/loopd/protos/loop_pb.d.ts
  core/api/src/services/loopd/protos/loop_pb.js
  core/api/src/services/loopd/protos/swapserverrpc/common.proto
  core/api/src/services/loopd/protos/swapserverrpc/common_grpc_pb.js
  core/api/src/services/loopd/protos/swapserverrpc/common_pb.d.ts
  core/api/src/services/loopd/protos/swapserverrpc/common_pb.js
  core/api/test/legacy-integration/app/swap/swap-listener.spec.ts
  core/api/test/legacy-integration/app/swap/swap-out.spec.ts
  core/api/test/legacy-integration/app/swap/swap-record-ledger-fee.spec.ts
  core/api/test/unit/config.spec.ts
  core/api/test/unit/domain/swap/swap-out-checker.spec.ts
  docs/swap.md
  typos.toml
Labels: core

#3917 chore(core): remove loopd configs and dependencies
  .env
  .env.ci
  core/api/.env
  core/api/.env.ci
  core/api/Makefile
  core/api/dev/.gitignore
  core/api/dev/bin/save-loop-data.sh
  core/api/dev/bin/start-loopd.sh
  core/api/dev/lnd/loop/regtest/loopd1-1.loop.db
  core/api/dev/lnd/loop/regtest/loopd1-1.loop.macaroon
  core/api/dev/lnd/loop/regtest/loopd1-1.loop.macaroon.base64
  core/api/dev/lnd/loop/regtest/loopd1-1.macaroons.db
  core/api/dev/lnd/loop/regtest/loopd1-1.tls.cert
  core/api/dev/lnd/loop/regtest/loopd1-1.tls.cert.base64
  core/api/dev/lnd/loop/regtest/loopd1-1.tls.key
  core/api/dev/lnd/loop/regtest/loopd2-1.loop.db
  core/api/dev/lnd/loop/regtest/loopd2-1.loop.macaroon
  core/api/dev/lnd/loop/regtest/loopd2-1.loop.macaroon.base64
  core/api/dev/lnd/loop/regtest/loopd2-1.macaroons.db
  core/api/dev/lnd/loop/regtest/loopd2-1.tls.cert
  core/api/dev/lnd/loop/regtest/loopd2-1.tls.cert.base64
  core/api/dev/lnd/loop/regtest/loopd2-1.tls.key
  core/api/dev/lnd/loop/server/regtest/admin.macaroon
  core/api/dev/lnd/loop/server/regtest/chainnotifier.macaroon
  core/api/dev/lnd/loop/server/regtest/invoices.macaroon
  core/api/dev/lnd/loop/server/regtest/readonly.macaroon
  core/api/dev/lnd/loop/server/regtest/router.macaroon
  core/api/dev/lnd/loop/server/regtest/signer.macaroon
  core/api/dev/lnd/loop/server/regtest/walletkit.macaroon
  core/api/docker-compose.yml
  core/api/src/config/env.ts
  core/api/src/config/index.ts
  core/api/src/services/ledger/README.md
Labels: core
