Repository GaloyMoney/blink, pull requests merged in 2024-05, with the labels that each got.

#4406 chore(apps): fail on warning
  apps/consent/BUCK
  apps/consent/package.json
  apps/dashboard/BUCK
  apps/dashboard/package.json
  apps/map/BUCK
  apps/map/package.json
  apps/pay/BUCK
  apps/pay/app/[username]/page.tsx
  apps/pay/components/parse-pos-payment/index.tsx
  apps/pay/components/payment-outcome/index.tsx
  apps/pay/package.json
  apps/voucher/BUCK
  apps/voucher/app/voucher/page.tsx
  apps/voucher/package.json
Labels: dashboard, consent, pay, map, voucher

#4357 chore(notifications): refactor marketing notification
  apps/admin-panel/app/notifications/page.tsx
  apps/admin-panel/components/notification/builder.tsx
  apps/admin-panel/components/notification/filtered-sender.tsx
  apps/admin-panel/components/notification/notification-actions.tsx
  apps/admin-panel/components/notification/test-sender.tsx
  apps/admin-panel/generated.ts
  apps/dashboard/services/graphql/generated.ts
  bats/core/api/admin.bats
  core/api/src/app/admin/index.types.d.ts
  core/api/src/app/admin/trigger-marketing-notification.ts
  core/api/src/config/index.ts
  core/api/src/domain/notifications/errors.ts
  core/api/src/domain/notifications/index.ts
  core/api/src/domain/notifications/index.types.d.ts
  core/api/src/graphql/admin/root/mutation/marketing-notification-trigger.ts
  core/api/src/graphql/admin/schema.graphql
  core/api/src/graphql/admin/types/scalar/deep-link-action.ts
  core/api/src/graphql/admin/types/scalar/deep-link-screen.ts
  core/api/src/graphql/admin/types/scalar/deep-link.ts
  core/api/src/graphql/error-map.ts
  core/api/src/services/notifications/convert.ts
  core/api/src/services/notifications/index.ts
  core/api/src/services/notifications/proto/notifications.proto
  core/api/src/services/notifications/proto/notifications_pb.d.ts
  core/api/src/services/notifications/proto/notifications_pb.js
  core/api/test/unit/domain/notifications/index.spec.ts
  core/notifications/proto/notifications.proto
  core/notifications/src/graphql/convert.rs
  core/notifications/src/graphql/types.rs
  core/notifications/src/grpc/server/convert.rs
  core/notifications/src/grpc/server/mod.rs
  core/notifications/src/history/entity.rs
  core/notifications/src/notification_event/circle_grew.rs
  core/notifications/src/notification_event/circle_threshold_reached.rs
  core/notifications/src/notification_event/marketing_notification_triggered.rs
  core/notifications/src/notification_event/mod.rs
  core/notifications/src/user_notification_settings/repo.rs
  core/notifications/subgraph/schema.graphql
  dev/config/apollo-federation/supergraph.graphql
Labels: admin-panel, notifications, core, dashboard

#4407 refactor(dashboard): moving token to apollo client
  apps/dashboard/app/api-keys/page.tsx
  apps/dashboard/app/api-keys/server-actions.ts
  apps/dashboard/app/api/auth/[...nextauth]/route.ts
  apps/dashboard/app/batch-payments/get-user-details-action.ts
  apps/dashboard/app/batch-payments/server-actions.ts
  apps/dashboard/app/callback/page.tsx
  apps/dashboard/app/callback/server-actions.ts
  apps/dashboard/app/security/2fa/server-actions.ts
  apps/dashboard/app/security/email/server-actions.ts
  apps/dashboard/app/security/email/verify/page.tsx
  apps/dashboard/app/transactions/page.tsx
  apps/dashboard/services/graphql/index.ts
  apps/dashboard/services/graphql/mutations/api-keys.ts
  apps/dashboard/services/graphql/mutations/callback-mutation.ts
  apps/dashboard/services/graphql/mutations/email.ts
  apps/dashboard/services/graphql/mutations/intra-ledger-payment-send/btc.ts
  apps/dashboard/services/graphql/mutations/intra-ledger-payment-send/usd.ts
  apps/dashboard/services/graphql/mutations/totp.ts
  apps/dashboard/services/graphql/queries/api-keys.ts
  apps/dashboard/services/graphql/queries/callback-query.ts
  apps/dashboard/services/graphql/queries/get-transactions.ts
  apps/dashboard/services/graphql/queries/get-user-wallet-id.ts
  apps/dashboard/services/graphql/queries/me-data.ts
  apps/dashboard/services/graphql/queries/realtime-price.ts
Labels: dashboard

#4409 fix: need await for support chat messages
  core/api/src/app/support/chat.ts
Labels: core

#4403 chore(notifications): do not persist txn notification to history
  bats/core/notifications/notifications.bats
  core/notifications/notifications.yml
  core/notifications/src/notification_event/transaction_occurred.rs
  dev/config/notifications/notifications.yml
Labels: notifications

#4410 refactor(dashboard): rename PriceContainer to WalletBalance
  apps/dashboard/app/page.tsx
  apps/dashboard/components/wallet-balance/wallet-balance-card.tsx
  apps/dashboard/components/wallet-balance/wallet-balance-container.tsx
Labels: dashboard

#4412 revert: "ci: use kaniko builder"
  ci/apps/app-template.lib.yml
  ci/core/template.lib.yml
Labels: ci

#4397 fix(core): handle external routed self payments bundle
  core/api/src/domain/ledger/ln-payment-state.ts
  core/api/test/unit/ledger/ln-payment-state.spec.ts
Labels: core

#4380 ci: correct 'pay' build target
  .github/workflows/integration-test.yml
Labels: ci

#4413 chore(notifications): enable persistent msgs
  core/notifications/src/notification_event/circle_grew.rs
  core/notifications/src/notification_event/circle_threshold_reached.rs
  core/notifications/src/notification_event/identity_verification_approved.rs
  core/notifications/src/notification_event/identity_verification_declined.rs
  core/notifications/src/notification_event/identity_verification_review_started.rs
  core/notifications/src/notification_event/link_email_reminder.rs
Labels: notifications

#4416 fix(core): handle invoice amount unknown error
  core/api/src/domain/bitcoin/lightning/errors.ts
  core/api/src/graphql/error-map.ts
  core/api/src/services/lnd/errors.ts
  core/api/src/services/lnd/index.ts
Labels: core

#4418 fix(core): update admin queries balanceSnapshotSec
  core/api/src/services/ledger/admin-legacy.ts
  core/api/src/services/ledger/books.ts
Labels: core

#4420 fix(core): lookup payment only by payment hash
  core/api/src/app/payments/update-pending-payments.ts
Labels: core

#4339 feat(dashboard): balance history graph
  apps/dashboard/BUCK
  apps/dashboard/app/page.tsx
  apps/dashboard/app/utils.ts
  apps/dashboard/components/chart/index.tsx
  apps/dashboard/components/wallet-balance/wallet-balance-card.tsx
  apps/dashboard/components/wallet-balance/wallet-balance-container.tsx
  apps/dashboard/hook/use-processed-transactions-for-chart.tsx
  apps/dashboard/jest.config.ts
  apps/dashboard/lib/fetch-transactions-by-count.ts
  apps/dashboard/lib/get-balance-for-transactions.ts
  apps/dashboard/lib/index.types.ts
  apps/dashboard/package.json
  apps/dashboard/services/graphql/generated.ts
  apps/dashboard/services/graphql/queries/get-transactions.ts
  apps/dashboard/test/mock-data/transaction.ts
  apps/dashboard/test/unit/get-balance-for-transactions.test.ts
  apps/dashboard/tsconfig.json
  pnpm-lock.yaml
Labels: admin-panel, core, dashboard, consent, pay, map, voucher

#4421 chore(deps): bump axum, graphql related deps in rust
  Cargo.lock
  Cargo.toml
  core/api-keys/BUCK
  core/api-keys/Cargo.toml
  core/api-keys/src/server/jwks/mod.rs
  core/api-keys/src/server/mod.rs
  core/api-keys/subgraph/schema.graphql
  core/notifications/BUCK
  core/notifications/Cargo.toml
  core/notifications/src/graphql/server/jwks/mod.rs
  core/notifications/src/graphql/server/mod.rs
  core/notifications/subgraph/schema.graphql
  lib/tracing-rs/BUCK
  lib/tracing-rs/Cargo.toml
  lib/tracing-rs/src/lib.rs
  third-party/rust/BUCK
  third-party/rust/Cargo.lock
  third-party/rust/Cargo.toml
Labels: notifications, api-keys

#4419 ci: fix partial diffs
  ci/apps/tasks/open-charts-pr.sh
Labels: ci

#4430 test(core): add wait for notifications service
  core/api/test/helpers/shared.ts
  core/api/test/integration/scenarios/hedge-arbitrage.spec.ts
  core/api/test/integration/services/notifications.spec.ts
Labels: core

#4426 chore: do not send back context message
  core/api/src/services/openai/assistant.ts
Labels: core

#4417 feat(notifications): add notification action
  apps/admin-panel/app/notifications/page.tsx
  apps/admin-panel/codegen.yml
  apps/admin-panel/components/notification/builder.tsx
  apps/admin-panel/components/notification/filtered-sender.tsx
  apps/admin-panel/components/notification/notification-actions.tsx
  apps/admin-panel/components/notification/test-sender.tsx
  apps/admin-panel/components/notification/types.tsx
  apps/admin-panel/generated.ts
  apps/dashboard/services/graphql/generated.ts
  bats/core/api/admin.bats
  bats/core/notifications/notifications.bats
  core/api/src/app/admin/index.types.d.ts
  core/api/src/app/admin/trigger-marketing-notification.ts
  core/api/src/domain/notifications/index.types.d.ts
  core/api/src/graphql/admin/root/mutation/marketing-notification-trigger.ts
  core/api/src/graphql/admin/schema.graphql
  core/api/src/graphql/admin/types/scalar/external-url.ts
  core/api/src/services/notifications/index.ts
  core/api/src/services/notifications/proto/notifications.proto
  core/api/src/services/notifications/proto/notifications_pb.d.ts
  core/api/src/services/notifications/proto/notifications_pb.js
  core/notifications/proto/notifications.proto
  core/notifications/src/graphql/convert.rs
  core/notifications/src/graphql/types.rs
  core/notifications/src/grpc/server/convert.rs
  core/notifications/src/grpc/server/mod.rs
  core/notifications/src/history/entity.rs
  core/notifications/src/notification_event/circle_grew.rs
  core/notifications/src/notification_event/circle_threshold_reached.rs
  core/notifications/src/notification_event/marketing_notification_triggered.rs
  core/notifications/src/notification_event/mod.rs
  core/notifications/src/push_executor/fcm/mod.rs
  core/notifications/src/push_executor/mod.rs
  core/notifications/subgraph/schema.graphql
  dev/config/apollo-federation/supergraph.graphql
Labels: admin-panel, notifications, core, dashboard

#4437 fix(core): add delay to assets vs liabilities query
  core/api/src/config/env.ts
  core/api/src/config/index.ts
  core/api/src/servers/exporter.ts
  core/api/src/services/ledger/admin-legacy.ts
  dev/core-bundle/serve-env.json
Labels: core

#4442 fix(core): avoid ln payment status subscriptions to send expired status after being paid
  core/api/src/graphql/public/root/subscription/ln-invoice-payment-status-by-hash.ts
  core/api/src/graphql/public/root/subscription/ln-invoice-payment-status-by-payment-request.ts
  core/api/src/graphql/public/root/subscription/ln-invoice-payment-status.ts
Labels: core

#4377 chore(core): add (externalId, accountId) invoices index
  bats/core/api/invoices.bats
  core/api/src/domain/shared/index.types.d.ts
  core/api/src/domain/wallet-invoices/index.types.d.ts
  core/api/src/services/mongoose/schema.ts
  core/api/test/helpers/wallet-invoices.ts
  core/api/test/integration/app/transactions/get-invoice-preimage-by-hash.spec.ts
  core/api/test/integration/app/wallets/update-pending-invoices.spec.ts
  core/api/test/integration/services/wallet-invoices-repository.spec.ts
  core/api/test/unit/domain/wallet-invoices/wallet-invoice-checker.spec.ts
  core/api/test/unit/domain/wallet-invoices/wallet-invoice-receiver.spec.ts
  core/api/test/unit/domain/wallet-invoices/wallet-invoice-status-checker.spec.ts
Labels: core

#4450 fix(pay): force react types path
  apps/pay/cypress/support/commands.ts
  apps/pay/tsconfig.json
Labels: pay

#4455 chore(consent): change next.js version
  apps/consent/package.json
  pnpm-lock.yaml
Labels: admin-panel, core, dashboard, consent, pay, map, voucher

#4457 fix(core): change balance read preference to primaryPreferred
  core/api/src/services/ledger/index.ts
Labels: core

#4439 chore(voucher): UI/UX changes
  apps/voucher/BUCK
  apps/voucher/app/create/page.tsx
  apps/voucher/app/globals.css
  apps/voucher/app/layout.tsx
  apps/voucher/app/page.tsx
  apps/voucher/app/redeem/page.tsx
  apps/voucher/app/voucher/page.tsx
  apps/voucher/app/voucher/voucher-page.module.css
  apps/voucher/app/withdraw/[voucher-secret]/lnurl/lnurl-page.module.css
  apps/voucher/app/withdraw/[voucher-secret]/lnurl/lnurl.tsx
  apps/voucher/app/withdraw/[voucher-secret]/voucher-secret.tsx
  apps/voucher/components/button/button.module.css
  apps/voucher/components/button/index.tsx
  apps/voucher/components/create/confirm-modal/index.tsx
  apps/voucher/components/create/create-page-amount/index.tsx
  apps/voucher/components/create/create-page-percentage/index.tsx
  apps/voucher/components/nav-bar/nav-bar.module.css
  apps/voucher/components/nav-bar/navigation.tsx
  apps/voucher/components/num-pad/num-pad.module.css
  apps/voucher/components/select/index.tsx
  apps/voucher/components/separator/index.tsx
  apps/voucher/components/sheet/index.tsx
  apps/voucher/components/utils.ts
  apps/voucher/context/currency-context.tsx
  apps/voucher/cypress/e2e/create-withdraw-link/create-withdraw-link.cy.ts
  apps/voucher/lib/utils.ts
  apps/voucher/middleware.ts
  apps/voucher/package.json
  apps/voucher/public/background/green-voucher-pattern.svg
  apps/voucher/public/blink-logo.svg
  apps/voucher/public/blink-voucher-logo.svg
  apps/voucher/public/close-outline.svg
  apps/voucher/public/copy.svg
  apps/voucher/public/create-new.svg
  apps/voucher/public/menu-outline.svg
  apps/voucher/public/my-voucher.svg
  apps/voucher/public/print.svg
  apps/voucher/public/redeem-voucher.svg
  apps/voucher/public/share.svg
  apps/voucher/tailwind.config.ts
  pnpm-lock.yaml
Labels: admin-panel, core, dashboard, consent, pay, map, voucher

#4459 chore(voucher): remove async from root layout
  apps/voucher/app/layout.tsx
Labels: voucher

#4444 feat(notifications): add icon to stateful notification
  apps/admin-panel/components/notification/builder.tsx
  apps/admin-panel/components/notification/filtered-sender.tsx
  apps/admin-panel/components/notification/notification-actions.tsx
  apps/admin-panel/components/notification/test-sender.tsx
  apps/admin-panel/generated.ts
  apps/dashboard/services/graphql/generated.ts
  core/api/src/app/admin/index.types.d.ts
  core/api/src/app/admin/trigger-marketing-notification.ts
  core/api/src/domain/notifications/index.ts
  core/api/src/domain/notifications/index.types.d.ts
  core/api/src/graphql/admin/root/mutation/marketing-notification-trigger.ts
  core/api/src/graphql/admin/schema.graphql
  core/api/src/graphql/admin/types/scalar/notification-icon.ts
  core/api/src/services/notifications/convert.ts
  core/api/src/services/notifications/index.ts
  core/api/src/services/notifications/proto/notifications.proto
  core/api/src/services/notifications/proto/notifications_pb.d.ts
  core/api/src/services/notifications/proto/notifications_pb.js
  core/notifications/proto/notifications.proto
  core/notifications/src/graphql/convert.rs
  core/notifications/src/graphql/types.rs
  core/notifications/src/grpc/server/convert.rs
  core/notifications/src/grpc/server/mod.rs
  core/notifications/src/history/entity.rs
  core/notifications/src/notification_event/marketing_notification_triggered.rs
  core/notifications/src/notification_event/mod.rs
  core/notifications/subgraph/schema.graphql
  dev/config/apollo-federation/supergraph.graphql
Labels: admin-panel, notifications, core, dashboard

#4465 chore(voucher): passing runtime env variables from server-actions
  apps/voucher/app/layout.tsx
Labels: voucher

#4467 chore: add otel info for pinecone
  core/api/package.json
  core/api/src/services/openai/pinecone.ts
  pnpm-lock.yaml
Labels: admin-panel, core, dashboard, consent, pay, map, voucher

#4469 chore(voucher): updated confirm voucher modal
  apps/voucher/components/create/confirm-modal/confirm-modal.module.css
  apps/voucher/components/create/confirm-modal/index.tsx
Labels: voucher

#4466 chore(pay): layout changes
  apps/pay/app/[username]/page.tsx
  apps/pay/app/[username]/username.module.css
  apps/pay/app/globals.css
  apps/pay/components/parse-pos-payment/digit-button.tsx
  apps/pay/components/parse-pos-payment/index.tsx
  apps/pay/components/parse-pos-payment/parse-payment.module.css
Labels: pay

#4458 chore(voucher): integrate currency list fetching and validation in currency context
  apps/voucher/components/nav-bar/navigation.tsx
  apps/voucher/context/currency-context.tsx
Labels: voucher

#4435 refactor(pay): moving hooks to hooks folder
  apps/pay/app/[username]/transaction/page.tsx
  apps/pay/app/lnurlp/[username]/callback/route.ts
  apps/pay/app/lnurlp/[username]/route.ts
  apps/pay/components/parse-pos-payment/index.tsx
  apps/pay/components/parse-pos-payment/receive-invoice.tsx
  apps/pay/components/payment-outcome/index.tsx
  apps/pay/components/payment-outcome/receipt.tsx
  apps/pay/hooks/use-display-currency.tsx
  apps/pay/hooks/use-realtime-price.tsx
  apps/pay/hooks/use-sat-price.tsx
  apps/pay/lib/utils/date-util.ts
  apps/pay/lib/utils/index.ts
Labels: pay

#4483 fix: assistant function call when multple tool are needed in the same…
  core/api/src/domain/support/errors.ts
  core/api/src/graphql/error-map.ts
  core/api/src/services/openai/assistant.ts
Labels: core

#4481 chore(voucher): updated nav-menu
  apps/voucher/app/globals.css
  apps/voucher/components/nav-bar/navigation.tsx
  apps/voucher/public/create-voucher-outline.svg
  apps/voucher/public/links-outline.svg
  apps/voucher/public/log-out-outline-red.svg
  apps/voucher/public/redeem-outline.svg
  apps/voucher/tailwind.config.ts
Labels: voucher

#4480 chore(voucher): using knex migrate for migration
  apps/voucher/instrumentation.ts
  apps/voucher/next.config.js
  apps/voucher/package.json
  apps/voucher/services/db/connection.ts
  apps/voucher/services/db/migrations/20240406102113_create_withdraw_links.mjs
  apps/voucher/services/db/migrations/20240406102113_create_withdraw_links.ts
Labels: voucher

#4479 feat(voucher): adding platform fees
  apps/voucher/app/create/client-side-page.tsx
  apps/voucher/app/create/page.tsx
  apps/voucher/components/create/confirm-modal/index.tsx
  apps/voucher/components/create/create-page-amount/index.tsx
  apps/voucher/cypress/e2e/create-withdraw-link/create-withdraw-link.cy.ts
  apps/voucher/env.ts
  apps/voucher/graphql/resolvers.ts
  apps/voucher/lib/amount-calculator.ts
  apps/voucher/lib/utils.ts
  apps/voucher/services/db/index.ts
  apps/voucher/services/db/migrations/20240520210910_adding_platformFee.mjs
  apps/voucher/utils/helpers.ts
Labels: voucher

#4363 feat(pay): add checkout page
  apps/pay/app/checkout/[hash]/hash.module.css
  apps/pay/app/checkout/[hash]/page.tsx
  apps/pay/app/checkout/route.ts
  apps/pay/app/graphql/queries/invoice-by-hash.ts
  apps/pay/components/galoy-icon.tsx
  apps/pay/components/invoice/expiration-label.tsx
  apps/pay/components/invoice/index.module.css
  apps/pay/components/invoice/index.tsx
  apps/pay/components/invoice/index.types.d.ts
  apps/pay/components/invoice/print-button.tsx
  apps/pay/components/invoice/receipt.tsx
  apps/pay/components/invoice/return-button.tsx
  apps/pay/components/invoice/status-actions.tsx
  apps/pay/components/layouts/checkout-layout.tsx
  apps/pay/components/memo/index.tsx
  apps/pay/components/payment-outcome/receipt.tsx
  apps/pay/components/utils.ts
  apps/pay/context/invoice-status-context.tsx
  apps/pay/cypress/component/invoice/expiration-label.cy.tsx
  apps/pay/cypress/support/component-index.html
  apps/pay/cypress/support/component.ts
  apps/pay/lib/graphql/generated.ts
  apps/pay/lib/logger.ts
  apps/pay/lib/utils/index.ts
  apps/pay/middleware.ts
  apps/pay/package.json
  apps/pay/tsconfig.json
  pnpm-lock.yaml
Labels: pay

#4488 fix(pay): update withAuth middleware params
  apps/pay/middleware.ts
  dev/Tiltfile
Labels: pay

#4487 chore(voucher): adding server wrapper for apollo provider
  apps/voucher/app/layout.tsx
  apps/voucher/config/apollo-rsc-wrapper.tsx
Labels: voucher

#4492 feat: adding display voucher price
  apps/voucher/app/user/links/page.tsx
  apps/voucher/app/withdraw/[voucher-secret]/lnurl/lnurl.tsx
  apps/voucher/components/create/confirm-modal/index.tsx
  apps/voucher/graphql/resolvers.ts
  apps/voucher/graphql/schema.ts
  apps/voucher/lib/graphql/generated/index.ts
  apps/voucher/services/db/index.ts
  apps/voucher/services/db/migrations/20240530124319_adding_display_voucher_price.mjs
Labels: voucher

#4493 chore(voucher): adding voucher price as input
  apps/voucher/app/create/client-side-page.tsx
  apps/voucher/components/create/confirm-modal/index.tsx
  apps/voucher/graphql/resolvers.ts
  apps/voucher/graphql/schema.ts
  apps/voucher/lib/graphql/generated/index.ts
Labels: voucher
