Repository GaloyMoney/blink, pull requests merged in 2025-04, with the labels that each got.

#4789 feat(core): add telegram passport login
  bats/core/api/auth.bats
  bats/helpers/telegram-passport/index.js
  core/api/galoy.yaml
  core/api/package.json
  core/api/src/app/authentication/authorize-telegram-passport-nonce.ts
  core/api/src/app/authentication/index.ts
  core/api/src/app/authentication/login.ts
  core/api/src/app/authentication/request-telegram-passport-nonce.ts
  core/api/src/config/env.ts
  core/api/src/config/index.ts
  core/api/src/config/schema.ts
  core/api/src/config/schema.types.d.ts
  core/api/src/config/yaml.ts
  core/api/src/domain/authentication/errors.ts
  core/api/src/domain/authentication/index.ts
  core/api/src/domain/authentication/index.types.d.ts
  core/api/src/domain/cache/index.ts
  core/api/src/domain/errors.ts
  core/api/src/domain/rate-limit/errors.ts
  core/api/src/domain/rate-limit/index.ts
  core/api/src/domain/users/index.ts
  core/api/src/graphql/error-map.ts
  core/api/src/servers/authentication/index.ts
  core/api/src/servers/authentication/telegram-passport/index.ts
  core/api/src/servers/authentication/telegram-passport/login.ts
  core/api/src/servers/authentication/telegram-passport/request-nonce.ts
  core/api/src/servers/authentication/telegram-passport/webhook.ts
  core/api/src/services/tracing.ts
  dev/config/telegram-passport/private.pem
  dev/config/telegram-passport/public.pem
  dev/core-bundle/integration-env.json
  dev/core-bundle/serve-env.json
  pnpm-lock.yaml
Labels: admin-panel, core, dashboard, consent, pay, map, voucher

#4794 fix(core): update telegram passport webhook handling
  bats/core/api/auth.bats
  bats/core/api/public-ln-receive.bats
  bats/helpers/user.bash
  core/api/src/domain/users/index.ts
  core/api/src/servers/authentication/telegram-passport/webhook.ts
  core/api/test/unit/domain/users/checked-to-phonenumber.spec.ts
Labels: core

#4796 chore(core): bump eslint
  core/api/.eslintrc.js
  core/api/BUCK
  core/api/eslint.config.js
  core/api/package.json
  core/api/src/config/yaml.ts
  core/api/src/debug/text-sms.ts
  core/api/src/domain/bitcoin/onchain/tx-decoder.ts
  core/api/src/domain/fiat/display-currency.ts
  core/api/src/graphql/admin/types/scalar/external-url.ts
  core/api/src/graphql/public/types/scalar/endpoint-url.ts
  core/api/src/migrations/20240130210000-location-migration-1.ts
  core/api/src/services/mongoose/wallet-onchain-pending-receive.ts
  core/api/src/services/price/grpc.ts
  core/api/src/services/rate-limit/index.ts
  core/api/test/integration/services/lnd-service.spec.ts
  core/api/test/unit/config.spec.ts
  core/api/test/unit/domain/wallets/tx-history.spec.ts
  core/api/test/unit/payments/onchain-payment-flow-builder.spec.ts
  pnpm-lock.yaml
Labels: admin-panel, core, dashboard, consent, pay, map, voucher

#4799 fix: make an exception for a special phone number
  core/api/src/domain/users/index.ts
  core/api/test/unit/domain/users/checked-to-phonenumber.spec.ts
Labels: core

#4801 fix: telegram login ip not defined
  apps/consent/app/login/telegram/server-actions.ts
Labels: core, consent

#4808 chore: recreate cargo lock
  Cargo.lock
Labels: notifications, api-keys

#4810 chore(ci): add bats ci run script
  bats/ci_run.sh
  bats/ci_setup_suite.bash
  ci/core/pipeline.yml
  ci/core/template.lib.yml
Labels: ci

#4811 ci: increase core bundle timeouts
  Cargo.lock
  bats/ci_run.sh
  ci/apps/app-template.lib.yml
  ci/core/pipeline.yml
  ci/core/template.lib.yml
Labels: notifications, ci, api-keys

#4813 chore(core): bump deps
  core/api/package.json
  pnpm-lock.yaml
Labels: admin-panel, core, dashboard, consent, pay, map, voucher

#4816 chore: update pnpm install cmd in toolchains
  .github/workflows/e2e-test.yml
  bats/ci_run.sh
  toolchains/simple-pnpm/build_node_modules.py
  toolchains/workspace-pnpm/build_node_modules.py
Labels: ci

#4798 feat: create an invited account in account the default wallet
  bats/core/api/intraledger-send.bats
  bats/core/api/public-ln-receive.bats
  core/api/src/app/accounts/create-account.ts
  core/api/src/app/accounts/get-default-wallet-for-username-phone.ts
  core/api/src/app/accounts/index.ts
  core/api/src/app/accounts/update-account-status.ts
  core/api/src/app/authentication/activate-invited-account.ts
  core/api/src/app/authentication/create-kratos-identity-by-phone.ts
  core/api/src/app/authentication/get-phone-metadata.ts
  core/api/src/app/authentication/index.ts
  core/api/src/app/authentication/login.ts
  core/api/src/app/payments/send-intraledger.ts
  core/api/src/app/payments/send-lightning.ts
  core/api/src/app/payments/send-on-chain.ts
  core/api/src/app/payments/update-pending-payments.ts
  core/api/src/app/wallets/add-pending-on-chain-transaction.ts
  core/api/src/app/wallets/add-settled-on-chain-transaction.ts
  core/api/src/app/wallets/settle-payout-txn.ts
  core/api/src/app/wallets/update-single-pending-invoice.ts
  core/api/src/config/env.ts
  core/api/src/config/index.ts
  core/api/src/config/types.d.ts
  core/api/src/domain/accounts/account-validator.ts
  core/api/src/domain/accounts/primitives.ts
  core/api/src/domain/notifications/index.types.d.ts
  core/api/src/domain/phone-provider/index.types.d.ts
  core/api/src/domain/sms-templates/index.ts
  core/api/src/domain/sms-templates/index.types.d.ts
  core/api/src/domain/sms-templates/welcome.ts
  core/api/src/servers/write-sdl.ts
  core/api/src/services/notifications/index.ts
  core/api/src/services/twilio-service.ts
  core/api/test/integration/services/notifications.spec.ts
  core/api/test/unit/domain/accounts/account-validator.spec.ts
  dev/core-bundle/dummy-env.json
  dev/core-bundle/integration-env.json
  dev/core-bundle/serve-env.json
Labels: core

#4826 fix(core): avoid valid phone numbers as usernames
  bats/core/api/account.bats
  core/api/src/app/accounts/get-default-wallet-for-username-phone.ts
  core/api/src/app/accounts/set-username.ts
  core/api/src/app/accounts/username-available.ts
  core/api/src/domain/users/index.ts
  core/api/test/integration/app/accounts/set-username.spec.ts
  core/api/test/unit/domain/users/checked-to-phonenumber.spec.ts
  core/api/test/unit/domain/users/checked-to-username.spec.ts
Labels: core

#4827 fix(core): allow 00 prefix
  core/api/src/domain/users/index.ts
  core/api/test/unit/domain/users/checked-to-phonenumber.spec.ts
Labels: core
