Repository GaloyMoney/blink, pull requests merged in 2025-01, with the labels that each got.

#4680 chore: fix some comments
  core/api/src/graphql/error.ts
  prelude/decls/erlang_rules.bzl
  prelude/java/java_library.bzl
  prelude/kotlin/kotlin_library.bzl
Labels: core

#4717 chore(core): update feedback webhook content
  core/api/package.json
  core/api/src/app/comm/submit-feedback.ts
  pnpm-lock.yaml
Labels: admin-panel, core, dashboard, consent, pay, api-keys, map, voucher

#4718 perf(api-keys): avoid db scan in find_subject_by_key
  core/api-keys/src/identity/mod.rs
Labels: api-keys

#4720 fix(pay): disable comment in lnurl pay
  apps/pay/app/lnurlp/[username]/route.ts
Labels: core, pay

#4729 fix(consent): show channels available per country
  apps/consent/components/phone-auth/index.tsx
  apps/consent/components/phone-auth/phone-auth-form.tsx
Labels: consent
